<div class="comment_in_request box" id="comment-<%=comment.id.to_s%>">
  <div class="comment_content">
    <% if comment.user && comment.user.show_profile_photo? && !@render_to_file %>
      <div class="user_photo_on_comment">
        <img src="<%= get_profile_photo_url(:url_name => comment.user.url_name) %>" alt="">
      </div>
    <% end %>

    <h2>
      <%# When not logged in, but mid-comment-leaving, there'll be no comment.user %>
      <%= comment.user ?
        _("{{user_name}} left an annotation ({{date}})",
            :user_name => user_link(comment.user),
            :date => simple_date(comment.created_at || Time.zone.now)) :
        _("You left an annotation ({{date}})",
            :date => simple_date(comment.created_at || Time.zone.now)) %>
    </h2>

    <div class="comment_in_request_text">
      <p>
        <%= comment.get_body_for_html_display %>
      </p>
    </div>

    <p class="event_actions">
      <% if comment.id %>
        <% if @user && @user.admin_page_links? %>
          <%= link_to "Admin", edit_admin_comment_path(comment) %>
        <% end %>
      <% end %>
    </p>
  </div>

  <% if comment.id %>
    <div class="correspondence__footer">
      <% unless @info_request.embargo %>
        <div class="correspondence__footer__cplink">
          <input type="text" id="cplink__field" class="cplink__field" value="<%= comment_url(comment) %>">
          <a class="cplink__button"><%= _('Link to this') %></a>

          <% report_path =
               new_request_report_path(request_id: @info_request.url_title,
                                       comment_id: comment.id) %>
          <%= link_to _('Report'), report_path, class: 'cplink__button' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
