<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇫🇷</span><%= _('France') %></div>
  <%= image_tag('ati_network/showcase/20240118-lqdn-policepredictive.jpg', alt: _('Smart City surveillance report'), :class => "card--image", loading: 'lazy') %>
  <h3 class="card--title"><%= _('The "Smart City" is revealing its true face') %></h3>
  <p class="card--text"><%= _('– that of total surveillance of urban space for police purposes.') %></p>
  <a href="https://www.laquadrature.net/wp-content/uploads/sites/8/2024/01/20240118_LQDN_policepredictive.pdf" class="card--button"><%= _('Read more') %></a>
</div>
