<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇫🇷</span><%= _('France') %></div>
  <div class="modal-button card-thumbnail" tabindex="0" role="button" aria-label="<%= _("Open video: Le Parisien investigates mayors' spending") %>">
    <div class="video-thumbnail">
      <div class="youtube-svg"></div>
      <img src="https://img.youtube.com/vi/Q6Z0ufqKwkk/maxresdefault.jpg" loading="lazy" role="presentation" aria-hidden="true">
    </div>
  </div>
  <div class="modal-content modal-hidden" aria-hidden="true">
    <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title-10">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title-10"><%= _("Le Parisien investigates mayors' spending") %></h3>
        <button class="modal-close modal-close--just-icon" aria-label="<%= _('Close') %>">×</button>
      </div>
      <p><%= _("Dior clothing, rabbit-shaped pizza, Breton bowls… The publication of the sometimes surprising expense reports of some Paris mayors has sparked outrage in recent weeks. With the municipal elections approaching, it's an opportunity for some citizens to take a look at the expenses of their city's mayor.") %></p>
      <div class="modal-body">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Q6Z0ufqKwkk?si=QVYrHkViBNw-XDFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
