<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇬🇧</span><%= _('United Kingdom') %></div>
  <%= image_tag('ati_network/showcase/city-of-town.jpg', alt: _('Sold From Under You'), :class => "card--image", loading: 'lazy') %>
  <h3 class="card--title"><%= _('Sold From Under You') %></h3>
  <p class="card--text"><%= _('Crowdsourced FOI data exposing publicly-owned property sell offs by councils to fill funding gaps caused by austerity measures.') %></p>
  <a href="https://www.mysociety.org/2019/06/05/case-study-sold-from-under-you-by-the-bureau-of-investigative-journalism/" class="card--button"><%= _('Read more') %></a>
</div>
