<fieldset id="attachments" class="form-horizontal">
  <legend>Attachments</legend>

  <% if foi_attachments.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Attachment</th>
          <th>Content Type</th>
          <th>Hexdigest</th>
          <th>Display Size</th>
          <th>Redaction</th>
        </tr>
      </thead>
      <tbody>
        <% foi_attachments.each do |attachment| %>
          <tr>
            <td>
              <%= both_links attachment %>
              <%= locked_icon attachment %>

              <% if attachment.main_body_part? %>
                <span class="label">Main Body</span>
              <% end %>
              <% if attachment.replaced? %>
                <span class="label">Replaced</span>
              <% end %>
            </td>
            <td><tt><%= attachment.content_type %></tt></td>
            <td><tt><%= attachment.hexdigest %></tt></td>
            <td><tt><%= attachment.display_size %></tt></td>
            <td>
              <% if attachment.content_type == 'application/pdf' && attachment.metadata&.dig('redaction').present? %>
                <% redaction = attachment.metadata['redaction'] %>
                <% if redaction['success'] %>
                  <% if redaction['strategy'] == 'mixed' %>
                    <span class="label label-warning">Partial</span>
                  <% else %>
                    <span class="label label-success">OK</span>
                  <% end %>
                <% else %>
                  <span class="label label-important">Failed</span>
                <% end %>
                <details>
                  <summary>Details</summary>
                  <%= render 'admin_incoming_message/redaction_report',
                             redaction: redaction %>
                </details>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No attachments.</p>
  <% end %>
</fieldset>
