<%= render :partial => 'intro', :locals => {:incoming_message => @incoming_message } %>
<%= render :partial => 'actions', :locals => { :incoming_message => @incoming_message } %>
<fieldset class="form-horizontal">
  <legend>Prominence</legend>
  <%= form_tag admin_incoming_message_path(@incoming_message), :method => 'put', :class => "form form-inline"  do %>

    <div class="control-group">
      <label class="control-label" for="incoming_message_prominence"> Prominence</label>
      <div class="controls">
        <%= select('incoming_message', "prominence", IncomingMessage.prominence_states) %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="incoming_message_prominence_reason">Reason for prominence</label>
      <div class="controls">
        <%= text_area "incoming_message", "prominence_reason", :rows => 5, :class => "span6" %>
      </div>
    </div>

    <div class="form-actions" >
      <%= submit_tag 'Save', :class => "btn" %>
    </div>

  <% end %>
</fieldset>
