<ul class="dashboard-folders">
  <li class="dashboard-folder dashboard-folder--top-level dashboard-folder--selected">
    <a href="<%= alaveteli_pro_info_requests_path %>" class="dashboard-folder__name">
      <%= _('All requests') %>
      <span class="dashboard-folder__count"><%= @user.request_summaries.not_category(:draft).count %></span>
    </a>
  </li>
  <ul class="dashboard-sub-folders">


    <% InfoRequest::State.phases.each do |phase| %>
    <li class="dashboard-folder">
      <% if @user.request_summaries.category(phase[:scope]).count != 0 %>
        <a href="<%= alaveteli_pro_info_requests_path('alaveteli_pro_request_filter[filter]' => phase[:scope]) %>" class="dashboard-folder__name">
      <% else %>
        <span class="dashboard-folder__name dashboard-folder__name--disabled">
      <% end %>
        <span class="phase-icon phase-icon--<%= phase[:param] %>"></span>
        <%= phase[:capital_label] %>
        <span class="dashboard-folder__count">
          <%= @user.request_summaries.category(phase[:scope]).count %>
        </span>
      <% if @user.request_summaries.category(phase[:scope]).count != 0 %>
        </a>
      <% else %>
        </span>
      <% end %>
    </li>
    <% end %>
  </ul>
</ul>

<ul class="dashboard-folders">

  <li class="dashboard-folder dashboard-folder--top-level ">
    <% if @user.request_summaries.category(:draft).count != 0 %>
      <a href="<%= alaveteli_pro_info_requests_path('alaveteli_pro_request_filter[filter]' => 'draft') %>" class="dashboard-folder__name">
    <% else %>
      <span class="dashboard-folder__name">
    <% end %>
    <%= _('Drafts') %>
    <span class="dashboard-folder__count">
      <%= @user.request_summaries.category(:draft).count %>
    </span>
    <% if @user.request_summaries.category(:draft).count != 0 %>
      </a>
    <% else %>
      </span>
    <% end %>
  </li>

</ul>
