
<div class="inner-canvas">

  <div class="inner-canvas-header">
    <div class="row">
      <h1><%= _("Your dashboard") %></h1>
    </div>
  </div>

  <div class="inner-canvas-body">
    <div class="row">
      <div class="dashboard-left-column">

        <%= render partial: 'alaveteli_pro/dashboard/projects' %>

      </div> <!-- .dashboard-left-column -->

      <div class="dashboard-right-column">
        <div class="dashboard__announcements carousel" aria-live="polite">
          <ul class="dashboard__announcements__list carousel-content">
            <li class="dashboard__announcements__list-item carousel-item" aria-hidden="false">
              <div class="dashboard__announcement">
                  <h2 class="dashboard__announcement__title">Introducing projects</h2>
                  <div class="dashboard__announcement__content">
                    <p>We’re delighted to announce we’ve rolled out the new projects feature to all Pro users. You can now group your requests into projects and keep on top of your workflow with a birds’ eye view. <a href="#">Read more on our blog</a>.</p>
                  </div>
                  <a href="#" class="dashboard__announcement_dismiss">Dismiss</a>
              </div>
            </li>
            <li class="dashboard__announcements__list-item carousel-item" aria-hidden="true">
              <div class="dashboard__announcement">
                  <h2 class="dashboard__announcement__title">Introducing projects</h2>
                  <div class="dashboard__announcement__content">
                    <p>We’re delighted to announce we’ve rolled out the new projects feature to all Pro users. You can now group your requests into projects and keep on top of your workflow with a birds’ eye view. <a href="#">Read more on our blog</a>.</p>
                  </div>
                  <a href="#" class="dashboard__announcement_dismiss">Dismiss</a>
              </div>
            </li>
            <li class="dashboard__announcements__list-item carousel-item" aria-hidden="true">
              <div class="dashboard__announcement">
                  <h2 class="dashboard__announcement__title">Introducing projects</h2>
                  <div class="dashboard__announcement__content">
                    <p>We’re delighted to announce we’ve rolled out the new projects feature to all Pro users. You can now group your requests into projects and keep on top of your workflow with a birds’ eye view. <a href="#">Read more on our blog</a>.</p>
                  </div>
                  <a href="#" class="dashboard__announcement_dismiss">Dismiss</a>
              </div>
            </li>
          </ul>
          <fieldset aria-label="carousel buttons" class="dashboard__announcements__controls carousel-buttons" aria-controls="carousel">
            <button value="prev" aria-label="previous" id="prev" class="carousel-button">&laquo;</button>
            <span class="dashboard__announcements__controls__status">1 of 3</span>
            <button value="next" id="next" aria-label="next" class="carousel-button">&raquo;</button>
          </fieldset>
        </div>
        <% if @to_do_list.active_items.empty? && @user.info_requests.empty? && @user.draft_info_requests.empty? %>
          <%= render partial: 'no_to_dos' %>
        <% elsif @to_do_list.active_items.empty? %>
          <%= render partial: 'done_to_dos' %>
        <% else %>
          <%= render partial: 'to_do_list' %>
        <% end %>


        <div class="dashboard-activity">
          <h2 class="dashboard-activity__title"><%= _("Activity") %></h2>
          <%= render partial: 'activity_list_item', :collection => @activity_list.current_items %>
          <%= will_paginate WillPaginate::Collection.new(@page, @per_page, @activity_list.events.count) %>

        </div> <!-- .dashboard-activity -->

      </div>  <!-- .dashboard-right-column -->


   </div>
  </div>  <!-- .dashboard-body -->

</div>  <!-- .dashboard -->
