<%= render partial: 'ga_events' %>

<div class="inner-canvas">

  <div class="inner-canvas-header">
    <div class="row">
      <h1><%= _("Your dashboard") %></h1>
    </div>
  </div>

  <div class="inner-canvas-body">
    <div class="row">
      <div class="dashboard-left-column">

        <%= render partial: 'alaveteli_pro/dashboard/projects' %>

      </div> <!-- .dashboard-left-column -->

      <div class="dashboard-right-column">
        <% if @announcements.present? %>
          <%= render partial: 'announcements' %>
        <% end %>

        <% if @to_do_list.active_items.empty? && @user.info_requests.empty? && @user.draft_info_requests.empty? && @user.info_request_batches.empty? && @user.draft_info_request_batches.empty? %>
          <%= render partial: 'no_to_dos' %>
        <% elsif @to_do_list.active_items.empty? %>
          <%= render partial: 'done_to_dos' %>
        <% else %>
          <%= render partial: 'to_do_list' %>
        <% end %>

        <div class="dashboard-activity">
          <h2 class="dashboard-activity__title"><%= _("Activity") %></h2>
          <%= render partial: 'activity_list_item', collection: @activity_list.current_items %>
          <%= will_paginate WillPaginate::Collection.new(@page, @per_page, @activity_list.events.count) %>

        </div> <!-- .dashboard-activity -->

      </div>  <!-- .dashboard-right-column -->

   </div>
  </div>  <!-- .dashboard-body -->

</div>  <!-- .dashboard -->
