<% if @citations.any? %>
  <%= form_tag admin_citations_path, method: :delete do %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>URL</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% @citations.each do |citation| %>
          <tr>
            <td><%= check_box_tag 'citation_ids[]', citation.id %></td>
            <td><%= citation.id %></td>
            <td><tt><%= link_to citation.source_url, citation.source_url %></tt></td>
            <td>
            <%= both_links(citation.user) %>
            <%= arrow_right %>
            <%= both_links(citation.citable) %>,
            <%= admin_date(citation.created_at, ago_only: true) %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="btn-group">
      <%= submit_tag 'Destroy selected', name: 'destroy', class: 'btn btn-danger' %>
    </div>

    <a href="#" class="select_all btn btn-link" data-state="unchecked" data-target="citation_ids[]">
      Select all
    </a>
  <% end %>
<% else %>
  <p>None yet.</p>
<% end %>
