<div id="citations">
  <% if citations.any? %>
    <% citations.each do |citation| %>
      <div class="row">
        <span class="item-title span6">
          <%= citation_icon(citation) %>
          <tt><%= link_to citation_source_url, edit_admin_citation_path(citation) %></tt>
        </span>

        <span class="item-metadata span6">
          <%= both_links(citation.user) %>
          <%= arrow_right %>
          <%= both_links(citation.citable) %>,
          <%= admin_date(citation.created_at, ago_only: true) %>
        </span>
      </div>
    <% end %>
  <% else %>
    <p>None yet.</p>
  <% end %>
</div>
