<div id="citations">
  <% if citations.any? %>
    <%= form_tag admin_citations_path, method: :delete do %>
      <% citations.each do |citation| %>
        <div class="row">
          <span class="item-title span6">
            <%= check_box_tag 'citation_ids[]', citation.id %>

            <tt><%= link_to citation.source_url, citation.source_url %></tt>
          </span>

          <span class="item-metadata span6">
            <%= both_links(citation.user) %>
            <%= arrow_right %>
            <%= both_links(citation.citable) %>,
            <%= admin_date(citation.created_at, ago_only: true) %>
          </span>
        </div>
      <% end %>
      <p>
        <div class="btn-group">
          <%= submit_tag 'Destroy selected', name: 'destroy', class: 'btn btn-danger' %>
        </div>
        <a href="#" class="select_all btn btn-link" data-state="unchecked" data-target="citation_ids[]">
          Select all
        </a>
      </p>
    <% end %>
  <% else %>
    <p>None yet.</p>
  <% end %>
</div>
