<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1><%= @title = 'Citations' %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <p class="lead">
      Citations link requests to places they’re referenced elsewhere.
    </p>
  </div>
</div>


<%= form_tag({}, method: :get, class: 'form form-search') do %>
  <div class="input-append">
    <%= text_field_tag 'query', params[:query], size: 30, class: 'input-large search-query' %>
    <%= submit_tag 'Search', class: 'btn' %>
  </div>

  <span class="help-inline">(substring search, source_url)</span>
<% end %>


<%= render partial: 'admin/citations/list',
           locals: { citations: @citations } %>

<%= will_paginate(@citations) %>
