<section id="ati-advocacy">
  <div class="container">
    <div class="container--subheading">
      <h2><%= _('Holding the line on transparency') %></h2>

      <p class="subheading--lead">
        <%= _('Connect with others working to promote and strengthen Access To Information rights and technologies across the world.') %>
      </p>
    </div>

    <div class="gallery-grid">
      <div class="gallery-grid--card">
        <h3 class="card--title with--background"><%= _('Maintaining accessibility') %></h3>

        <p>
          <%= _('<strong>We watch</strong> how the system works in practice, using data from our platforms to call out failures and champion improvements.').html_safe %>
        </p>
      </div>

      <div class="gallery-grid--card">
        <h3 class="card--title with--background"><%= _('Upholding rights') %></h3>

        <p>
          <%= _('<strong>We defend</strong> the right to know, challenging backsliding and ensuring authorities meet their obligations to openness and accountability.').html_safe %>
        </p>
      </div>

      <div class="gallery-grid--card">
        <h3 class="card--title with--background"><%= _('Expanding scope') %></h3>

        <p>
          <%= _('<strong>We advocate</strong> for stronger, broader transparency laws that extend the right to know into more corners of public power.').html_safe %>
        </p>
      </div>
    </div>

    <a class="link_button_green" href="https://tictec.mysociety.org/ati-community-of-practice/">
      <%= _('Join our Access to Information Community of Practice') %>
    </a>
  </div>
</section>
