<section class="ati-hero-section">
  <%= image_tag('ati_network/showcase/worldmap-pale.svg', alt: _('World map'), :class => "ati-hero-section-image") %>

  <div class="ati-hero-content">
    <div class="row ati-hero-main-content">
      <h1><%= _('Access to Information<br>around the world').html_safe %></h1>

      <p class="ati-hero-subtitle">
        <%= _('{{site_name}} is part of a global network of Access to Information sites that have helped people make <strong>over 1.5 million requests</strong> for information in <strong>more than 25 countries</strong>.', site_name: site_name) %>
      </p>
    </div>

    <div class="row ati-hero-list-sites-section">
      <h2><%= _('<span>This site and many others are powered by <a href="https://alaveteli.org/">Alaveteli</a>, a service by</span> <a href="https://www.mysociety.org/" class="mysociety-logo" aria-label="Go to mySociety"></a>'.html_safe) %></h2>

      <ul>
        <li><a href="https://derechoaldato.com.ar/"><span class="deployment-flag">🇦🇷</span> Derecho al Dato</a></li>
        <li><a href="https://www.righttoknow.org.au/"><span class="deployment-flag">🇦🇺</span> Right to Know</a></li>
        <li><a href="https://transparencia.be/"><span class="deployment-flag">🇧🇪</span> Transparencia</a></li>
        <li><a href="https://www.queremosdatos.co/"><span class="deployment-flag">🇨🇴</span> Queremosdatos</a></li>
        <li><a href="https://imamopravoznati.org/"><span class="deployment-flag">🇭🇷</span> Imamo pravo znati</a></li>
        <li><a href="https://www.infoprovsechny.cz/"><span class="deployment-flag">🇨🇿</span> Info Pro Všechny</a></li>
        <li><a href="https://www.asktheeu.org/"><span class="deployment-flag">🇪🇺</span> Ask the EU</a></li>
        <li><a href="https://madada.fr/"><span class="deployment-flag">🇫🇷</span> MaDada</a></li>
        <li><a href="https://askgov.ge/"><span class="deployment-flag">🇬🇪</span> Ask Gov</a></li>
        <li><a href="https://www.arthro5a.gr/"><span class="deployment-flag">🇬🇷</span> arthro5A.gr</a></li>
        <li><a href="https://accessinfo.hk/"><span class="deployment-flag">🇭🇰</span> accessinfo.hk</a></li>
        <li><a href="https://kimittud.hu/"><span class="deployment-flag">🇭🇺</span> Ki Mit Tud</a></li>
        <li><a href="https://dumedite.org/"><span class="deployment-flag">🇽🇰</span> dumeditë</a></li>
        <li><a href="https://infolib.org.lr/"><span class="deployment-flag">🇱🇷</span> InfoLib</a></li>
        <li><a href="https://www.vreauinfo.md/"><span class="deployment-flag">🇲🇩</span> VreauInfo</a></li>
        <li><a href="https://asknepal.info/"><span class="deployment-flag">🇳🇵</span> Ask Nepal</a></li>
        <li><a href="https://www.woo-knop.nl/"><span class="deployment-flag">🇳🇱</span> de Woo-Knop</a></li>
        <li><a href="https://fyi.org.nz/"><span class="deployment-flag">🇳🇿</span> FYI</a></li>
        <li><a href="https://www.mimesbronn.no/"><span class="deployment-flag">🇳🇴</span> Mimes Brønn</a></li>
        <li><a href="https://iastatullaintrebari.ro/"><span class="deployment-flag">🇷🇴</span> Ia Statul la întrebări</a></li>
        <li><a href="https://handlingar.se/"><span class="deployment-flag">🇸🇪</span> Handlingar</a></li>
        <li><a href="https://www.informini.org/"><span class="deployment-flag">🇹🇳</span> Informini</a></li>
        <li><a href="https://dostup.org.ua/"><span class="deployment-flag">🇺🇦</span> Доступ до правди</a></li>
        <li><a href="https://www.whatdotheyknow.com/"><span class="deployment-flag">🇬🇧</span> WhatDoTheyKnow</a></li>
        <li><a href="https://opramachine.com/"><span class="deployment-flag">🇺🇸</span> OPRA Machine</a></li>
        <li><a href="https://quesabes.org/"><span class="deployment-flag">🇺🇾</span> Qué Sabés</a></li>
      </ul>

      <h3><%= _('Working with our friends at') %></h3>

      <ul>
        <li><a href="https://fragdenstaat.at/en/">🇦🇹 FragDenStaat</a></li>
        <li><a href="https://fiquemsabendo.com.br/">🇧🇷 Fiquem Sabendo</a></li>
        <li><a href="https://fragdenstaat.de/en/">🇩🇪 FragDenStaat</a></li>
        <li><a href="https://abrimos.info/">🇲🇽 Abrimos.info</a></li>
        <li><a href="https://www.ppdc.org/">🇳🇬 PPDC</a></li>
        <li><a href="https://plazacivica.pe/">🇵🇪 Plaza Cívica</a></li>
        <li><a href="https://www.transparency.si/">🇸🇮 Transparency International Slovenia</a></li>
        <li><a href="https://www.opencitieslab.org/">🇿🇦 Open Cities Lab</a></li>
        <li><a href="https://openup.org.za/">🇿🇦 Open Up</a></li>
        <li><a href="https://www.muckrock.com/">🇺🇸 Muckrock</a></li>
      </ul>
    </div>
  </div>
</section>
