<% content_for :javascript_head do %>
  <%= javascript_importmap_tags("public") %>
<% end %>

<h2><%= _("Act on what you've learnt") %></h2>

<div class="act_link">
  <i class="act-link-icon act-link-icon--web-share"></i>
  <a href="<%= request.url %>"
     class="share-button js-share-request"
     role="button"
     data-share-title="<%= info_request.title %>"
     data-share-url="<%= request.url %>"
     data-clipboard-text="<%= request.url %>"
     data-clipboard-success="<%= _('Link copied!') %>">
    <%= _("Share this request") %>
  </a>
</div>

<div class="act_link">
  <i class="act-link-icon act-link-icon--medium"></i>
  <%= link_to _("Write about this on Medium"),
              "http://medium.com/",
              :onclick => track_analytics_event(
                AnalyticsEvent::Category::OUTBOUND,
                AnalyticsEvent::Action::MEDIUM_EXIT,
                :label => "Request sidebar") %>
</div>

<% if AlaveteliConfiguration::enable_widgets %>
  <div class="act_link">
    <i class="act-link-icon act-link-icon--widget"></i>
    <%= link_to _("Create a widget for this request"), new_request_widget_path(info_request.url_title) %>
  </div>
<% end %>

<% if AlaveteliConfiguration.donation_url.present? %>
  <div class="act_link">
    <i class="act-link-icon act-link-icon--donation"></i>
    <%= link_to AlaveteliConfiguration.donation_url do %>
      <%= _('<strong>Donate</strong> to {{site_name}}', site_name: site_name) %>
    <% end %>
  </div>
<% end %>
