<div class="correspondence_text">
  <% if not attachments.nil? and attachments.size > 0 %>
    <div class="attachments">
      <div class="attachments__header">
        <h3>
          <%= n_('{{count}} Attachment',
                 '{{count}} Attachments',
                 attachments.size,
                 :count => attachments.size) %>
        </h3>
      </div>

      <ul class="list-of-attachments">
        <% attachments.each do |a| %>
          <li class="attachment">
            <%= attachment_link(incoming_message, a) %>

            <p class="attachment__name">
              <%= h a.display_filename %>
            </p>

            <p class="attachment__meta">
              <%= a.display_size %>
              <%= link_to "Download", attachment_path(a) %>
              <% if a.has_body_as_html? && incoming_message.info_request.prominence(:decorate => true).is_public? %>
                <%= link_to "View as HTML", attachment_path(a, :html => true) %>
              <% end %>
              <%= a.extra_note %>
            </p>
          </li>
        <% end %>
      </ul>

      <a href="#" class="attachments__show-more" style="display: none;" data-show-all="<%= _('Show all attachments') %>" data-show-fewer="<%= _('Show fewer attachments') %>"></a>
    </div>
  <% end %>

  <p><%= body %></p>
</div>
