<% if can?(:create_citation, info_request) || citations.any? %>
  <div class="sidebar__section citations">
    <h2><%= _('In the News') %></h2>

    <% if citations.any? %>
      <ul class="citations-list">
        <%= render citations %>
      </ul>
    <% elsif can? :create_citation, info_request %>
      <p>
        <%= _('Has this request been referenced in journalism, ' \
              'campaigning, or research?') %>
      </p>
    <% end %>

    <% if can? :create_citation, info_request %>
      <%= link_to new_citation_path(url_title: info_request.url_title),
            class: 'citations-new' do %>
        <%= citations.any? ? _('New Citation') : _('Let us know') %>
      <% end %>
    <% end %>
  </div>
<% end %>
