<% if can?(:create_citation, info_request) || citations.any? %>
  <div class="sidebar__section citations">
    <h2><%= _('FOI in Action') %></h2>

    <% if citations.any? %>
      <ul class="citations-list--compact">
        <%= render partial: 'citations/compact',
                   collection: citations,
                   as: :citation %>
      </ul>
    <% end %>

    <% if can? :create_citation, info_request %>
      <p>
        <%= _('Has this request been referenced in journalism, ' \
              'campaigning, or research?') %>

        <br>

        <%= link_to new_citation_path(url_title: info_request.url_title),
              class: 'citations-new' do %>
          <%=  _('Let us know') %>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= _('See more examples of <a href="{{citations_path}}">' \
              'FOI in Action</a>.',
              citations_path: citations_path) %>
      </p>
    <% end %>
  </div>
<% end %>
