<% if can?(:update_request_state, @info_request) && incoming_message.refusals? %>
  <div class="correspondence__suggestion">
    <p>
      <%= _('{{authority_name}} may have refused all or part of your request ' \
            'under <strong>{{refusals}}</strong>.',
            authority_name: @info_request.public_body.name,
            refusals: incoming_message.refusals.to_sentence) %>

      <% if @info_request.awaiting_description? && @show_bottom_describe_state_form %>
        <%= link_to '#describe_state_form_2' do %>
          <%= _('Let us know and we’ll help you challenge it.') %>
        <% end %>
      <% elsif @info_request.reason_to_be_unhappy? %>
        <%= link_to help_unhappy_path(@info_request.url_title) do %>
          <%= _('Get help to challenge it.') %>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>
