<div class="outgoing correspondence" id="outgoing-<%= outgoing_message.id %>">
  <%- if not outgoing_message.user_can_view?(@user) %>
    <%= render :partial => 'request/hidden_correspondence', :locals => { :message => outgoing_message } %>
  <%- else %>
    <%= render :partial => 'request/restricted_correspondence', :locals => {:message => outgoing_message } %>

    <div class="correspondence__header">
      <div class="correspondence__header__from--with-delivery-status">
        <%= @info_request.user_name %>

        <%= link_to outgoing_message_path(outgoing_message), :class => 'correspondence__header__date' do %>
          <%= simple_date(info_request_event.created_at) %>
        <% end %>
      </div>

      <% cache_if_caching_fragments("outgoing_messages/#{ outgoing_message.id }/delivery_status", :expires_in => 6.hours) do %>
        <% delivery_status = outgoing_message.delivery_status %>
        <% if delivery_status %>
          <div class="correspondence__header__delivery-status">
            <%= link_to outgoing_message_delivery_status_path(outgoing_message), :class => "toggle-delivery-log toggle-delivery-log--#{outgoing_message.delivery_status.simple} js-toggle-delivery-log", :'data-delivery-status' => outgoing_message.delivery_status.simple do -%>
              <%= outgoing_message.delivery_status.simple.to_s.humanize -%>
            <% end -%>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="js-delivery-log-ajax-error" hidden aria-hidden="true" style="display: none; visibility: hidden;">
      <p><%= _('We couldn’t load the mail server logs for this message.') %></p>
      <p><%= link_to _('Try opening the logs in a new window.'), outgoing_message_delivery_status_path(outgoing_message), :target => '_blank' %></p>
    </div>

    <%= render :partial => 'request/bubble', :locals => { :body => outgoing_message.get_body_for_html_display(), :attachments => nil }  %>

    <p class="event_actions">
      <% if outgoing_message.status == 'ready' && !@info_request.is_external? %>
        <%= _('<strong>Warning:</strong> This message has <strong>not yet ' \
                 'been sent</strong> for an unknown reason.') %>
      <% end %>
      </p>

      <div class="correspondence__footer">
        <div class="correspondence__footer__cplink">
          <input type="text" id="cplink__field" class="cplink__field" value="<%= outgoing_message_url(outgoing_message) %>">
          <button class="cplink__button button"><%= _('Link to this') %></button>
        </div>
      </div>

  <%- end %>
</div>
