<div class="outgoing correspondence box" id="outgoing-<%= outgoing_message.id.to_s %>">
  <%- if not outgoing_message.user_can_view?(@user) %>
    <%= render :partial => 'request/hidden_correspondence', :locals => { :message => outgoing_message }%>
  <%- else %>
    <%= render :partial => 'request/restricted_correspondence', :locals => {:message => outgoing_message } %>

    <h2>
      <%= _("From:") %> <%= @info_request.user_name %>
      <br>
      <br>
      <% delivery_status = outgoing_message.delivery_status %>
      <% if delivery_status %>
        <%= link_to outgoing_message_delivery_status_path(outgoing_message), :class => "toggle-delivery-log toggle-delivery-log--#{outgoing_message.delivery_status.simple} js-toggle-delivery-log", :'data-delivery-status' => outgoing_message.delivery_status.simple do -%>
          <%= outgoing_message.delivery_status.simple.to_s.humanize -%>
        <% end -%>
      <% end %>

      <%= simple_date(info_request_event.created_at) %>
    </h2>

    <div class="js-delivery-log-ajax-error" hidden aria-hidden="true" style="display: none; visibility: hidden;">
        <p><%= _('We couldn’t load the mail server logs for this message.') %></p>
        <p><%= link_to _('Try opening the logs in a new window.'), outgoing_message_delivery_status_path(outgoing_message), :target => '_blank' %></p>
    </div>

    <%= render :partial => 'request/bubble', :locals => { :body => outgoing_message.get_body_for_html_display(), :attachments => nil }  %>

    <p class="event_actions">
      <% if outgoing_message.status == 'ready' && !@info_request.is_external? %>
        <%= _('<strong>Warning:</strong> This message has <strong>not yet ' \
                 'been sent</strong> for an unknown reason.') %>
      <% end %>
      <%= link_to _("Link to this"), outgoing_message_path(outgoing_message), :class => "link_to_this" %>
    </p>
  <%- end %>
</div>
