<% if !@user.nil? && @user.admin_page_links? %>
  <%= _('{{user}} ({{user_admin_link}}) made this {{law_used_full}} request (<a href="{{request_admin_url}}">admin</a>) to {{public_body_link}} (<a href="{{public_body_admin_url}}">admin</a>)',
        :user => request_user_link(@info_request, _('An anonymous user')),
        :law_used_full => h(@info_request.law_used_human(:full)),
        :user_admin_link => user_admin_link_for_request(
          @info_request, _('external'), _('admin')),
        :request_admin_url => admin_request_url(@info_request),
        :public_body_link => public_body_link(@info_request.public_body),
        :public_body_admin_url => admin_body_url(@info_request.public_body)) %>
<% else %>
  <%= _('{{user}} made this {{law_used_full}} request',
        :user=>request_user_link(@info_request, _('An anonymous user')),
        :law_used_full=>h(@info_request.law_used_human(:full))) %>
  <%= _('to {{public_body}}',:public_body=>public_body_link(@info_request.public_body)) %>
<% end %>
<% if @info_request.public_body.eir_only? %>
  <span class="request-header__foi_no">
    <br>
    <%= _('You only have a right in law to access information about the ' \
          'environment from this authority') %>
    </span>
<% elsif @info_request.public_body.not_subject_to_law? %>
  <span class="request-header__foi_no">
    <br>
    <%= _('This authority is not subject to FOI law, so is not ' \
          'legally obliged to respond') %>
    (<%= link_to _('details'),
                 help_requesting_path(anchor: 'authorities') %>).
    </span>
<% end %>
