<% if @highlight_words.nil?
     @highlight_words = []
end %>

<div class="request_listing">
  <div class="request_left">
    <span class="head">
      <%
        path =
          if @play_urls
            categorise_request_path(:url_title => info_request.url_title)
          else
            request_path(info_request)
          end
      %>
      <%= link_to highlight_words(info_request.title, @highlight_words), path %>
    </span>

    <div class="requester">
      <%= _('Requested from {{public_body_name}} by {{info_request_user}} on {{date}}',
            :public_body_name => public_body_link(info_request.public_body),
            :info_request_user => user_link(info_request.user),
            :date => simple_date(info_request.created_at)) %>
    </div>

    <span class="bottomline icon_<%= info_request.calculate_status %>">
      <strong>
        <%= info_request.display_status(cached_value_ok=true) %>
      </strong>
      <br>
    </span>
  </div>

  <div class="request_right">
    <span class="desc">
      <%= highlight_and_excerpt(info_request.initial_request_text, @highlight_words, 150) %>
    </span>
  </div>
</div>
