<div class="request-header">
  <div class="row">
    <h1><%= h(info_request.title) %></h1>

    <div class="request-header__action-bar-container">
      <div class="request-header__action-bar">
        <% if show_profile_photo %>
          <div class=" request-header__profile-photo user_photo_on_request">
            <img src="<%= get_profile_photo_url(url_name: info_request.user.url_name) %>" alt="">
          </div>
        <% end %>

        <p class="request-header__subtitle <% if show_profile_photo %>request-header__subtitle--narrow<% end %>">
          <%= render partial: 'request/request_subtitle',
                     locals: { info_request: info_request,
                               user: user } %>
        </p>

        <% unless render_to_file %>
          <div class="request-header__action-bar__actions <% if show_profile_photo %>request-header__action-bar__actions--narrow<% end %>">
            <% if in_pro_area %>
              <%= render partial: 'alaveteli_pro/info_requests/after_actions',
                         locals: { info_request: info_request,
                                   last_response: last_response } %>
            <% else %>
              <%= render partial: 'request/after_actions',
                         locals: { info_request: info_request,
                                   track_thing: track_thing,
                                   show_owner_update_status_action: show_owner_update_status_action,
                                   show_other_user_update_status_action: show_other_user_update_status_action,
                                   last_response: last_response } %>

              <%= render partial: 'track/tracking_links_simple',
                         locals: { track_thing: track_thing,
                                   user: user,
                                   follower_count: follower_count,
                                   own_request: info_request.user && \
                                                info_request.user == user,
                                   location: 'toolbar' } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="request-status">
      <div id="request_status" class="request-status-message request-status-message--<%= info_request.calculate_status %>">
        <i class="icon-standalone icon_<%= info_request.calculate_status %>"></i>

        <p>
          <%= status_text(info_request,
                          new_responses_count: new_responses_count,
                          is_owning_user: is_owning_user,
                          render_to_file: render_to_file,
                          old_unclassified: old_unclassified,
                          redirect_to: request.fullpath) %>
        </p>
      </div>
    </div>
  </div>
</div>

