<div class="outgoing correspondence box" id="outgoing-<%=outgoing_message.id.to_s%>">
  <h2>
    <%= simple_date(info_request_event.created_at) %>
  </h2>

  <p class="event_plain">
    <% if outgoing_message.message_type == 'initial_request' %>
      <%= _('Sent request to {{public_body_link}} again',
                public_body_link: (public_body_link(@info_request.public_body))) %>
    <% elsif outgoing_message.message_type == 'followup' %>
      <%= _('Sent a follow up to {{public_body_link}} again',
                public_body_link: (public_body_link(@info_request.public_body))) %>
    <% else %>
      <%= _('Resent {{unknown_message_type}} to {{public_body_link}} again',
                public_body_link: (public_body_link(@info_request.public_body)),
                unknown_message_type: (raise "unknown message_type")) %>
    <% end %>
    <% if not info_request_event.same_email_as_previous_send? %><%= _(', using a new contact address') %><% end %>.
  </p>
</div>
