<div class="outgoing correspondence box" id="outgoing-<%=outgoing_message.id.to_s%>">
  <h2>
    <%= simple_date(info_request_event.created_at) %>
  </h2>

  <p class="event_plain">
    <% case [outgoing_message.message_type, info_request_event.same_email_as_previous_send?] %>
    <% in ['initial_request', true] %>
      <%= _('Sent request to {{public_body_link}} again.',
            public_body_link: public_body_link(@info_request.public_body)) %>
    <% in ['initial_request', false] %>
      <%= _('Sent request to {{public_body_link}} again, using a new contact ' \
            'address.',
            public_body_link: public_body_link(@info_request.public_body)) %>
    <% in ['followup', true] %>
      <%= _('Sent a follow up to {{public_body_link}} again.',
            public_body_link: public_body_link(@info_request.public_body)) %>
    <% in ['followup', false] %>
      <%= _('Sent a follow up to {{public_body_link}} again, using a new ' \
            'contact address.',
            public_body_link: public_body_link(@info_request.public_body)) %>
    <% else %>
      <% raise "unknown message_type" %>
    <% end %>
  </p>
</div>
