<div class="sidebar__share">
  <h2><%= _("Share this request") %></h2>

  <div class="act_link act_link--twitter">
    <% tweet_link = "https://twitter.com/share?" << {
      :url => request.url,
      :via => AlaveteliConfiguration.twitter_username,
      :text => "'#{ @info_request.title }'",
      :related => _('mySociety:Helping people set up sites like ' \
                    '{{site_name}} all over the world', :site_name => site_name)
      }.to_query
    %>

    <%= link_to _("Tweet this request"),
                tweet_link,
                :title => _("Tweet this request"),
                :onclick => track_analytics_event(
                  AnalyticsEvent::Category::OUTBOUND,
                  AnalyticsEvent::Action::TWITTER_EXIT,
                  :label => "Request sidebar") %>
  </div>

  <div class="act_link act_link--facebook">
    <% share_link = "https://www.facebook.com/sharer/sharer.php?" << {
         :u => request.url
       }.to_query %>

    <%= link_to _("Share on Facebook"),
                share_link,
                :title => _("Share on Facebook"),
                :onclick => track_analytics_event(
                  AnalyticsEvent::Category::OUTBOUND,
                  AnalyticsEvent::Action::FACEBOOK_EXIT,
                  :label => "Request sidebar") %>
  </div>

  <div class="act_link act_link--medium">
    <%= link_to _("Write about this on Medium"),
                "http://medium.com/",
                :title => _("Write about this on Medium"),
                :onclick => track_analytics_event(
                  AnalyticsEvent::Category::OUTBOUND,
                  AnalyticsEvent::Action::MEDIUM_EXIT,
                  :label => "Request sidebar") %>
  </div>

  <% if AlaveteliConfiguration.enable_widgets %>
    <div class="act_link act_link--widget">
      <%= link_to new_request_widget_path(@info_request),
            :title => _("Create a widget for this request") do %>
        <%= _("Create a widget for this request") %>
      <% end %>
    </div>
  <% end %>
</div>
