<div id="right_column" class="sidebar right_column" role="complementary">
  <div class="new-request-cta">
    <%= render :partial => "general/new_request" %>
  </div>

  <div class="request__special-status">
  <% if @info_request.attention_requested %>
    <% if @info_request.prominence == 'hidden' %>
      <h2><%= _('Request hidden') %></h2>
      <p>
        <%= _("This request has prominence 'hidden'. You can only see it " \
              "because you are logged in as a super user.") %>
      </p>
    <% elsif @info_request.prominence == 'requester_only' %>
      <h2><%= _('Request hidden') %></h2>
      <%# The eccentric formatting of the following string is in order that it be identical
          to the corresponding string in request/show.html.erb %>
      <p><%= _('This request is hidden, so that only you the requester ' \
                  'can see it. Please <a href="{{url}}">contact us</a> ' \
                  'if you are not sure why.',
               :url => help_requesting_path.html_safe) %></p>
    <% elsif @info_request.described_state != "attention_requested" %>
      <h2><%= _('Offensive? Unsuitable?') %></h2>
      <p><%= _('This request has been marked for review by the site ' \
               'administrators, who have not hidden it at this time. ' \
               'If you believe it should be hidden, please ' \
               '<a href="{{url}}">contact us</a>.',
              :url => help_requesting_path.html_safe) %></p>
    <% end %>
  <% end %>
  </div>

  <%= render :partial => 'request/act' %>
  <%= render :partial => 'request/next_actions' %>

  <% cache_if_caching_fragments(@similar_cache_key, :expires_in => 3.days) do %>
    <% xapian_similar, xapian_similar_more = @info_request.similar_requests %>
    <% if !xapian_similar.nil? && xapian_similar.results.size > 0 %>
      <div class="sidebar__similar-requests">
        <h2><%= _('Requests like this')%></h2>

        <% utm_params = { :utm_source => site_name.downcase,
                          :utm_medium => 'link',
                          :utm_content => 'sidebar_similar_requests',
                          :utm_campaign => 'alaveteli-experiments-87' } %>

        <% xapian_similar.results.each do |result| %>
          <%= render :partial => 'request/request_listing_single_short',
                     :locals => { :info_request => result[:model].info_request,
                                  :utm_params => utm_params } %>
        <% end %>

        <% if xapian_similar_more %>
          <p class="sidebar_similar_requests__more-link">
            <%= link_to similar_request_path(@info_request.url_title, utm_params) do %>
              <%= _("More similar requests") %>
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <!-- this link with this wording is here for legal reasons, discuss with
    board and our lawyer before changing or removing it -->
  <p><small><%= link_to _('Are you the owner of any commercial copyright on this page?'), help_officers_path(:anchor => "copyright") %></small></p>
</div>
