<div id="right_column" class="sidebar right_column" role="complementary">
  <div class="sidebar__section new-request-cta">
    <%= render partial: 'general/new_request' %>
  </div>

  <%= render partial: 'sidebar_pro_upsell' %>

  <% if (feature_enabled?(:alaveteli_pro) &&
         can?(:create_embargo, info_request)) %>
    <%= render partial: 'alaveteli_pro/info_requests/embargo_form',
               locals: { info_request: info_request } %>
  <% end %>

  <% if info_request.attention_requested %>
    <%= render partial: 'request/attention_requested',
               locals: { info_request: info_request } %>
  <% end %>

  <div class="sidebar__section next-actions">
    <%= render partial: 'request/act',
               locals: { info_request: info_request } %>

    <%= render partial: 'request/next_actions' %>
  </div>

  <%= render partial: 'request/batch',
             locals: { info_request: info_request } %>

  <%= render partial: 'request/citations',
             locals: { citations: citations, info_request: info_request } %>

  <% if similar_requests.any? %>
    <%= render partial: 'request/similar',
               locals: { info_request: info_request,
                         similar_requests: similar_requests,
                         similar_more: similar_more } %>
  <% end %>

  <div class="sidebar__section">
    <!-- this link with this wording is here for legal reasons, discuss with
         board and our lawyer before changing or removing it -->
    <p class="copyright-notice">
      <small>
        <%= link_to _('Are you the owner of any commercial copyright on this ' \
                      'page?'),
                    help_officers_path(anchor: 'copyright') %>
      </small>
    </p>
  </div>
</div>
