<%= render partial: 'tabs' %>

<h1><%= @title %></h1>

<div class="request-category_container">
  <% InfoRequest.categories.each do |heading| %>
    <% next unless heading.children.present? %>
    <div class="request-category">
      <h2><%= heading.title %><span class="request-category_number" aria-label="<%= heading.children.count { |c| c.category_tag.present? } %> results for this group"><%= heading.children.count { |c| c.category_tag.present? } %></span></h2>
      <ul>
        <% heading.children.each do |category| %>
          <% next unless category.category_tag.present? %>
          <li>
            <%= link_to category.title, request_list_path(tag: category.category_tag) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
