<%= render partial: 'tabs' %>

<h1><%= @title %></h1>

<div class="request-category-filter hide">
  <label for="request-category-filter-input"><%= _("Filter by topic or area of interest") %></label>
  <input type="search" id="request-category-filter-input" autocomplete="off">
</div>

<div class="request-category_container">
  <% InfoRequest.categories.each do |heading| %>
    <% next unless heading.children.present? %>
    <div class="request-category">
      <h3><%= heading.title %></h3>
      <ul>
        <% heading.children.each do |category| %>
          <% next unless category.category_tag.present? %>
          <li>
            <%= link_to category.title, request_list_path(tag: category.category_tag) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
