<%= error_messages_for 'heading' %>

<!--[form:public_body_heading]-->

<div id="div-locales">
  <ul class="locales nav nav-tabs">
    <% @heading.ordered_translations.each do |translation| %>
      <li>
        <a href="#div-locale-<%= translation.locale.to_s %>" data-toggle="tab" >
          <%= locale_name(translation.locale.to_s) || translation.locale.to_s %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @heading.ordered_translations.each do |translation| %>
      <%= f.fields_for(:translations, translation, :child_index => translation.locale) do |t| %>
        <%= render :partial => 'locale_fields', :locals => { :t => t, :locale => translation.locale } %>
      <% end %>
    <% end %>
  </div>
</div>

<!--[eoform:public_body_heading]-->
