<% if @heading.errors.any? %>
  <ul>
    <% @heading.errors.each do |attr, message| %>
      <% unless attr.to_s.starts_with?('translation') %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% @heading.ordered_translations.each do |translation| %>
  <% if translation.errors.any? %>
    <%= locale_name(translation.locale.to_s) || translation.locale.to_s %>
    <ul>
      <% translation.errors.each do |attr, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>


<!--[form:public_body_heading]-->

<div id="div-locales">
  <ul class="locales nav nav-tabs">
    <% @heading.ordered_translations.each do |translation| %>
      <li>
        <a href="#div-locale-<%= translation.locale.to_s %>" data-toggle="tab" >
          <%= locale_name(translation.locale.to_s) || translation.locale.to_s %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @heading.ordered_translations.each do |translation| %>
      <% if translation.locale.to_s == I18n.default_locale.to_s %>
        <%= fields_for('public_body_heading', @heading) do |t| %>
          <%= render :partial => 'locale_fields', :locals => { :t => t, :locale => translation.locale } %>
        <% end %>
      <% else %>
        <%= f.fields_for(:translations, translation, :child_index => translation.locale) do |t| %>
          <%= render :partial => 'locale_fields', :locals => { :t => t, :locale => translation.locale } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!--[eoform:public_body_heading]-->
