<%= error_messages_for 'heading' %>

<!--[form:public_body_heading]-->

<div id="div-locales">
  <ul class="locales nav nav-tabs">
    <% @heading.translations.each do |translation| %>
      <li>
        <a href="#div-locale-<%= translation.locale.to_s %>" data-toggle="tab" >
          <%= locale_name(translation.locale.to_s) || _("Default locale") %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @heading.translations.each do |translation| %>
      <% if translation.locale.to_s == I18n.default_locale.to_s %>
        <%= fields_for 'public_body_heading', @heading do |t| %>
          <%= render :partial => 'locale_fields', :locals => { :t => t, :locale => translation.locale } %>
        <% end %>
      <% else %>
        <%= f.fields_for(:translations, translation, :child_index => translation.locale) do |t| %>
          <%= render :partial => 'locale_fields', :locals => { :t => t, :locale => translation.locale } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!--[eoform:public_body_heading]-->
