<h1><%= @title %></h1>

<div class="row">
    <div class="span8">
        <div id="public_body_heading_form">
            <%= form_for @heading, :url => admin_heading_path(@heading), :html => { :class => "form form-horizontal" } do |f| %>
                <%= render :partial => 'form', :locals => { :f => f } %>

                <div class="form-actions">
                    <%= f.submit 'Save', :accesskey => 's', :class => "btn btn-success" %>
                </div>
            <% end %>
    </div>
</div>

<div class="row">
    <div class="span8 well">
        <%= link_to 'List all', admin_categories_path, :class => "btn" %>
    </div>
</div>

<div class="row">
    <div class="span8">
        <%= form_for @heading, :url => admin_heading_path(@heading), :method => 'delete', :class => "form form-inline" do |f| %>
            <%= f.submit "Destroy #{ @heading.name }",
                         :name => @heading.name,
                         :class => "btn btn-danger" %> (this is permanent!)
        <% end %>
    </div>
</div>
