<% content_for :javascript_head do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    AlaveteliPro.stripe_publishable_key = '<%= AlaveteliConfiguration.stripe_publishable_key %>';
    AlaveteliPro.stripe_local = '<%= stripe_locale %>';
  <% end %>

  <%= javascript_include_tag 'alaveteli_pro/stripe' %>
<% end %>

<div class="inner-canvas settings">

  <div class="inner-canvas-header">
    <div class="row">
      <h1><%= _('Upgrade account') %></h1>
    </div>
  </div>

  <div class="inner-canvas-body">
    <div class="row">
      <div class="settings-left-column">
      </div>
      <div class="settings-right-column">
        <%= form_tag(subscriptions_path, id: 'js-stripe-subscription-form', class: 'stripe-form') do %>
        <div class="settings__section">
          <h3><%= _('Selected plan') %></h3>
          <div class="plan-overview">
            <div class="plan-overview__desc">
              <%= @plan.name %>
            </div>
            <div class="plan-overview__details">
              <%= billing_frequency(@plan.interval) %>
            </div>
            <label class="plan-overview__amount amount">
              <span>
              <%= format_currency(@plan.amount_with_tax) %>
              </span>
            </label>
          </div>
        </div>

        <div class="settings__section">
          <div class="plan-coupon">
            <label class="form_label" for="coupon_code"><%= _('Do you have a coupon code?') %></label>
            <%= text_field_tag 'coupon_code', params[:coupon_code] %>
          </div>
          <div class="card-details">
            <label class="form_label"><%= _('Card details') %></label>
            <div id="card-element"></div>
          </div>
        </div>

        <div class="settings__section">
          <h3><%= _('Terms and conditions') %></h3>
          <div class="settings__terms">
            <div class="settings__terms-content">
              <%= render partial: 'alaveteli_pro/pages/legal' %>
            </div>
          </div>
          <div class="settings__terms__accept">
            <label for="js-pro-signup-terms">
              <input type="checkbox" id="js-pro-signup-terms" required />
               <%= _('I have read and accepted these terms and conditions') %>
             </label>
           </div>
        </div>

        <div class="settings__section">
          <%= hidden_field_tag 'plan_id', @plan.id %>
          <%= submit_tag _('Subscribe'), id: 'js-stripe-submit', disabled: true, data: { disable_with: 'Processing...' } %>
          <%= link_to _('Cancel'), pro_plans_path, class: 'settings__cancel-button' %>
          <p id="card-errors"></p>

          <noscript>
            <div id="error">
              <p>
                <%= _('Continuing with checkout requires your browser to have ' \
                      'JavaScript enabled.') %>
              </p>
            </div>
          </noscript>
        </div>
        <% end %>

        <% if feature_enabled?(:pro_pricing_faqs) %>
          <div class="settings__section">
            <div class="pricing__faqs settings__faqs">
              <h3>Frequently Asked Questions</h3>
              <dl class="pricing__faqs__list">
                <dt class="faqs__term">How do I cancel my account?</dt>
                <dd class="faqs__def">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at porttitor orci, nec sollicitudin turpis. Donec vel nisl justo. Praesent blandit ex ut massa faucibus, cursus tincidunt dui consectetur. In suscipit lorem felis. Sed elementum, augue euismod dignissim vulputate, ligula elit blandit sem, non vehicula nisl turpis ultricies nisi. Integer accumsan luctus hendrerit.</dd>

                 <dt class="faqs__term">What does my subscription fee go towards?</dt>
                 <dd class="faqs__def">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at porttitor orci, nec sollicitudin turpis. Donec vel nisl justo. Praesent blandit ex ut massa faucibus, cursus tincidunt dui consectetur. In suscipit lorem felis. Sed elementum, augue euismod dignissim vulputate, ligula elit blandit sem, non vehicula nisl turpis ultricies nisi. Integer accumsan luctus hendrerit.</dd>

                <dt class="faqs__term">How do I change my payment details?</dt>
                <dd class="faqs__def">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at porttitor orci, nec sollicitudin turpis. Donec vel nisl justo. Praesent blandit ex ut massa faucibus, cursus tincidunt dui consectetur. In suscipit lorem felis. Sed elementum, augue euismod dignissim vulputate, ligula elit blandit sem, non vehicula nisl turpis ultricies nisi. Integer accumsan luctus hendrerit.</dd>

                <dt class="faqs__term">I’ve got a voucher code</dt>
                <dd class="faqs__def">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at porttitor orci, nec sollicitudin turpis. Donec vel nisl justo. Praesent blandit ex ut massa faucibus, cursus tincidunt dui consectetur. In suscipit lorem felis. Sed elementum, augue euismod dignissim vulputate, ligula elit blandit sem, non vehicula nisl turpis ultricies nisi. Integer accumsan luctus hendrerit.</dd>
              </dl>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
