<h1><%= _('Email Alerts Disabled') %></h1>

<p>
  <%= _('Email alerts for things you follow have now been disabled.') %>
</p>

<% if current_user %>
  <p>
    <%= _('<a href="{{wall_link}}">Visit your Wall</a> to get updates on ' \
          'things you follow or re-enable email alerts.',
          wall_link: show_user_wall_path(url_name: current_user.url_name)) %>
  </p>
<% else %>
  <p>
    <%= _('<a href="{{sign_in_link}}">Sign in</a> to get updates on things ' \
          'you follow or re-enable email alerts.',
          sign_in_link: signin_path) %>
  </p>
<% end %>

<p>
  <%= _('Note that we may still send you emails when new correspondence ' \
        'appears on your requests, or when you perform actions that require ' \
        'an email confirmation step.') %>
</p>
