<h2>
  <%= raw @name %>,
</h2>

<p>
  <%= _('You just tried to sign up to {{site_name}}, when you ' \
      'already have an account. Your name and password have been ' \
      'left as they previously were. Please click on the link below.',
      :site_name => site_name) %>
</p>

<p>
  <%= raw @reasons[:email] %>
</p>

<p>
  <%= link_to @url, :class => 'button' do %>
    <%= _('Confirm your account') %>
  <% end %>
</p>

<p class="byline">
  &ndash; <%= _('the {{site_name}} team', :site_name => site_name) %>
</p>
