<div class="columns_header">
  <h1>Terms and conditions</h1>
</div>
<div id="right_column_flip" class="right_column_flip">
  <div>
    <ul>
      <li>
        <%= link_to "Introduction", '#introduction' %>
      </li>
      <li>
        <%= link_to "Usage", "#usage" %>
      </li>
      <li>
        <%= link_to "Accounts", "#accounts" %>
      </li>
      <li>
        <%= link_to "Termination", "#termination" %>
      </li>
      <li>
        <%= link_to "Attribution", "#attribution" %>
      </li>
      <li>
        <%= link_to "Payment", "#payment" %>
      </li>
      <li>
        <%= link_to "Support", "#support" %>
      </li>
      <li>
        <%= link_to "Small print", "#small-print" %>
      </li>
            <li>
        <%= link_to "Privacy", "#privacy" %>
      </li>
    </ul>
  </div>
</div>
<div id="left_column_flip" class="left_column_flip">
  <%= render partial: 'legal' %>
</div>
