<% if comments.any? %>
  <%= form_tag modify_comment_visibility_admin_users_path do %>
    <div class="accordion" id="comments">
      <% comments.each do |comment| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <%= check_box_tag 'comment_ids[]', comment.id %>

            <a href="#comment_<%= comment.id %>" data-toggle="collapse" data-parent="#comments"><%= chevron_right %></a>

            <%= link_to edit_admin_comment_path(comment) do %>
              #<%= comment.id %>
            --
            <%= h(comment.user.name) %>
            <%= admin_value(comment.created_at) %>
          <% end %>

          <%= comment_visibility(comment) %>

          <blockquote class="incoming-message">
            <%= truncate(comment.body, :length => 400) %>
          </blockquote>
          </div>

          <div id="comment_<%= comment.id %>" class="accordion-body collapse">
            <table class="table table-striped table-condensed">
              <tbody>
                <tr>
                  <td colspan="2">
                    By <%= user_both_links(comment.user) %>
                </td>
                </tr>
                <% comment.for_admin_column do |name, value, type, column_name |%>
                  <tr>
                    <td>
                      <b><%= name %></b>
                    </td>
                    <td>
                      <% if column_name == 'body' && !comment.visible %>
                        <s><%= h comment.send(column_name) %></s>
                      <% else %>
                        <%= h comment.send(column_name) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>
      <% end %>
    </div>

    <%= submit_tag 'Hide selected', :name => 'hide_selected' %>
    <%= submit_tag 'Unhide selected', :name => 'unhide_selected' %>

  <% end %>
<% else %>
  <p>None yet.</p>
<% end %>
