<% @title = 'Listing FOI requests' %>

<h1><%=@title%></h1>

<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to 'View tags', admin_tags_path(model_type: InfoRequest), class: 'btn' %>
  </div>
</div>

<%= form_tag({}, :method => "get", :class => "form form-search") do %>
  <div class="input-append">
    <%= text_field_tag 'query', params[:query], { :size => 30, :class => "input-large search-query" } %>
    <%= submit_tag "Search", :class => "btn" %>
  </div>

  <span class="help-inline">(substring search, titles only)</span>
<% end %>

<%= render :partial => 'some_requests', :locals => { :info_requests => @info_requests } %>
