<% @title = _('Change your password on {{site_name}}',
            :site_name => site_name) %>

<div id="change_password" class="password_change_new">
  <%= form_tag password_change_path do %>

    <div class="form_note">
      <h1><%= @title %></h1>
    </div>

    <p>
      <label class="form_label" for="user_email">
        <%= _('Your e-mail:') %>
      </label>
      <%= email_field 'password_change_user', 'email', { :size => 20 } %>
    </p>

    <p class="form_note">
      <%= _('<strong>Note:</strong> We will send you an email. Follow the ' \
            'instructions in it to change your password.') %>
    </p>

    <div class="form_button">
      <%= hidden_field_tag :pretoken, @pretoken %>
      <%= submit_tag _('Submit') %>
    </div>
  <% end %>
</div>
