<%= form_for(AlaveteliPro::Embargo.new,
             html: { class: 'js-embargo-form' }) do |f| %>
  <%= f.hidden_field :info_request_id, value: info_request.id %>

  <p>
    <%= f.label :duration, _('Keep private for:'), class: 'form_label' %>

    <%= f.select :embargo_duration,
                 options_for_select(embargo_extension_options),
                 {},
                 class: 'js-embargo-duration' %>

    <%= f.submit _('Update'), class: 'embargo__submit js-embargo-submit' %>
  </p>
<% end %>
