<div class="request">
  <h3 class="request__title">
    <% if info_request.embargo %>
      <span class="embargo-indicator embargo-indicator--small">Embargoed</span>
      <% # TODO: insert embargoed request in progress url here %>
      <a href=""><%= info_request.title %></a>
    <% else %>
      <%= link_to info_request.title, show_request_path(info_request) %>
    <% end %>

  </h3>

  <div class="request__meta">

    <div class="request__recipient">
      <span class="request__meta__label"><%= _('Request to') %></span>
      <p><%= info_request.public_body.name %></p>
    </div>

    <div class="request__created">
      <span class="request__meta__label"><%= _('Created') %></span>
      <p><%= info_request.created_at.strftime('%d-%m-%Y') %></p>
    </div>

    <div class="request__updated">
      <span class="request__meta__label"><%= _('Updated') %></span>
      <p><%= info_request.updated_at.strftime('%d-%m-%Y') %></p>
    </div>

    <div class="request__status">
      <span class="request__meta__label"><%= _('Status') %></span>
      <p><span class="status-icon status-icon--<%= InfoRequest.get_status_description(info_request.described_state).parameterize %>"></span><%= InfoRequest.get_status_description(info_request.described_state) %></p>
    </div>

    <div class="request__actions">
      <select id="actions" class="actions">
        <option><%= _('Actions') %></option>
        <option><%= _('View') %></option>
        <option><%= _('Update status') %></option>
        <option><%= _('Send followup') %></option>
        <option><%= _('Request internal review') %></option>
        <option><%= _('Download zip file of correspondence') %></option>
      </select>
    </div>

  </div> <!-- .request__meta -->

</div> <!-- .request -->
