<div id="info-request-<%= info_request.id %>"
     class="request request--<%= info_request.state.summarised_phase %>">
  <h3 class="request__title">
    <% if info_request.embargo %>
      <span class="embargo-indicator embargo-indicator--small">
        <%= _("Private") %>
      </span>
    <% end %>
    <%= link_to info_request.title, show_request_path(info_request.url_title) %>
  </h3>

  <div class="request__meta">

    <div class="request__status">
      <span class="request__meta__label"><%= _('Status') %></span>
      <p>
        <span class="phase-icon phase-icon--<%= InfoRequest::State.phase_params[info_request.state.phase] %>"></span>
        <%= phase_and_state(info_request) %>
      </p>
    </div>

    <div class="request__recipient">
      <span class="request__meta__label"><%= _('Request to') %></span>
      <p><%= info_request.public_body.name %></p>
    </div>

    <div class="request__created">
      <span class="request__meta__label"><%= _('Created') %></span>
      <p><%= info_request.created_at.strftime('%d-%m-%Y') %></p>
    </div>

    <div class="request__updated">
      <span class="request__meta__label"><%= _('Updated') %></span>
      <p><%= info_request.updated_at.strftime('%d-%m-%Y') %></p>
    </div>

    <div class="request__status">
      <span class="request__meta__label"><%= _('Response due') %></span>
      <p><%= info_request.date_response_required_by.strftime('%d-%m-%Y') %></p>
    </div>

  </div> <!-- .request__meta -->

</div> <!-- .request -->
