<div class="dashboard-right-column">

  <div class="requests">
    <div class="requests__folder-title">
      <h2><%= @request_filter.filter_capital_label %></h2>
    </div>
    <div class="requests__header">

      <%= form_for( @request_filter, :url => '', :method => 'get', :html => { :class => 'requests__filter_form' }) do |f| %>
        <div class="requests__search">
          <%= f.text_field :search, :placeholder => _('Search') %>
          <button type="submit" class="requests__search__button">
            <span class="visually-hidden">
              <%= _("Submit Search") %>
            </span>
          </button>
        </div>
        <div class="requests__sort">
          <label for="sort-options"><%= _('Sort by') %></label>
          <%= f.select :order, @request_filter.order_options %>
        </div>
        <%= f.hidden_field :filter %>
      <% end %>

    </div> <!-- .requests-header -->
    <div class="search-and-filter-overview">
      <p>
      <% if @request_filter.search.present? %>
        <%= _("Searching for <strong>{{search_term}}</strong> in <strong>" \
              "{{filter_description}}</strong> sorted by <strong>" \
              "{{order_description}}</strong> <a href=\"{{reset_url}}\"" \
              " class=\"clear-icon\">clear</a>",
              :reset_url => alaveteli_pro_info_requests_path,
              :search_term => @request_filter.search,
              :filter_description => @request_filter.filter_label,
              :order_description => @request_filter.order_label) %>
      <% elsif @request_filter.filter.present? %>
        <%= _("<strong>{{filter_description}}</strong> sorted by <strong>" \
              "{{order_description}}</strong> <a href=\"{{reset_url}}\"" \
              " class=\"clear-icon\">clear</a>",
              :reset_url => alaveteli_pro_info_requests_path,
              :filter_description => @request_filter.filter_capital_label,
              :order_description => @request_filter.order_label) %>
      <% elsif @request_filter.order && @request_filter.order != @request_filter.default_order %>
        <%= _("Sorted by <strong>{{order_description}}</strong>" \
              " <a href=\"{{reset_url}}\" class=\"clear-icon\">clear</a>",
              :reset_url => alaveteli_pro_info_requests_path,
              :order_description => @request_filter.order_label) %>
      <% end %>
      </p>
    </div>
    <div class="requests__list">
      <%= render @request_summaries.map(&:summarisable) %>
      <%= will_paginate WillPaginate::Collection.new(@page, @per_page, @request_summaries.count) %>
    </div> <!-- .requests__list -->

  </div> <!-- .requests -->

</div>  <!-- .dashboard-right-column -->
