<div id="right_column" class="sidebar right_column" role="complementary">
  <% if @info_request.embargo %>
    <%= form_for([:alaveteli_pro,
                  EmbargoExtension.new(embargo: @info_request.embargo)]) do |f| %>
      <%= render partial: "alaveteli_pro/info_requests/embargo_info",
                 locals: {embargo: @info_request.embargo, tense: :present} %>
      <%= f.hidden_field :embargo_id %>
      <p>
        <label class="form_label" for="embargo_extension_extension_duration">
          <%= _('Extend embargo:') %>
        </label>
        <%= f.select :extension_duration,
                     options_for_select(embargo_extension_options) %>
        <input type="submit" value="<%= _("Extend") %>">
      </p>
    <% end %>
    <%= button_to "Publish request",
                  alaveteli_pro_embargo_path(@info_request.embargo),
                  method: :delete,
                  confirm: "Are you sure you want to publish this request?" %>
  <% end %>
  <%= form_for([:alaveteli_pro, @info_request]) do |f| %>
    <h2>Update status</h2>
    <p>
      <% @state_transitions.each do |group, transitions| %>
        <% transitions.each do |state, label| %>
          <%= f.label :described_state, value: state do %>
            <%= f.radio_button :described_state,
                               state,
                               checked: @info_request.described_state == state %>
            <%= label %>
          <% end %>
        <% end %>
      <% end %>
    </p>
    <input type="submit" value="<%= _("Update") %>">
  <% end %>
</div>
