<% @title = _("Make an {{law_used_short}} request",
            :law_used_short => h(@info_request.law_used_human(:short))) %>

<div class="pro-canvas">

  <div class="pro-canvas-header">
    <div class="row">
      <h1><%= _("Make a request") %></h1>
    </div>
  </div>

  <%= foi_error_messages_for :info_request, :outgoing_message %>

  <% if !AlaveteliConfiguration::override_all_public_body_request_emails.blank? %>
    <div class="warning">
      <%= _("<strong>Note:</strong> Because we're testing, requests are being sent to {{email}} rather than to the actual authority.", :email => AlaveteliConfiguration::override_all_public_body_request_emails) %>
    </div>
  <% end %>

  <%= render partial: 'request/email_override_warning' %>

  <div class="pro-canvas-body">

    <div class="row">

      <div class="request-to-header">
        <%= render partial: 'alaveteli_pro/info_requests/_select_authority_form'
                   locals: { info_request: @info_request } %>
      </div> <!-- .request-to-header -->


      <div id="request_advice" class="request_advice">
        <%= render partial: 'new_request_advice' %>
      </div>

      <div id="request_form" class="request_form">

        <%= render partial: 'alaveteli_pro/info_requests/_form' %>

      </div>  <!-- .request_form -->

    </div>  <!-- .row -->

  </div>  <!-- .pro-canvas-body -->

</div> <!-- .pro-canvas -->
