<% @title = _("Preview new {{law_used_short}} request to '{{public_body_name}}",
            :law_used_short => h(@info_request.law_used_human(:short)),
            :public_body_name => h(@info_request.public_body.name)) %>
<div class="pro-canvas">
  <div class="pro-canvas-header">
    <div class="row">
      <h1><%= _('Preview your request') %></h1>
    </div>
  </div>
  <div class="pro-canvas-body">
    <div class="row">
      <div class="new_info_request"> <%# TODO - hacky id + class to get same styling as current preview form %>
        <div class="message-preview">
          <div class="preview-advice">
            <div class="advice-panel">
              <%= render partial: "embargo_info",
                         locals: { embargo: @embargo, tense: :future }  %>
            </div>
          </div>

          <div class="preview-pane">
            <div class="correspondence box" id="outgoing-0">
              <p class="preview_to">
                <strong><%= _('To') %></strong>
                  <%=h(@info_request.public_body.name)%>

              </p>
              <p class="preview_subject">
                <strong><%= _('Subject') %></strong> <%= @info_request.title %>
              </p>

              <div class="correspondence_text">
                <p><%= simple_format(@outgoing_message.body) %></p>
              </div>
            </div>

            <p>
              <%= form_for([:alaveteli_pro, @info_request]) do |f| %>
                <%= hidden_field_tag :draft_id, @draft_info_request.id %>

                <%= submit_tag _("Send request"), :disable_with => _("Sending..."),
                                                  :id => 'submit_button' %>
                <%= link_to _("Edit your request"), "#{new_alaveteli_pro_info_request_path}?draft_id=#{@draft_info_request.id}" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
