<% if users_with_counts.any? %>
  <ol class="leaderboard-people">
  <% users_with_counts.each do |user, count| %>
    <li class="leaderboard-person">
      <%= link_to user, class: "leaderboard-person-details" do %>
        <% if user.show_profile_photo? %>
          <%= image_tag get_profile_photo_url(url_name: user.url_name), alt: _("Profile image for {{user_name}}", user_name: user.name) %>
        <% else %>
          <span class="leaderboard-person-initial"><%= user.name.first.upcase %></span>
        <% end %>
        <div>
          <h4 class="u-name"><%= user.name %></h4>
          <p><%= _('Joined in {{year}}', year: user.created_at.year) %></p>
        </div>
      <% end %>
      <p class="leaderboard-count"><%= count %></p>
    </li>
  <% end %>
  </ol>
<% else %>
  <p><%= _("Crickets. No one is here. It’s time to get the word out.") %></p>
<% end %>
