
<li class="<%= 'selected' if current_page? new_alaveteli_pro_info_request_path %>">
  <%= link_to _("Start new request"), new_alaveteli_pro_info_request_path, :id => 'make-request-link' %>
</li>

<li class="<%= 'selected' if current_page? alaveteli_pro_dashboard_path %>">
  <%= link_to _("Dashboard"), alaveteli_pro_dashboard_path, :id => 'dashboard-link' %>
</li>

<li class="<%= 'selected' if alaveteli_pro_info_requests_path %>">
  <%= link_to _("Requests"), alaveteli_pro_info_requests_path, :id => 'requests-link' %>
</li>


<li class="js-more-menu-link">
  <%= link_to _("More"), "#", :id => 'more-link' %>

  <div class="more-menu js-hide js-more-menu">
    <ul>
      <%= render :partial => 'general/nav_items', :locals => { :make_request => false } %>
    </ul>
  </div>
</li>

