<div id="banner">
  <div id="banner_inner">
    <div id="banner_content">
      <div class="banner_site-title">
        <h1><%= link_to site_name, frontpage_path, :id => 'logo', :class => 'site-title__logo' %></h1>
      </div>

      <div class="rsp_menu_button">
        <a href="#banner" class="open"> <i class="icon-menu"></i> Menu </a>
        <a href="#" class="close"> <i class="icon-menu"></i> Close </a>
      </div>

      <%= render :partial => 'general/locale_switcher' %>

      <% if ! (controller.action_name == 'signin' or controller.action_name == 'signup') %>
        <div id="logged_in_bar">
          <div id="logged_in_links">
            <% if @user %>
              <span class="greeting"><%= _('Hello, {{username}}!', :username => @user.name) %></span>
              <%= link_to _("My requests"), show_user_requests_path(:url_name => @user.url_name) %>
              <%= link_to _("My profile"), show_user_profile_path(:url_name => @user.url_name) %>
              <%= link_to _("My wall"), show_user_wall_path(:url_name => @user.url_name) %>
              <%= link_to _("Sign out"), signout_path(:r => request.fullpath) %>
            <% else %>
              <%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= render :partial => 'general/responsive_topnav' %>
  </div>
</div>

<% if params[:action] == 'frontpage' %>
  <%= render :partial => "frontpage_hero" %>
<% end %>
