<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <%= content_for(:head_suffix) %>
</head>
<body id="<%= wrapper %>">
  <%= content_for(:body_prefix) %>
  <%= body %>
  <%= content_for(:body_suffix) %>
</body>
</html>
