<div class="marketing__section">
  <div class="marketing__hero">
    <h1>WhatDoTheyKnow<sup>Pro</sup> is a powerful, fully-featured <strong class="marketing-highlight">FOI toolkit</strong> for journalists</h1>
  <h2>Everything you need to keep on top of complex FOI-driven stories.</h2>
  <div class="marketing__hero__cta">
    <h3>Now in beta </h2>
    <a href="#input-beta" class="button" id="launch-access">Get pre-launch access</a>
  </div>
  </div>

</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2>WhatDoTheyKnow<sup>Pro</sup></h2>
    <p>An all-in-one FOI toolkit for journalists, activists and campaigners</p>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li>Unlimited <strong class="marketing-highlight">private requests</strong>: break the story when you’re ready</li>
        <li>A powerful <strong class="marketing-highlight">private dashboard</strong>: track and manage your FOI projects</li>
        <li>A super-smart <strong class="marketing-highlight">to-do list</strong>: follow the progress of your requests</li>
        <li><strong class="marketing-highlight">Action alerts</strong>: know when it’s time to take the next step</li>
      </ul>

      <div class="side-by-side-elements screenshots">
        <div class="side-by-side-element">
          <a href="<%= image_path("alaveteli-pro/screenshot-dashboard.png") %>"><%= image_tag("alaveteli-pro/screenshot-dashboard.png", :alt => "Pro brings a new dashboard view") %></a>
        </div>
        <div class="side-by-side-element">
          <a href="<%= image_path("alaveteli-pro/screenshot-requests.png") %>"><%= image_tag("alaveteli-pro/screenshot-requests.png", :alt => "Pro features a new request list view") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2>Plus, all the power of WhatDoTheyKnow</h2>
    <p><strong>WhatDoTheyKnow<sup>Pro</sup></strong> runs on the UK’s best-known FOI service</p>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li>Up-to-date database of <strong class="marketing-highlight">contact details</strong> for 20,000 authorities</li>
        <li>A <strong class="marketing-highlight">searchable archive</strong> of Freedom of Information requests</li>
        <li><strong class="marketing-highlight">Delivery verification</strong> for proof of receipt</strong></li>
        <li>A permanent, searchable, <strong class="marketing-highlight">public record</strong> of your request and the responses</li>
        <li><strong class="marketing-highlight">Streamlined process</strong> for requesting internal reviews</li>
      </ul>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2>Coming soon - batch requests</h2>
  </div>
  <div class="marketing__section__content">


    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li><strong class="marketing-highlight">Make a request to multiple authorities</strong>: select authorities at the click of a button</li>
        <li><strong class="marketing-highlight">Manage large volumes of responses</strong>:  easily keep track of the status of each request</li>
        <li><strong class="marketing-highlight">Get regular updates</strong> as the responses come in — without overwhelming your inbox</li>
      </ul>


      <div class="side-by-side-elements screenshots">
        <div class="side-by-side-element">
          <a href="<%= image_path("alaveteli-pro/screenshot-batch-selection.png") %>"><%= image_tag("alaveteli-pro/screenshot-batch-selection.png", :alt => "Batch requests allow multiple recipients of a single request") %></a>
        </div>
        <div class="side-by-side-element">
          <a href="<%= image_path("alaveteli-pro/screenshot-batch-list.png") %>"><%= image_tag("alaveteli-pro/screenshot-batch-list.png", :alt => "Batch requests are part of a new workflow") %></a>
        </div>
      </div>

      <label class="houdini-label input-beta-button button" for="input-beta">Get access to the beta</label>
      <input class="houdini-input" type="checkbox" id="input-beta">
      <form class="houdini-target form beta-signup-form">
      <h3>Request access to WhatDoTheyKnow<sup>Pro</sup> beta</h3>
      Successful applicants will receive free early access to WhatDoTheyKnow<sup>Pro</sup> for a year.
        <div>
          <label for="email">Email address</label>
          <input name="email" id="email" type="email"></input>
        </div>
        <div>
          <label for="why">Why do you want access?</label>
          <textarea name="why" id="why" rows="10" cols="50"></textarea>
        </div>
        <div>
          <label for="why">Are you interested free training, seminars and workshops about WhatDoTheyKnow<sup>Pro</sup>?</label>
          <div class="inline-elements">
            <label for="training-emails-yes" class="inline-element"><input type="radio" name="training-emails" id="training-emails-yes" />Yes</label>
            <label for="training-emails-no" class="inline-element"><input type="radio" name="training-emails" id="training-emails-no" />No</label>
          </div>
        </div>
        <div>
          <label for="why">Get email updates about WhatDoTheyKnow<sup>Pro</sup>?</label>
          <div class="inline-elements">
            <label for="marketing-emails-yes" class="inline-element"><input type="radio" name="marketing-emails" id="marketing-emails-yes" />Yes</label>
            <label for="marketing-emails-no" class="inline-element"><input type="radio" name="marketing-emails" id="marketing-emails-no" />No</label>
          </div>
        </div>
        <input type="submit" value="Send your request" />
      </form>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2>More information</h2>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items marketing__section__more-info">
    <!--   <p><a href="#">Frequently asked questions</a></p> -->
      <h3>Contact us</h3>
      <ul class="unstyled-list">
        <li><a href="mailto:alaveteli-pro@mysociety.org">alaveteli-pro@mysociety.org</a></li>
        <li><a href="https://twitter.com/mysociety">@mysociety</a></li>
      </ul>
    </div>
  </div>
</div>
