<div class="inner-canvas">
  <div class="inner-canvas-header">
    <div class="row">
      <h1><%= @project.title %></h1>
    </div>
  </div>

  <div class="inner-canvas-body">
    <div class="row project-dataset__description">
      <%= @project.dataset_description %>

      <% if can?(:edit, @project) %>
        <% button_text = if @project.dataset_description.present?
            @project.dataset_public? ? _('Edit description') : _('Edit description and make dataset public')
          else
            @project.dataset_public? ? _('Add description') : _('Add description and make dataset public')
          end %>
        <%= link_to button_text, edit_project_dataset_path(@project), class: 'button' %>
      <% end %>
    </div>

    <div class="row">
      <p>
        <% if can? :read, @project %>
          <%= link_to _('Back to project'),
                project_path(@project),
                class: 'button-secondary' %>
        <% end %>

        <%= link_to _('Download'),
              project_dataset_path(@project, format: :csv),
              class: 'button' %>
      </p>

      <table class="dataset">
        <% @export.data_for_web.each_with_index do |data, index| %>
          <% if index == 0 %>
            <tr>
              <% data.keys.each do |key| %>
                <th class="dataset__<%= key.to_s.parameterize %>"><%= key.to_s.humanize %></th>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <% data.each do |key, value| %>
              <td class="dataset__<%= key.to_s.parameterize %>"><%= value %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
