<table class="table table-striped table-condensed">
  <tbody>
    <% outgoing_message.for_admin_column do |name, value| %>
      <tr>
        <td class="span3">
          <b><%= name.humanize %></b>
        </td>

        <td>
          <% if name == 'body' %>
            <% truncated_value = truncate(h(value&.squish), length: 100, omission: '') { link_to '…', '#', title: 'Show more', class: 'toggle-hidden' } %>
            <%= simple_format(truncated_value) %>
            <div style="display:none;"><%= simple_format(value&.truncate(1000)) %></div>
          <% elsif name == 'prominence' %>
            <%= h highlight_prominence(value) %>
          <% else %>
            <%= admin_value(value) %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td class="span3">
        <b>Raw body</b>
      </td>

      <td>
        <% truncated_value = truncate(h(outgoing_message.raw_body&.squish), length: 100, omission: '') { link_to '…', '#', title: 'Show more', class: 'toggle-hidden' } %>
        <%= simple_format(truncated_value) %>
        <div style="display:none;">
          <%= simple_format(outgoing_message.raw_body&.truncate(1000)) %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
