<div class="wizard__question" data-block="<%= question.id %>" data-show-if="<%= question.show_if.to_json %>">
  <fieldset>
    <legend>
      <%= render question.label %>
      <%= render question.hint %>
    </legend>

    <div class="wizard__options <%= wizard_option_class(question.options) %>">
      <% question.options.each do |option| %>
        <%= refusal_advice_question(question, option) %>
      <% end %>
    </div>
  </fieldset>
</div>
