<%= form_for(:alaveteli_pro_draft_info_request_batch,
             url: update_bodies_alaveteli_pro_draft_info_request_batches_path,
             method: :put,
             html: { class: 'js-add-authority-to-batch-form',
                     data: { body_id: authority_id } }) do |f| %>
  <%= hidden_field_tag(:authority_query, query) unless query.blank? %>
  <%= hidden_field_tag(:page, page) unless page.blank? %>
  <%= f.hidden_field(:draft_id, value: draft.id, class: 'js-draft-id') %>
  <%= f.hidden_field(:public_body_id, value: authority_id) %>
  <%= f.hidden_field(:action, value: 'add') %>
  <button type="submit"
          class="button button--add
                 add-authority-to-batch__form__submit
                 js-add-authority-to-batch-submit">
      <%= _('Add') %>
  </button>
<% end %>
