<ul class="batch-builder__list">

  <li class="batch-builder__list__group">
    <div class="batch-builder__list__item">
      <span class="batch-builder__list__item__caret"></span>
      <span class="batch-builder__list__item__name">
        Central government
      </span>
      <div class="batch-builder__list__item__action">
        <div class="batch-builder__list__item__action__add">
          <form>
            <button type="submit" class="add-authority-to-batch__form__submit js-add-authority-to-batch-submit button button--add"><%= _('Add all') %></button>
          </form>
        </div>
      </div>
    </div>
    <ul>

      <li class="batch-builder__list__group">
        <div class="batch-builder__list__item">
          <span class="batch-builder__list__item__caret"></span>
          <a href="#" class="batch-builder__list__item__anchor">
            <span class="batch-builder__list__item__name">
              Ministerial departments
            </span>
          </a>
          <div class="batch-builder__list__item__action">
            <div class="batch-builder__list__item__action__add">
              <form>
                <button type="submit" class="add-authority-to-batch__form__submit js-add-authority-to-batch-submit button button--add"><%= _('Add all') %></button>
              </form>
            </div>
          </div>
        </div>
        <ul>

          <li class="batch-builder__list__item">
            <span class="batch-builder__list__item__name">
              Department for Humpadinking
            </span>
            <div class="batch-builder__list__item__action">
              <div class="batch-builder__list__item__action__add">
                <form>
                  <button type="submit" class="add-authority-to-batch__form__submit js-add-authority-to-batch-submit button button--add"><%= _('Add') %></button>
                </form>
              </div>
            </div>
          </li>

          <li class="batch-builder__list__item">
            <span class="batch-builder__list__item__name">
              Department of Loneliness
            </span>
            <div class="batch-builder__list__item__action">
              <div class="batch-builder__list__item__action__add">
                <form>
                  <button type="submit" class="add-authority-to-batch__form__submit js-add-authority-to-batch-submit button button--add"><%= _('Add') %></button>
                </form>
              </div>
            </div>
          </li>

          <li class="batch-builder__list__item">
            <span class="batch-builder__list__item__name">
              Ministry of Sensible Walks
            </span>
            <div class="batch-builder__list__item__action">
              <div class="batch-builder__list__item__action__add">
                <form>
                  <button type="submit" class="add-authority-to-batch__form__submit js-add-authority-to-batch-submit button button--add"><%= _('Add') %></button>
                </form>
              </div>
            </div>
          </li>

        </ul>
      </li>

    </ul>
  </li>

  <li class="batch-builder__list__group">
    <div class="batch-builder__list__item">
      <span class="batch-builder__list__item__caret"></span>
      <span class="batch-builder__list__item__name">
        Non-governmental organisations
      </span>
      <div class="batch-builder__list__item__action">
        <div class="batch-builder__list__item__action__add">
          <form>
            <button type="submit" class="add-authority-to-batch__form__submit js-add-authority-to-batch-submit button button--add"><%= _('Add all') %></button>
          </form>
        </div>
      </div>
    </div>
    <ul>

      <li class="batch-builder__list__item">
        <span class="batch-builder__list__item__name">
          Geraldine Quango
        </span>
        <div class="batch-builder__list__item__action">
          <div class="batch-builder__list__item__action__add">
            <form>
              <button type="submit" class="add-authority-to-batch__form__submit js-add-authority-to-batch-submit button button--add"><%= _('Add') %></button>
            </form>
          </div>
        </div>
      </li>

    </ul>
  </li>

</ul>
