<% if !request.xhr? && draft_batch_request.public_bodies.count >= AlaveteliConfiguration.pro_batch_authority_limit %>
  <div class="blank-slate"><%= _('No more authorities can be added to this batch request.') %></div>
<% else %>
  <ul class="batch-builder__list">
  <% PublicBodyHeading.includes(:translations).by_display_order.each do |heading| %>
    <% opened = heading.public_body_categories.map(&:category_tag).include?(category_tag) %>
    <li class="batch-builder__list__group">
      <div class="batch-builder__list__item">
        <span class="batch-builder__list__item__anchor">
          <span class="batch-builder__list__item__name">
            <%= heading.name %>
          </span>
        </span>
      </div>
      <ul>
      <% heading.public_body_categories.includes(:translations).each do |category| %>
        <% selected = category.category_tag == category_tag %>
        <li class="batch-builder__list__group <%= 'batch-builder__list__group--closed' unless selected %>">
          <div class="batch-builder__list__item">
            <%= link_to alaveteli_pro_batch_request_authority_searches_path(mode: mode, category_tag: category.category_tag, draft_id: draft_batch_request.id), class: 'batch-builder__list__item__anchor' do %>
              <span class="batch-builder__list__item__name">
                <%= category.title %>
              </span>
            <% end %>
            <div class="batch-builder__list__item__action">
              <div class="batch-builder__list__item__action__add">
                <%= form_for(:alaveteli_pro_draft_info_request_batch,
                             url: update_bodies_alaveteli_pro_draft_info_request_batches_path,
                             method: :put,
                             html: { class: 'js-add-authority-to-batch-form' }) do |f| %>
                  <%= hidden_field_tag(:mode, mode) %>
                  <%= hidden_field_tag(:category_tag, category.category_tag) %>
                  <%= f.hidden_field(:draft_id, value: draft_batch_request.id, class: 'js-draft-id') %>
                  <%= f.hidden_field(:action, value: 'add-all') %>
                  <button type="submit"
                          class="add-authority-to-batch__form__submit
                                 js-add-authority-to-batch-submit
                                 button button--add">
                    <%= _('Add all') %>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
          <% if selected %>
            <%= render partial: 'public_bodies',
                       locals: {
                         draft_batch_request: @draft_batch_request,
                         body_ids_added: @body_ids_added,
                         public_bodies: @public_bodies
                       } %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
<% end %>
