<ul>
  <% key = rails5? ? public_bodies : public_bodies.maximum(:updated_at).to_i %>
  <% cache [:batch_builder, locale, category_tag, page, key] do %>
    <% public_bodies.each do |public_body| %>
      <% body_key = "public_bodies/#{public_body.id}-#{public_body.updated_at.to_i}" %>
      <% cache [:batch_builder, locale, category_tag, body_key] do %>
        <%= render partial: 'alaveteli_pro/batch_request_authority_searches/search_result',
                   locals: { public_body: public_body,
                             draft: draft_batch_request,
                             query: nil,
                             page: nil,
                             body_ids_added: body_ids_added } %>
      <% end %>
    <% end %>
  <% end %>
  <% if public_bodies.total_pages > 1 %>
    <li class="batch-builder__list__item">
      <div class="batch-builder__list__item__action">
        <% if page > 1 %>
          <%= link_to alaveteli_pro_batch_request_authority_searches_path(
                mode: mode,
                category_tag: category_tag,
                draft_id: draft_batch_request.id,
                page: page.pred,
                per_page: per_page),
              class: 'batch-builder__list__item__action__prev button button--prev' do %>
            <%= _('Previous') %>
          <% end %>
        <% end %>
        <% if page < public_bodies.total_pages %>
          <%= link_to alaveteli_pro_batch_request_authority_searches_path(
                mode: mode,
                category_tag: category_tag,
                draft_id: draft_batch_request.id,
                page: page.next,
                per_page: per_page),
              class: 'batch-builder__list__item__action__next button button--next' do %>
            <%= _('Next') %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </li>
</ul>
