<%= form_for(:alaveteli_pro_draft_info_request_batch,
             url: update_bodies_alaveteli_pro_draft_info_request_batches_path,
             method: :put,
             html: { class: 'batch-builder__list__list__action
                             js-remove-authority-from-batch-form',
                     data: { body_id: authority_id } }) do |f| %>
  <%= hidden_field_tag(:authority_query, query) unless query.blank? %>
  <%= hidden_field_tag(:page, page) unless page.blank? %>
  <%= hidden_field_tag(:mode, mode) %>
  <%= hidden_field_tag(:category_tag, category_tag) %>
  <%= f.hidden_field(:draft_id, value: draft.id, class: 'js-draft-id') %>
  <%= f.hidden_field(:public_body_id, value: authority_id) %>
  <%= f.hidden_field(:action, value: 'remove') %>
  <button type="submit"
          class="button button--remove
                 js-remove_authority-from-batch-submit">
      <%= _('Remove') %>
  </button>
<% end %>
