<% if !request.xhr? && draft_batch_request.public_bodies.count >= AlaveteliConfiguration.pro_batch_authority_limit %>
  <div class="blank-slate"><%= _('No more authorities can be added to this batch request.') %></div>
<% elsif search.present? && search.results.present? %>
  <ul class="batch-builder__list js-batch-authority-search-results-list">
    <% search.results.each do |result| %>
      <% next unless result[:model].is_requestable? %>
      <%= render partial: 'alaveteli_pro/batch_request_authority_searches/search_result',
                 locals: { public_body: result[:model],
                           draft: draft_batch_request,
                           query: query,
                           page: page,
                           body_ids_added: body_ids_added } %>
    <% end %>
  </ul>

  <% collection = WillPaginate::Collection.new(page, per_page, result_limit) %>
  <%= will_paginate collection, page_links: false %>
  <p class="batch-builder__list__page-info">
    Page <%= page %> of <%= collection.total_pages %>
  </p>

<% elsif query && search.present? %>
  <div class="blank-slate"><%= _('Sorry, no authorities matched that search') %></div>
<% end %>
