<% added = body_ids_added.include? public_body.id %>
<li class="batch-builder__list__item
           js-batch-authority-search-results-list-item
           <%= 'js-batch-authority-search-results-list-item--added' if added %>"
    data-body-id="<%= public_body.id %>">

  <div class="batch-builder__list__item__details">
    <span class="batch-builder__list__item__name">
      <%= public_body.name %>
    </span>

    <% if public_body.has_notes?(tag: 'important_notes') %>
      <details class="batch-builder__list__item__notes">
        <summary>
          <%= _('Important info about requests to this authority') %>
        </summary>

        <p>
          <%= sanitize(public_body.notes, tags: batch_notes_allowed_tags) %>
        </p>
      </details>
    <% end %>
  </div>

  <div class="batch-builder__list__item__action">
    <span class="batch-builder__list__item__action__added">
      <%= _('Added') %>
    </span>
    <div class="batch-builder__list__item__action__add">
      <%= render partial: 'alaveteli_pro/batch_request_authority_searches/add_authority_to_draft_button',
                 locals: { draft: draft,
                           query: query,
                           page: page,
                           authority_id: public_body.id } %>
    </div>
  </div>
</li>
