<% @title = _('Add authorities to your batch') %>

<div class="pro-canvas">

  <div class="pro-canvas-header">
    <div class="row">
      <h1 class="small-12 columns"><%= @title %></h1>
    </div>
  </div>

  <div class="pro-canvas-body">
    <div class="batch-builder js-batch-authority-search">
      <div class="batch-builder__search-form">

        <%= form_tag alaveteli_pro_batch_request_authority_searches_path,
                     method: :get,
                     class: 'js-batch-authority-search-form' do %>
          <% if @draft_batch_request.id %>
            <%= hidden_field_tag :draft_id,
                                 @draft_batch_request.id,
                                 class: 'js-batch-authority-search-form-draft-id' %>
          <% end %>
          <label for="authority_query"><%= _('Search for an authority by name') %></label>
          <input type="text"
                 name="authority_query"
                 class="js-batch-authority-search-form-query"
                 id="authority_query"
                 value="<%= @query %>"
                 placeholder="<%= _('eg. Cabinet Office') %>"
                 autofocus>
          <input type="submit" value="<%= _('Search') %>">
        <% end %>

      </div>
      <div class="batch-builder__search-results">

        <div class="js-batch-authority-search-results"
             data-ajax-error-message="<%= _('Sorry, something went wrong ' \
                                            'getting your results, please ' \
                                            'try searching again.') %>"
             data-new-draft="<%= @draft_batch_request.persisted? %>">
          <%= render partial: 'search_results',
                     locals: { search: @search,
                               draft_batch_request: @draft_batch_request,
                               body_ids_added: @body_ids_added,
                               query: @query,
                               page: @page,
                               per_page: @per_page,
                               result_limit: @result_limit } %>
        </div>

      </div>
      <div class="batch-builder__chosen-authorities">

        <div class="js-draft-batch-request"
             data-ajax-error-message="<%= _('Sorry, something went wrong updating ' \
                                            'your batch request, please try again.') %>">
          <%= render partial: 'alaveteli_pro/draft_info_request_batches/summary',
                     locals: { draft: @draft_batch_request,
                               query: @query,
                               page: @page } %>
        </div>
      </div>
      <div class="batch-builder__actions">
        <%= form_tag new_alaveteli_pro_info_request_batch_path, method: :get do %>
          <%= hidden_field_tag :draft_id,
                               @draft_batch_request.id,
                               class: 'js-write-button-draft-id' %>
          <input type="submit"
                 class="js-write-request-button"
               <% if @draft_batch_request.public_bodies.empty? %>
                 disabled
                <% end %>
                 value="<%= _('Write request') %>">
        <% end %>
      </div>
    </div>
  </div>
</div>
