<% @title = _('Add authorities to your batch') %>

<div class="pro-canvas">

  <div class="pro-canvas-header">
    <div class="row">
      <h1><%= @title %></h1>
    </div>
  </div>

  <div class="pro-canvas-body">
    <div class="row batch-authority-search js-batch-authority-search">

      <%= form_tag alaveteli_pro_batch_request_authority_searches_path,
                   method: :get,
                   class: 'batch-authority-search__form js-batch-authority-search-form' do %>
        <% if @draft_batch_request.id %>
          <%= hidden_field_tag :draft_id,
                               @draft_batch_request.id,
                               class: 'js-batch-authority-search-form-draft-id' %>
        <% end %>
        <label for="authority_query" class="visually-hidden"><%= _('Search') %></label>
        <input type="text"
               name="authority_query"
               class="batch-authority-search__form__query js-batch-authority-search-form-query"
               id="authority_query"
               value="<%= @query %>"
               placeholder="<%= _('Search for an authority by name') %>"
               autofocus>
        <input type="submit" value="<%= _('Search') %>" class="batch-authority-search__form__submit">
      <% end %>

      <div class="batch-authority-search__results js-batch-authority-search-results"
           data-ajax-error-message="<%= _('Sorry, something went wrong ' \
                                          'getting your results, please ' \
                                          'try searching again.') %>">
        <%= render partial: 'search_results',
                   locals: { search: @search,
                             draft_batch_request: @draft_batch_request,
                             body_ids_added: @body_ids_added,
                             query: @query,
                             page: @page,
                             per_page: @per_page,
                             result_limit: @result_limit } %>
      </div>
    </div>
  </div>

  <div class="row draft-batch-request js-draft-batch-request"
       data-ajax-error-message="<%= _('Sorry, something went wrong updating' \
                                      'your batch request, please try again.') %>">
    <%= render partial: 'alaveteli_pro/draft_info_request_batches/summary',
               locals: { draft: @draft_batch_request,
                         query: @query,
                         page: @page } %>
  </div>
</div>
