<% @title = _('Add authorities to your batch') %>

<div class="pro-canvas">

  <div class="pro-canvas-header">
    <div class="row">
      <h1><%= @title %></h1>
    </div>
  </div>

  <div class="pro-canvas-body">
    <div class="row">

      <%= form_tag alaveteli_pro_batch_request_authority_searches_path,
                   method: :get do %>
        <% if @draft_batch_request.id %>
          <%= hidden_field_tag :draft_id, @draft_batch_request.id %>
        <% end %>
        <label for="query" class="visually-hidden"><%= _('Search') %></label>
        <input type="text"
               name="query"
               id="query"
               value="<%= @query %>"
               placeholder="<%= _('Search for an authority by name') %>"
               autofocus>
        <input type="submit" value="<%= _('Search') %>">
      <% end %>

      <% if @search && @search.results.present? %>
      <ul>
        <% @search.results.each do |result| %>
          <% added = @draft_batch_request.public_body_ids.include?(result[:model][:id]) %>
          <li>
            <%= result[:model].name %>
            <% if added %>
              [Added]
            <% else %>
              <%= render partial: 'add_authority_to_draft_button',
                         locals: { draft: @draft_batch_request,
                                   query: @query,
                                   authority: result[:model] } %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <%= will_paginate WillPaginate::Collection.new(@page, @per_page, @result_limit) %>

      <% elsif @search && @search.results.blank? %>
        <p><%= _('Sorry, no authorities matched that search') %></p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% if @draft_batch_request && @draft_batch_request.public_bodies.present? %>
      <ul>
      <% @draft_batch_request.public_bodies.each do |authority| %>
        <li>
          <%= authority.name %>
          <%= render partial: 'remove_authority_from_draft_button',
                     locals: { draft: @draft_batch_request,
                               query: @query,
                               authority: authority } %>
        </li>
      <% end %>
      </ul>
    <% else %>
      <p><%= _("You haven't added any authorities to your batch yet") %></p>
    <% end %>
  </div>
</div>
