<% if @track_things.empty? %>
  <p><%= _("You're not following anything.") %></p>
<% else %>
  <% if @track_things_grouped.size == 1 %>
    <%= form_tag({:controller => 'track', :action => 'delete_all_type'}, :class => "feed_form") do %>
      <h3>
        <%=TrackThing.track_type_description(@track_things[0].track_type)%>
        <%= hidden_field_tag 'track_type', @track_things[0].track_type %>
        <%= hidden_field_tag 'user', @display_user.id %>
        <%= hidden_field_tag 'r', request.fullpath %>
        <% if @track_things.size > 1 %>
          <%= submit_tag _('unsubscribe all') %>
        <% end %>
      </h3>
    <% end %>
  <% end %>

  <% @track_things_grouped.each do |track_type, track_things| %>
    <% if @track_things_grouped.size > 1 %>
      <%= form_tag({:controller => 'track', :action => 'delete_all_type'}, :class => "feed_form") do %>
        <h3>
          <%=TrackThing.track_type_description(track_type)%>
          <%= hidden_field_tag 'track_type', track_type %>
          <%= hidden_field_tag 'user', @display_user.id %>
          <%= hidden_field_tag 'r', request.fullpath %>
          <% if track_things.size > 1 %>
            <%= submit_tag _('unsubscribe all')%>
          <% end %>
        </h3>
      <% end %>
    <% end %>

    <ul class="feed_list">
      <% track_things.each do |track_thing| %>
        <li>
          <%= track_description(track_thing) %>
          <%= button_to _("unsubscribe"), track_path(track_thing, r: request.fullpath), method: :delete %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
