<% if @track_things.empty? %>
  <p><%= _("You're not following anything.") %></p>
<% else %>
  <% if @track_things_grouped.size == 1 %>
    <%= form_tag({ controller: 'track', action: 'delete_all_type' }, class: "feed_form") do %>
      <h3>
        <%= TrackThing.track_type_description(@track_things[0].track_type) %>
        <%= hidden_field_tag 'track_type', @track_things[0].track_type %>
        <%= hidden_field_tag 'user', @display_user.id %>
        <%= hidden_field_tag 'r', request.fullpath %>
        <% if @track_things.size > 1 %>
          <%= submit_tag _('unsubscribe all') %>
        <% end %>
      </h3>
    <% end %>
  <% end %>

  <% @track_things_grouped.each do |track_type, track_things| %>
    <% if @track_things_grouped.size > 1 %>
      <%= form_tag({ controller: 'track', action: 'delete_all_type' }, class: "feed_form") do %>
        <h3>
          <%= TrackThing.track_type_description(track_type) %>
          <%= hidden_field_tag 'track_type', track_type %>
          <%= hidden_field_tag 'user', @display_user.id %>
          <%= hidden_field_tag 'r', request.fullpath %>
          <% if track_things.size > 1 %>
            <%= submit_tag _('unsubscribe all') %>
          <% end %>
        </h3>
      <% end %>
    <% end %>

    <ul>
      <% track_things.each do |track_thing| %>
        <li>
          <%= form_tag({ controller: 'track', action: 'update', track_id: track_thing.id }, class: "feed_form") do %>
            <div>
              <%= track_description(track_thing) %>
              <%= hidden_field_tag 'track_medium', "delete", id: 'track_medium_' + track_thing.id.to_s %>
              <%= hidden_field_tag 'r', request.fullpath, id: 'r_' + track_thing.id.to_s %>
              <%= submit_tag _('unsubscribe') %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
