<table class="table table-striped table-condensed">
<tbody>
  <tr>
    <td>
      <b>Authority</b>
    </td>
    <td>
      <% if @change_request.public_body %>
        <%= both_links(@change_request.public_body) %>
      <% else %>
        <%= @change_request.get_public_body_name %>
      <% end %>
    </td>
  </tr>

  <% if @change_request.public_body %>
    <tr>
      <td>
        <b>Current address</b>
      </td>
      <td>
        <%= @change_request.public_body.request_email %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td>
      <b>Suggested address</b>
    </td>
    <td>
      <%= @change_request.public_body_email %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Source</b>
    </td>
    <td>
      <tt><%= link_to nil, @change_request.source_url %></tt>
    </td>
  </tr>

  <tr>
    <td>
      <b>Requested by</b>
    </td>
    <td>
      <%= @change_request.get_user_name %> (<%= @change_request.get_user_email %>)
    </td>
  </tr>

  <tr>
    <td>
      <b>Notes</b>
    </td>
    <td>
      <%= @change_request.notes %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Requested on</b>
    </td>
    <td>
      <%= admin_date(@change_request.created_at) %>
    </td>
  </tr>
</tbody>
</table>
