<% @title = "Debug" %>

<h1><%=@title%></h1>

<p>You are <%= h @http_auth_user %></p>

<h2>Version numbers</h2>

<p>
  Alaveteli version: <%= link_to @current_version, @github_origin + @current_version %>
<br>
<% if @current_branch == "(no branch)" %>
  Alaveteli branch: (no branch)
<% else %>
  Alaveteli branch: <%= link_to @current_branch, @github_origin + @current_branch %>
<% end %>
<br>
Alaveteli commit: <%= link_to @current_commit, @github_origin + @current_commit %>
<br>
RUBY_VERSION <%=h RUBY_VERSION %>
<br>
Rails::VERSION::STRING <%=h Rails::VERSION::STRING%>
<br>
Xapian::version_string <%=h Xapian::version_string%>
</p>

<h2>Configuration</h2>

<p>Rails env: <%=h Rails.env %>
<br>Rails root: <%=h Rails.root %>
</p>

<h2>Environment variables</h2>
<table>
  <% for k,v in @request_env %>
    <tr><td><%=h k%></td><td><%=h v%></td></tr>
  <% end %>
</table>

<h2>Parameters</h2>
<table>
  <% for k,v in params %>
    <tr><td><%=h k%></td><td><%=h v%></td></tr>
  <% end %>
</table>

<h2>Session</h2>
<table>
  <% for k,v in session %>
    <tr><td><%=h k%></td><td><%=h v%></td></tr>
  <% end %>
</table>

