<% @title = "Timeline" %>
<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to "Hour", admin_timeline_path(:hour => 1), :class => "btn" %>
    <%= link_to "Day", admin_timeline_path(:day => 1), :class => "btn" %>
    <%= link_to "2 days", admin_timeline_path, :class => "btn" %>
    <%= link_to "Week", admin_timeline_path(:week => 1), :class => "btn" %>
    <%= link_to "Month", admin_timeline_path(:month => 1), :class => "btn" %>
    <%= link_to "All time", admin_timeline_path(:all => 1), :class => "btn" %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h1><%= @events_title %></h1>
  </div>
</div>

<% last_date = nil %>
<% for event, event_at in @events %>
    <% if last_date != event_at.to_date %>
      <% if last_date.nil? %>
        <p>
      <% end %>

      <h3><%= simple_date(event_at) %></h3>

      <p>
    <% else %>
      <br>
    <% end %>

    <% last_date = event_at.to_date %>

    <%= simple_time(event_at) %>

    <% if event.is_a? InfoRequestEvent %>
      <%= request_both_links(event.info_request) %>

      <% if lookup_context.template_exists?(event.event_type, ['admin_general'], true) %>
      <%= render :partial => event.event_type, :locals => { :event => event } %>
      <% else %>
      had '<%=event.event_type%>' done to it, parameters <%= event.params_yaml %>.
      <% end %>

    <% else %>
      <%= public_body_both_links(event.public_body) %>
      was created/updated by administrator <strong><%= event.last_edit_editor %></strong>
    <% end %>
<% end %>

<%= will_paginate(@events, :class => 'paginator') %>

<% if not @events.empty? %>
  </p>
<% end %>
