<%= form_for(resource, as: :classification, url: project_classify_path) do |f| %>
  <%= hidden_field_tag 'r', params[:r] %>
  <%= hidden_field_tag 'url_title', info_request.url_title %>
  <%= hidden_field_tag 'resource_id', resource.id %>

  <h2><%= _('What best describes the status of this request now?') %></h2>

  <h3><%= _('This request is still in progress:') %></h3>

  <%= render partial: 'request/state_transition',
             collection: state_transitions[:pending],
             locals: { current_state: resource.described_state } %>

  <%= render partial: 'general/custom_state_transitions_pending',
             locals: { current_state: resource.described_state } %>

  <hr>

  <h3><%= _('This particular request is finished:') %></h3>

  <% if info_request.described_state == 'internal_review' %>
    <p><%= _('The <strong>review has finished</strong> and overall:') %></p>
  <% end %>

  <%= render partial: 'request/state_transition',
             collection: state_transitions[:complete],
             locals: { current_state: resource.described_state } %>

  <%= render partial: 'general/custom_state_transitions_complete',
             locals: { current_state: resource.described_state } %>

  <hr>

  <h3><%= _('Other:') %></h3>

  <%= render partial: 'request/state_transition',
             collection: state_transitions[:other],
             locals: { current_state: resource.described_state } %>

  <hr>

  <p>
    <%= hidden_field_tag 'last_info_request_event_id',
                         info_request.last_event_id_needing_description,
                         id: 'last_info_request_event_id' %>

    <% if resource.persisted? %>
      <%= submit_tag _('Update classification') %>
      <%= link_to _('Cancel'), project_dataset_path(project), class: 'button-tertiary button--full-width' %>
    <% else %>
      <%= submit_tag _('Submit status') %>
      <%= link_to _('Skip'), skip_project_classify_path(project, url_title: info_request.url_title), method: :patch, class: 'button-tertiary button--full-width' %>
    <% end %>
  </p>
<% end %>
