<div class="classify-right-column sidebar sidebar--sticky">
  <div class="classify-request-controls">
    <div class="js-request-navigation request-navigation"
      data-next-text="<%= _("Next message") %>"
      data-prev-text="<%= _("Previous message") %>"
      data-status-text="<%= _("Message {{current_message}} of {{total_messages}}",
                              current_message: '[[x]]',
                              total_messages: '[[y]]') %>">
    </div>

    <%= render partial: 'describe_state',
               locals: { info_request: info_request,
                         project: project,
                         state_transitions: state_transitions } %>

    <a class="button-tertiary button--full-width form__skip-button js-project-skip-button" style="display:none" href="#">
      <%= _('Skip') %>
    </a>
  </div>
</div>
