<head>
  <%= stylesheet_link_tag "widget" %>
</head>
<body>
  <div class="alaveteli-widget">
    <div class="alaveteli-widget__top">
      <div class="alaveteli-widget__left">
        <div class="alaveteli-widget__title">
          <%= link_to @info_request.title, request_path(@info_request), :target => "_top" %>
        </div>
        <div class="alaveteli-widget__status <%= @status %>">
          <p class="alaveteli-widget__status__status-label">Status</p>
          <%= status_description(@info_request, @status) %>
        </div>
      </div>
      <div class="alaveteli-widget__people-count">
        <%= n_('<div class="alaveteli-widget__count">{{count}}</div> person wants to know',
               '<div class="alaveteli-widget__count">{{count}}</div> people want to know',
               @count, :count => @count) %>
      </div>
    </div>

    <div class="alaveteli-widget__bottom">
      <% if @user_owns_request %>
        <span class="alaveteli-widget__bottom__no-action">
          <%= _('This is your request') %>
        </span>
      <% elsif @existing_track %>
        <%= link_to update_url(:track_id => @existing_track.id, :track_medium => "delete", :r => show_user_profile_url(:url_name => @user.url_name)), :target => '_top',
          :class => 'alaveteli-widget__bottom__action alaveteli-widget__button--unsubscribe' do %>
            <%= _('Unsubscribe') %>
        <% end %>
      <% elsif @existing_vote %>
        <%= link_to track_request_url(:url_title => @info_request.url_title, :feed => 'track'), :target => '_top',
          :class => 'alaveteli-widget__bottom__action alaveteli-widget__button--sign-in-to-track' do %>
          <%= _('Sign in to track this request') %>
        <% end %>
      <% elsif @user %>
        <%= link_to do_track_path(@track_thing), :target => '_top',
          :class => 'alaveteli-widget__bottom__action alaveteli-widget__button--create-track' do %>
          <%= _('I also want to know!') %>
        <% end %>
      <% else %>
        <%= form_tag request_widget_votes_url(@info_request), :method => 'post', :target => '_top' do %>
          <%= submit_tag _('I also want to know!'), :class => 'alaveteli-widget__bottom__action alaveteli-widget__button--create-vote' %>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
