<div class="sidebar__section request__download">
  <h2>
    <%= _('Downloads') %>
  </h2>

  <%= link_to alaveteli_pro_info_request_batch_batch_download_path(
                info_request_batch_id: info_request_batch,
                format: :zip) do %>
      <i class="download-icon"></i>
      <%= _('ZIP') %>
  <% end %>

  <%= link_to alaveteli_pro_info_request_batch_batch_download_path(
                info_request_batch_id: info_request_batch,
                format: :csv) do %>
      <i class="download-icon"></i>
      <%= _('CSV') %>
  <% end %>
</div>
