<% @title = _('{{title}} - a batch request', title: @info_request_batch.title) %>

<% if flash[:batch_sent] %>
  <%= render partial: 'batch_sent' %>
<% end %>

<div class="info_request_batch_intro">
  <h1><%= @title %></h1>

  <% if @info_request_batch.sent? %>
    <%= n_('Sent to one authority by {{info_request_user}} on {{date}}.',
           'Sent to {{authority_count}} authorities by {{info_request_user}} on {{date}}.',
           @info_request_batch.info_requests.size,
           authority_count: @info_request_batch.info_requests.size,
           info_request_user: user_link(@info_request_batch.user),
           date: simple_date(@info_request_batch.sent_at)) %>
  <% else %>
    <%= _('Created by {{info_request_user}} on {{date}}.',
          info_request_user: user_link(@info_request_batch.user),
          date: simple_date(@info_request_batch.created_at)) %>

    <%= _('Requests will be sent to the following bodies:') %>
  <% end %>
</div>

<div id="left_column" class="left_column">
  <div class="results_section">
    <div class="results_block">
      <% if @info_request_batch.sent? %>
        <% @info_requests.each do |info_request| %>
          <%= render partial: 'request/request_listing_via_event',
                     locals: { event: info_request.last_event_forming_initial_request } %>
        <% end %>

        <%= will_paginate @info_requests %>
      <% else %>
        <%= render partial: 'public_body/body_listing',
                   locals: { public_bodies: @public_bodies } %>

        <%= will_paginate @public_bodies %>
      <% end %>
    </div>
  </div>
</div>

<div id="right_column" class="sidebar right_column" role="complementary">
  <% if @info_request_batch.sent? %>
    <%= render partial: "alaveteli_pro/info_request_batches/embargo_form",
               locals: { info_request_batch: @info_request_batch } %>
  <% end %>

  <% if @info_request_batch.is_owning_user?(current_user) %>
    <%= render partial: 'downloads',
               locals: { info_request_batch: @info_request_batch } %>
  <% end %>
</div>
