<%= foi_error_messages_for :censor_rule %>

<div class="well">
  Applies to <%= censor_rule_applies_to(@censor_rule) %>
</div>

<div class="control-group">
  <label for="censor_rule_regexp" class="control-label">Is it regexp replacement?</label>
  <div class="controls">
    <%= check_box 'censor_rule', 'regexp' %>
    <div class="help-block">
      Leave unchecked if you are not sure about this
    </div>
  </div>
</div>

<div class="control-group">
  <label for="censor_rule_text" class="control-label">Text</label>
  <div class="controls">
    <%= text_field 'censor_rule', 'text', class: 'span6' %>
    <div class="help-block">
      that you want to remove, case sensitive
    </div>
  </div>
</div>

<div class="control-group">
  <label for="censor_rule_replacement" class="control-label">Replacement</label>
  <div class="controls">
    <% placeholder =
      if @censor_rule.canned_replacements.any?
        'Select or add your own'
      end
    %>

    <%= text_field 'censor_rule',
                   'replacement',
                   class: 'span6',
                   list: 'canned-replacements',
                   autocomplete: 'off',
                   placeholder: placeholder %>

    <datalist id="canned-replacements">
      <%= options_for_select(@censor_rule.canned_replacements) %>
    </datalist>

    <div class="help-block">
      Put it in <strong>[square brackets]</strong>, e.g.
      <tt>[Name removed]</tt>. Applies to text in emails and HTML conversions of
      binaries; binaries themselves must stay the same length and the
      replacement is just a bunch of 'x's
    </div>
  </div>
</div>

<div class="control-group">
  <label for="censor_rule_last_edit_comment" class="control-label">Comment for this edit</label>
  <div class="controls">
    <%= text_area 'censor_rule', 'last_edit_comment', :data => { last_edit_comment: @censor_rule.last_edit_comment }, :value => '', :rows => 2, :class => "span6" %>
    <% if @censor_rule.last_edit_comment %>
      <a href="#" id="js-use-previous-comment" data-target="#censor_rule_last_edit_comment" class="btn">Use previous comment</a>
    <% end %>
    <div class="help-block">
      put purpose of the rule, and why the change
    </div>
  </div>
</div>
