<% if censor_rules.size > 0 %>
  <table class="table table-condensed">
    <tr>
      <th>Id</th>
      <% CensorRule.content_columns.each do |column| %>
        <th><%= column.human_name %></th>
      <% end %>
      <th>Actions</th>
    </tr>

    <% censor_rules.each do |censor_rule| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%=h censor_rule.id %></td>
        <% CensorRule.content_columns.map { |c| c.name }.each do |column| %>
          <td><%=h censor_rule.send(column) %></td>
        <% end %>
        <td>
          <%= link_to "Edit", edit_admin_censor_rule_path(censor_rule) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>None yet.</p>
<% end %>

<% if defined? info_request %>
  <%= link_to "New censor rule", new_admin_request_censor_rule_path(info_request), :class => "btn btn-info" %>
  <span class="label label-info">for this request only</span>
<% end %>

<% if defined? user %>
  <%= link_to "New censor rule", new_admin_user_censor_rule_path(user), :class => "btn btn-info" %>
  <span class="label label-info">for all requests by this user</span>
<% end %>
