<% @title = 'Edit censor rule' %>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1><%= @title %></h1>
    </div>
  </div>
</div>

<%= form_tag admin_censor_rule_path(@censor_rule), :method => 'put', :class => "form form-horizontal" do %>
  <%= render :partial => 'form',
             :locals => { :info_request => @censor_rule.info_request,
                          :user => @censor_rule.user,
                          :public_body => @censor_rule.public_body } %>
  <div class="form-actions">
    <%= submit_tag 'Save', :accesskey => 's', :class => "btn btn-success" %>

    <%= link_to 'Destroy censor rule', admin_censor_rule_path(@censor_rule),
                method: :delete,
                accesskey: 'd',
                class: 'btn btn-danger',
                data: { confirm: 'Destroying a censor rule is permanent. ' \
                                 'Are you sure?' } %>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <%= render partial: 'warnings' %>
    <%= render partial: 'about' %>
  </div>
</div>
