<label class="houdini-label input-beta-button button" for="input-beta">
  <%= _('Get access to the beta') %>
</label>
<input class="houdini-input" type="checkbox" id="input-beta" <% if params[:account_request].present? %>checked="true"<% end %>>
<%= form_for :account_request,
       :url => "#{account_request_index_path}#input-beta",
       :html => {:class => 'houdini-target form beta-signup-form'} do |f| %>
<h3>
  <%= _('Request access to {{site_name}} beta',
        site_name: AlaveteliConfiguration.pro_site_name) %>
</h3>
<%= _('Successful applicants will receive free early access to {{site_name}}' \
      ' for 6 months.',
      site_name: AlaveteliConfiguration.pro_site_name) %>
  <%= foi_error_messages_for :account_request %>
  <div>
    <label for="account_request_email">
      <strong>
        <%= _('Email address') %>
      </strong>
    </label>
    <%= f.email_field :email, :size => 20, :required => true %>
  </div>
  <div>
    <label for="account_request_reason">
      <strong>
         <%= _('Why do you want access?') %>
      </strong>
      <%= _('Please include links to some examples of your journalism or ' \
            'blogging if you can.') %>
    </label>
    <%= f.text_area :reason, :rows => 10, :cols => 50, :required => true %>
  </div>
  <div>
    <label for="account_request_offer_code">
      <%= _('If you have an <strong>offer code</strong>, please enter it ' \
            'here:') %>
    </label>
    <%= f.text_field :offer_code, :size => 20, :required => false %>
  </div>
  <div>
    <label for="account_request_training_emails">
      <%= _('Are you interested in free training, seminars and workshops ' \
            'about {{site_name}}?',
            site_name: AlaveteliConfiguration.pro_site_name) %>
    </label>
    <div class="inline-elements">
      <label for="account_request_training_emails_yes" class="inline-element">
      <%= f.radio_button 'training_emails', 'yes', :required => true %>
        <%= _("Yes") %>
      </label>
      <label for="account_request_training_emails_no" class="inline-element">
      <%= f.radio_button 'training_emails', 'no', :required => true %>
        <%= _("No") %>
      </label>
    </div>
  </div>
  <div>
    <label for="account_request_marketing_emails">
      <%= _('Get email updates about {{site_name}}?',
            site_name: AlaveteliConfiguration.pro_site_name) %>
    </label>
    <div class="inline-elements">
      <label for="account_request_marketing_emails_yes" class="inline-element">
      <%= f.radio_button 'marketing_emails', 'yes', :required => true %>
        <%= _("Yes") %>
      </label>
      <label for="account_request_marketing_emails_no" class="inline-element">
      <%= f.radio_button 'marketing_emails', 'no', :required => true %>
        <%= _("No") %>
      </label>
    </div>
  </div>
  <input type="submit" value="Send your request" />
<% end %>
