<label class="houdini-label input-beta-button button" for="input-beta">Get access to the beta</label>
<input class="houdini-input" type="checkbox" id="input-beta" <% if params[:account_request].present? %>checked="true"<% end %>>
<%= form_for :account_request,
       :url => "#{create_pro_account_request_path}#input-beta",
       :html => {:class => 'houdini-target form beta-signup-form'} do |f| %>
<h3>Request access to WhatDoTheyKnow<sup>Pro</sup> beta</h3>
Successful applicants will receive free early access to WhatDoTheyKnow<sup>Pro</sup> for 6 months.
  <%= foi_error_messages_for :account_request %>
  <div>
    <label for="account_request_email"><strong>Email address</strong></label>
    <%= f.email_field :email, :size => 20, :required => true %>
  </div>
  <div>
    <label for="account_request_reason"><strong>Why do you want access?</strong> Please include links to some
    examples of your journalism or blogging if you can.</label>
    <%= f.text_area :reason, :rows => 10, :cols => 50, :required => true %>
  </div>
  <div>
    <label for="account_request_offer_code">If you have an <strong>offer code</strong>, please enter it here:</label>
    <%= f.text_field :offer_code, :size => 20, :required => false %>
  </div>
  <div>
    <label for="account_request_training_emails">Are you interested in free training, seminars and workshops about WhatDoTheyKnow<sup>Pro</sup>?</label>
    <div class="inline-elements">
      <label for="account_request_training_emails_yes" class="inline-element">
      <%= f.radio_button 'training_emails', 'yes', :required => true %>Yes</label>
      <label for="account_request_training_emails_no" class="inline-element">
      <%= f.radio_button 'training_emails', 'no', :required => true %>No</label>
    </div>
  </div>
  <div>
    <label for="account_request_marketing_emails">Get email updates about WhatDoTheyKnow<sup>Pro</sup>?</label>
    <div class="inline-elements">
      <label for="account_request_marketing_emails_yes" class="inline-element">
      <%= f.radio_button 'marketing_emails', 'yes', :required => true %>Yes</label>
      <label for="account_request_marketing_emails_no" class="inline-element">
      <%= f.radio_button 'marketing_emails', 'no', :required => true %>No</label>
    </div>
  </div>
  <input type="submit" value="Send your request" />
<% end %>
