<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2><%=_('Plus, all the power of {{site_name}}',
             site_name: site_name) %></h2>

    <p><%= _('<strong>{{pro_site_name}}</strong> runs on the UK’s ' \
             'best-known FOI service',
             pro_site_name: pro_site_name) %></p>
  </div>

  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li>
          <%=_('Up-to-date database of ' \
             'contact details for {{authority_count}} authorities',
             authority_count: PublicBody.is_requestable.count) %>
        </li>

        <li>
          <%=_('A searchable archive of Freedom of Information requests') %>
        </li>

        <li>
          <%=_('Delivery verification for proof of receipt') %>
        </li>

        <li>
          <%=_('A permanent, searchable, public record of your request and ' \
               'the responses') %>
        </li>

        <li>
          <%=_('Streamlined process for requesting internal reviews') %>
        </li>
      </ul>
    </div>
  </div>
</div>
