<div class="marketing__section">
  <div class="marketing__hero">
    <h1>
      <%= _('{{pro_site_name}} is a powerful, fully-featured FOI toolkit ' \
            'for journalists',
            pro_site_name: AlaveteliConfiguration.pro_site_name) %>
    </h1>
    <h2>
      <%= _('Everything you need to keep on top of complex FOI-driven ' \
            'stories.') %>
    </h2>
    <div class="marketing__hero__cta">
      <% if @public_beta && feature_enabled?(:pro_pricing) %>
        <h3><%= _("Start your <strong>three month’s free trial</strong> today") %></h3>
        <p><%= _("No credit card required")%></p>
        <%= link_to _('Get started'), pro_plans_path, :class => "button" %>
      <% else %>
        <h3><%= _("Now in beta") %></h2>
        <a href="#input-beta" class="button" id="launch-access">
          <%= _("Get pre-launch access") %>
        </a>
      <% end %>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2><%= AlaveteliConfiguration.pro_site_name %></h2>
    <p><%= _('An all-in-one FOI toolkit for journalists, activists and ' \
             'campaigners') %></p>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li>
          <%=_('Keep requests and responses private while you work on your ' \
               'story') %>
        </li>
        <li>
          <%=_('A powerful private dashboard: track and manage your FOI ' \
               'projects') %>
        </li>
        <li>
          <%=_('A super-smart to-do list: follow the progress of your ' \
               'requests') %>
        </li>
        <li>
          <%=_('Action alerts: know when it’s time to take the next step') %>
        </li>
        <li>
          <%=_('Daily summary emails to keep your inbox clean') %>
        </li>
        <li>
          <%=_('Save as draft to get back to it later') %>
        </li>
      </ul>

      <div class="side-by-side-elements screenshots">
        <div class="side-by-side-element">
          <a href="<%= image_path("alaveteli-pro/screenshot-dashboard.jpg") %>">
            <%= image_tag("alaveteli-pro/screenshot-dashboard.jpg",
                          :alt => _("Pro brings a new dashboard view")) %>
          </a>
        </div>
        <div class="side-by-side-element">
          <a href="<%= image_path("alaveteli-pro/screenshot-requests.jpg") %>">
            <%= image_tag("alaveteli-pro/screenshot-requests.jpg",
                          :alt => _("Pro features a new request list view")) %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2><%=_('Plus, all the power of {{site_name}}',
             site_name: AlaveteliConfiguration.site_name) %></h2>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li>
          <%=_('Up-to-date database of contact details for 20,000 ' \
               'authorities') %>
        </li>
        <li>
          <%=_('A searchable archive of Freedom of Information requests') %>
        </li>
        <li>
          <%=_('Delivery verification for proof of receipt') %>
        </li>
        <li>
          <%=_('A permanent, searchable, public record of your request and ' \
               'the responses') %>
        </li>
        <li>
          <%=_('Streamlined process for requesting internal reviews') %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2><%=_('Coming soon - batch requests') %></h2>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li>
          <%=_('Make a request to multiple authorities: select authorities at ' \
               'the click of a button') %>
        </li>
        <li>
          <%=_('Manage large volumes of responses:  easily keep track of the ' \
               'status of each request') %>
        </li>
        <li>
          <%=_('Get regular updates as the responses come in — without ' \
               'overwhelming your inbox') %>
        </li>
      </ul>


      <div class="side-by-side-elements screenshots">
        <div class="side-by-side-element">
          <a href="<%= image_path("alaveteli-pro/screenshot-batch-selection.jpg") %>">
            <%= image_tag("alaveteli-pro/screenshot-batch-selection.jpg",
                          :alt => _("Batch requests allow multiple recipients" \
                                    " of a single request")) %>
          </a>
        </div>
        <div class="side-by-side-element">
          <a href="<%= image_path("alaveteli-pro/screenshot-batch-list.jpg") %>">
            <%= image_tag("alaveteli-pro/screenshot-batch-list.jpg",
                        :alt => _("Batch requests are part of a new workflow")) %>
          </a>
        </div>
      </div>
      <% if @public_beta && feature_enabled?(:pro_pricing) %>
        <%= link_to _('Plans and pricing'), pro_plans_path, :class => "button" %>
      <% else %>
        <%= render :partial => 'account_request_form' %>
      <% end %>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2><%=_('More information') %></h2>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items marketing__section__more-info">
      <h3><%=_('Contact us') %></h3>
      <ul class="unstyled-list">
        <li>
          <a href="mailto:<%= AlaveteliConfiguration::pro_contact_email %>">
            <%= AlaveteliConfiguration::pro_contact_email %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
