<% if @show_about_me %>
  <div class="user_about_me">
    <%= image_tag "quote-marks.png", :class => "comment_quote" %>
    <%= @display_user.get_about_me_for_html_display %>
    <% if @is_you %>
      (<%= link_to _("edit text about you"), edit_profile_about_me_path %>)
    <% end %>
  </div>
<% end %>

<% if @is_you && @display_user.active? %>
  <p id="user_change_password_email" class="user_change_password_email">
    <% if @display_user.profile_photo %>
      <%= link_to _('Change profile photo'), set_profile_photo_path %> |
    <% end %>
    <%= link_to _('Change your password'), new_password_change_path %> |
    <%= link_to _('Change your email'), signchangeemail_path %> |
    <%= link_to _('Close your account'), users_close_account_path %>
    <% if AlaveteliConfiguration.enable_two_factor_auth %>
    |
      <% if @display_user.otp_enabled? %>
        <%= link_to _('View your two factor authentication one time passcode'), one_time_password_path %>
      <% else %>
        <%= link_to _('Improve your account security'), one_time_password_path %>
      <% end %>
    <% end %>
  </p>
<% end %>
