<div id="signin">
  <%= form_tag({:action => "signin"}, {:id => "signin_form"}) do %>
    <%= foi_error_messages_for :user_signin %>

    <!--<% if not sign_in_as_existing_user %>
      <h2><%= _('If you\'ve used {{site_name}} before', :site_name=>site_name)%></h2>
    <% end %>-->

    <p>
      <label class="form_label" for="user_signin_email"><%= _('Your e-mail:')%></label>
      <%= text_field 'user_signin', 'email', { :size => 20, :tabindex => 60 } %>
    </p>

    <p>
      <label class="form_label" for="user_signin_password"><%= _('Password:')%></label>
      <%= password_field 'user_signin', 'password', { :size => 15, :tabindex => 70, :autocomplete => 'off' } %>
    </p>

    <p class="form_note">
      <%= link_to _('Forgotten your password?'), signchangepassword_path(:pretoken => h(params[:token])), :tabindex => 80 %>
    </p>

    <p class="form_checkbox">
      <%= check_box_tag 'remember_me', "1", false, :tabindex => 90 %>

      <label for="remember_me">
        <%= _('Remember me (keeps you signed in longer; do not use on a public computer)') %>
      </label>
    </p>

    <div class="form_button">
      <%= hidden_field_tag 'token', params[:token], {:id => 'signin_token' } %>
      <%= hidden_field_tag :modal, params[:modal], {:id => 'signin_modal' } %>
      <%= submit_tag _('Sign in'), :tabindex => 100 %>
    </div>
  <% end %>
</div>
