<% if @show_requests %>
  <% @title =  _("{{user_name}} - Freedom of Information requests",
                 :user_name => h(@display_user.name)) %>
<% else %>
  <% @title = _("{{user_name}} - user profile",
                :user_name => h(@display_user.name)) %>
<% end %>

<% if @same_name_users.any? %>
  <%= render partial: 'user/show/show_same_name_users' %>
<% end %>

<% if @show_profile && @is_you && @undescribed_requests.size > 0 %>
  <%= render partial: 'user/show/show_undescribed_requests' %>
<% end %>

<% if @show_profile %>
  <%= render partial: 'user/show/show_profile' %>
<% end %>

<% if @show_batches %>
  <%= render partial: 'user/show/show_batches' %>
<% end %>

<% if @show_requests %>
  <%= render partial: 'user/show/show_requests' %>
<% end %>

<% if @show_profile && @is_you %>
  <h2 id="email_subscriptions" class="email_subscriptions">
    <%= _("Things you're following") %>
  </h2>

  <%= render :partial => 'change_receive_email' %>

  <br>

  <%= render partial: 'user/show/show_track_things' %>
<% end %>
