<% @title = _('Change your password on {{site_name}}', :site_name => site_name) %>

<div id="change_password">
  <%= form_tag({:action => "signchangepassword"}, {:id => "signchangepassword_form"}) do %>
    <%= foi_error_messages_for :signchangepassword %>

    <div class="form_note">
      <h1><%= _('Change your password on {{site_name}}', :site_name => site_name) %></h1>
    </div>

    <p>
      <label class="form_label" for="signchangepassword_email">
        <%= _('Your e-mail:') %>
      </label>
      <%= text_field 'signchangepassword', 'email', { :size => 20 } %>
    </p>

    <p class="form_note">
      <%= _('<strong>Note:</strong> We will send you an email. Follow the ' \
            'instructions in it to change your password.') %>
    </p>

    <div class="form_button">
      <%= hidden_field_tag 'submitted_signchangepassword_send_confirm', 1 %>
      <%= hidden_field_tag 'pretoken', params[:pretoken] %>
      <%= submit_tag _('Submit') %>
    </div>
  <% end %>
</div>
