<% @title = _('Change your password on {{site_name}}', :site_name => site_name) %>

<% raise "internal error" if not @user %>

<div id="change_password">
  <%= form_tag({:action => "signchangepassword"}, {:id => "signchangepassword_form"}) do %>
    <%= foi_error_messages_for :user %>

    <div class="form_note">
      <h1>
        <%= _('Change your password on {{site_name}}', :site_name => site_name) %>
      </h1>
    </div>

    <p>
      <label class="form_label" for="user_password"><%= _('New password:') %></label>
      <%= password_field 'user', 'password', { :size => 15, :autocomplete => 'off' } %>
    </p>

    <p>
      <label class="form_label" for="user_password_confirmation"><%= _('New password: (again)') %></label>
      <%= password_field 'user', 'password_confirmation', { :size => 15, :autocomplete => 'off' } %>
    </p>

    <div class="form_button">
      <%= hidden_field_tag 'submitted_signchangepassword_do', 1 %>
      <%= hidden_field_tag 'pretoken', params[:pretoken] %>
      <%= submit_tag _('Change password on {{site_name}}', :site_name => site_name) %>
    </div>
  <% end %>
</div>
