<% include_destroy = include_destroy || false %>
<% if track_things.empty? %>
  <div class="row">
    <div class="span12">
      <%=_("No tracked things found.")%>
    </div>
  </div>
<% else %>
  <div class="accordion" id="tracks">
    <% for track_thing in track_things %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#track_<%=track_thing.id%>" data-toggle="collapse" data-parent="requests"><%= chevron_right %></a>
          <%=track_thing.id%>:
          <% if track_thing.public_body_id %>
            <%= link_to "<code>#{h track_thing.track_query}</code>".html_safe, public_body_path(track_thing.public_body) %>
          <% elsif track_thing.info_request_id %>
            <%= link_to "<code>#{h track_thing.track_query}</code>".html_safe, request_path(track_thing.info_request) %>
          <% elsif track_thing.tracked_user_id %>
            <%= link_to "<code>#{h track_thing.track_query}</code>".html_safe, user_path(track_thing.tracked_user) %>
          <% else %>
            <code><%=h track_thing.track_query%></code>
          <% end %>
          <% if @admin_user.nil? %>
            <%# Do not show this on the list of tracks on the user page, because it’s rather repetitive there %>
            tracked by <%= user_both_links track_thing.tracking_user %>
        <% end %>
        </div>
        <div id="track_<%=track_thing.id%>" class="accordion-body collapse">
          <table class="table table-striped table-condensed">
            <tbody>
              <% if include_destroy %>
                <tr>
                  <td colspan="2">
                    <%= form_tag admin_track_path(track_thing), :method => 'delete', :class => "form form-inline admin-table-form" do %>
                      <div>
                        <%= submit_tag "Destroy track", :class => "btn btn-warning" %>
                      </div>
                    <% end %>
                  </td>
                </tr>

              <% end %>
              <% TrackThing.content_columns.each do |column| %>
                <tr>
                  <td>
                    <b><%=column.human_name%></b>
                  </td>
                  <td>
                    <% if column.type.to_s == 'datetime' %>
                      <%= I18n.l(track_thing.send(column.name), :format => "%e %B %Y %H:%M:%S") %>
                      (<%= _('{{length_of_time}} ago', :length_of_time => time_ago_in_words(track_thing.send(column.name))) %>)
                    <% elsif column.name == 'track_medium' and track_thing.track_medium == 'feed' %>
                      <%= link_to track_thing.track_medium, atom_feed_path(:track_id => track_thing.id) %>
                    <% else %>
                      <%= h track_thing.send(column.name)%>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td><b><%=_("Items sent in last month")%></b></td>
                <td><%= track_thing.track_things_sent_emails.size %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</table>

