<% @title = _('Listing tracks') %>

<h1><%=@title%></h1>

<%= form_tag({}, :method => "get", :class => "form form-search") do %>
  <%= text_field_tag 'query', params[:query], { :size => 30, :class => "input-large search-query" } %>
  <%= submit_tag "Search", :class => "btn" %> (substring search the query – so use url_names_for_a_particular_request_or_authority_or_person)
<% end %>

<%= render :partial => 'some_tracks', :locals => { :track_things => @admin_tracks } %>

<%= will_paginate(@admin_tracks, :class => "paginator" ) %>

<h2>Current top tracks:</h2>
<ol>
  <% for row in @popular %>
    <li><%= link_to row['title'], admin_request_path(row['info_request_id']) %> (<%= row['count'] %> people following)</li>
  <% end %>
</ol>

