<%= f.fields_for :key_set, @key_set do |key_set_fields| %>
  <%= key_set_fields.fields_for :keys, @keys do |key_fields| %>
    <div class="row project-key-set__key<% if key_fields.object.marked_for_destruction? %> project-key-set__key--removed<% end %>">
      <div class="project-key-set__key__drag-handle">
        <%= key_fields.hidden_field :order %>
        Drag to reorder
      </div>

      <div class="project-key-set__key__title">
        <%= key_fields.label :title %>
        <%= key_fields.text_field :title, autocomplete: false %>
      </div>

      <div class="project-key-set__key__format">
        <%= key_fields.label :format %>
        <%= key_fields.select :format,
          options_for_select(
            Dataset::Key.format_options,
            key_fields.object.format
          ), {}, autocomplete: false %>
      </div>

      <div class="project-key-set__key__remove-question">
        <%= key_fields.hidden_field :_destroy %>
        <%= link_to _('Remove question'), nil, class: 'button-tertiary',
          data: { action: 'click->projects--key-set#removeKey' } %>
      </div>
    </div>
  <% end %>
<% end %>
