<%= form.fields_for :options, key.options do |f| %>
  <div class="project-key-set__key__value">
    <%= f.label :select_allow_blank do %>
      <%= f.check_box :select_allow_blank, checked: key.select_allow_blank?, autocomplete: 'off' %>
      <%= _('Allow blank') %>
    <% end %>
  </div>

  <div class="project-key-set__key__value">
    <%= f.label :select_allow_muliple do %>
      <%= f.check_box :select_allow_muliple, checked: key.select_allow_muliple?, autocomplete: 'off' %>
      <%= _('Allow muliple') %>
    <% end %>
  </div>

  <%= content_tag(:div, class: "project-key-set__key__value", data: {
    controller: "projects--key-set--select",
    projects__key_set__select_name_value: "#{f.object_name}[select_options][]"
  }) do %>
    <%= f.label :select_options, _('Options') %>
    <ul>
      <% key.select_options.each_with_index do |option, index| %>
        <li>
          <%= option %>
          <%= hidden_field_tag "#{f.object_name}[select_options][]", option %>
          <%= button_tag class: 'button-unstyled', data: { action: 'click->projects--key-set--select#removeOption' } do %>
            <%= _('Remove') %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="row collapse postfix-radius">
      <div class="small-10 columns">
        <%= text_field_tag "select_option", nil, data: { projects__key_set__select_target: 'newInput' } %>
      </div>
      <div class="small-2 columns">
        <%= button_tag _('Add'), class: 'button-tertiary postfix', data: { action: 'click->projects--key-set--select#addOption' } %>
      </div>
    </div>
  <% end %>
<% end %>
