<%= f.error_messages %>

<% f.translated_fields do |t| %>
  <div class="control-group">
    <%= t.label :name, class: 'control-label' %>

    <div class="controls">
      <%= t.text_field :name, class: 'span4' %>
    </div>
  </div>

  <div class="control-group">
    <%= t.label :body, class: 'control-label' %>

    <div class="controls">
      <%= t.text_area :body, class: 'span4' %>
    </div>
  </div>
<% end %>

<h3>Common Fields</h3>

<div class="control-group">
  <%= f.label :tags, class: 'control-label' %>

  <div class="controls">
    <%= f.text_field :tag_string, class: 'span4' %>
  </div>
</div>

