<% @title = _('{{user_name}} - 2factor Authentication',
              :user_name => h(@user.name)) %>

<h1 class="one-time-password-page-title"><%= @title %></h1>

<% if @user.otp_enabled? %>
  <div class="one-time-password">
    <h2 class="one-time-password__title">
      <%= _('Your current one time password:') %>
    </h2>

    <div class="one-time-password__otp-code">
      <%= @user.otp_code %>
    </div>
  </div>

  <ul class="one-time-password-actions">
    <li class="one-time-password-actions__action-item action-item">
      <%= link_to one_time_password_path, :method => :put,
                                          :confirm => _('Are you sure?'),
                                          :class => 'action-item__action' do %>
        <%= _('Regenerate one time password') %>
      <% end %>
    </li>

    <li class="one-time-password-actions__action-item action-item">
      <%= link_to one_time_password_path, :method => :delete,
                                          :confirm => _('Are you sure?'),
                                          :class => 'action-item__action' do %>
        <%= _('Disable 2factor Authentication') %>
      <% end %>
    </li>
  </ul>
<% else %>
  <ul class="one-time-password-actions">
    <li class="one-time-password-actions__action-item action-item">
      <%= button_to _('Enable 2factor Authentication'),
                    { :action => :create },
                    { :class => 'action-item__action' } %>
    </li>
<% end %>
