<% @title = _('{{user_name}} - 2factor Authentication',
              :user_name => h(@user.name)) %>

<h1><%= @title %></h1>

<% if @user.otp_enabled? %>
  <h2>Your One Time Password:</h2>

  <div class="one-time-password">
    <%= @user.otp_code %>
  </div>

  <ul>
    <li>
      <%= link_to one_time_password_path, :method => :put, :confirm => _('Are you sure?') do %>
        <%= _('Regenerate one time password') %>
      <% end %>
    </li>

    <li>
      <%= link_to one_time_password_path, :method => :delete, :confirm => _('Are you sure?') do %>
        <%= _('Disable 2factor Authentication') %>
      <% end %>
    </li>
  </ul>
<% else %>
  <%= button_to _('Enable 2factor Authentication'), :action => :create %>
<% end %>
