<% @title = _('{{user_name}} - 2factor Authentication',
              :user_name => h(@user.name)) %>

<h1><%= @title %></h1>

<% if @user.otp_enabled? %>
  <h2>Your One Time Password:</h2>

  <div class="one-time-password">
    <%= @user.otp_code %>
  </div>

  <%= link_to one_time_password_path, :method => :delete, :confirm => _('Are you sure?') do %>
    <%= _('Disable 2factor Authentication') %>
  <% end %>
<% else %>
  <%= button_to _('Enable 2factor Authentication'), :action => :create %>
<% end %>
