<% if @public_body_category.errors.any? %>
  <ul>
    <% @public_body_category.errors.each do |attr, message| %>
      <% unless attr.to_s.starts_with?('translation') %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% @public_body_category.ordered_translations.each do |translation| %>
  <% if translation.errors.any? %>
    <%= locale_name(translation.locale.to_s) || translation.locale.to_s %>
    <ul>
      <% translation.errors.each do |attr, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<!--[form:public_body_category]-->

<div id="div-locales">
  <ul class="locales nav nav-tabs">
    <% @public_body_category.ordered_translations.each do |translation| %>
      <li>
        <a href="#div-locale-<%= translation.locale.to_s %>" data-toggle="tab" >
          <%= locale_name(translation.locale.to_s) || translation.locale.to_s %>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @public_body_category.ordered_translations.each do |translation| %>
      <% if translation.locale.to_s == I18n.default_locale.to_s %>
        <%= fields_for('public_body_category', @public_body_category) do |t| %>
          <%= render :partial => 'locale_fields', :locals => { :t => t, :locale => translation.locale } %>
        <% end %>
      <% else %>
        <%= f.fields_for(:translations, translation, :child_index => translation.locale) do |t| %>
          <%= render :partial => 'locale_fields', :locals => { :t => t, :locale => translation.locale } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<h3>Common Fields</h3>

<div class="control-group">
  <label for="public_body_category_category_tag" class="control-label">Category tag</label>
  <div class="controls">
    <% if PublicBody.find_by_tag(@public_body_category.category_tag).count == 0 or
         @public_body_category.errors.messages.keys.include?(:category_tag) %>
       <%= f.text_field :category_tag, :class => "span4" %>
     <% else %>
       <%= f.text_field :category_tag, :class => "span4", :disabled => true %>
       <span class="help-block">
         This Category already has authorities assigned to it so the tags
         cannot be modified.
       </span>
     <% end %>
  </div>
</div>

<h3>Headings</h3>
<div class="control-group">
  <% PublicBodyHeading.all.each do |heading| %>
    <div class="span3">
      &nbsp;<%= check_box_tag "headings[heading_#{heading.id}]", heading.id, heading_is_selected?(heading) %> <label for="headings_heading_<%= heading.id %>" class="control-label"><%= heading.name %></label>
    </div>
  <% end %>
</div>
<!--[eoform:public_body_category]-->
