<div class="tab-pane" id="div-locale-<%=locale.to_s%>">
<div class="control-group">
  <%= t.hidden_field :locale, :value => locale.to_s %>
  <%= t.label :title, :class => 'control-label' %>
  <div class="controls">
    <% if locale == I18n.default_locale && t.object.errors[:title].any? %>
      <span class="fieldWithErrors">
      <% end %>
      <%= t.text_field :title, :class => "span4" %>
      <% if locale == I18n.default_locale && t.object.errors[:title].any? %>
        </span>
      <%end %>
  </div>
</div>
<div class="control-group">
  <%= t.label :description, :class => 'control-label' %>
  <div class="controls">
    <% if locale == I18n.default_locale && t.object.errors[:description].any? %>
      <span class="fieldWithErrors">
      <% end %>
      <%= t.text_field :description, :class => "span4" %>
      <% if locale == I18n.default_locale && t.object.errors[:description].any? %>
        </span>
      <%end %>
  </div>
</div>
</div>
