<% @title = 'New category' %>

<h1><%= @title %></h1>
<div class="row">
  <div class="span8">
    <div id="public_category_form">
      <%= form_for @category, :url => admin_categories_path, :html => { :class => "form form-horizontal" } do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>

        <div class="form-actions">
          <%= f.submit "Create", :class => "btn btn-primary"  %>
          <%= link_to 'List all', admin_categories_path, :class => "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
