<%= form_for value_set, url: project_extract_path, as: :extract do |f| %>
  <%= hidden_field_tag :url_title, info_request.url_title %>
  <%= render project.key_set, f: f %>

  <p>
    <%= submit_tag _('Submit data') %>
    <%= link_to _('Skip'), skip_project_extract_path(project, url_title: info_request.url_title), method: :patch, class: 'button-tertiary button--full-width' %>
  </p>
<% end %>
