<%= form_for resource, as: :extract, url: project_extract_path do |f| %>
  <%= hidden_field_tag 'r', params[:r] %>
  <%= hidden_field_tag 'url_title', info_request.url_title %>
  <%= hidden_field_tag 'resource_id', resource.id %>

  <%= render project.key_set, f: f %>

  <p>
    <% if resource.persisted? %>
      <%= submit_tag _('Update data') %>
      <%= link_to _('Cancel'), project_dataset_path(project), class: 'button-tertiary button--full-width' %>
    <% else %>
      <%= submit_tag _('Submit data') %>
      <%= link_to _('Skip'), skip_project_extract_path(project, url_title: info_request.url_title), method: :patch, class: 'button-tertiary button--full-width' %>
    <% end %>
  </p>
<% end %>
