<div class="marketing__features marketing__section">
  <div class="row">
    <%= render partial: 'alaveteli_pro/pages/marketing_roles/generic/features/dashboard' %>
    <%= render partial: 'alaveteli_pro/pages/marketing_roles/generic/features/database' %>
    <%= render partial: 'alaveteli_pro/pages/marketing_roles/generic/features/request_management' %>
    <%= render partial: 'alaveteli_pro/pages/marketing_roles/generic/features/todos' %>
  </div>

  <div class="row">
    <%= render partial: 'alaveteli_pro/pages/marketing_roles/campaigners/features/embargoes' %>
    <%= render partial: 'alaveteli_pro/pages/marketing_roles/generic/features/batch' %>
    <%= render partial: 'alaveteli_pro/pages/marketing_roles/campaigners/features/credibility' %>
    <%= render partial: 'alaveteli_pro/pages/marketing_roles/campaigners/features/time' %>
  </div>
</div>
