<% if info_request_batch.embargo_duration.present? %>
<div class="sidebar__section update-embargo">
  <h2 class="embargo-sidebar-heading">
    <i class="embargo-indicator embargo-indicator--small"
       title="<%= _('Private until {{date}}',
                    :date => simple_date(
                               info_request_batch.
                                 info_requests.first.embargo.publish_at,
                               :format => :text)
                   ) %>"></i>
    <%= _("Privacy") %>
  </h2>
  <label class="houdini-label" for="input1"><%= _("Change privacy") %></label>
  <input class="houdini-input" type="checkbox" id="input1">
  <div class="houdini-target extend-embargo-sidebar">
    <% example_embargo = info_request_batch.info_requests.first.embargo %>
    <%= form_tag(
          create_batch_alaveteli_pro_embargo_extensions_path,
          class: 'js-embargo-form' ) do |f| %>
      <%= render partial: "alaveteli_pro/info_request_batches/embargo_info",
                 locals: { embargo: example_embargo, tense: :present } %>
      <%= hidden_field_tag :info_request_batch_id, info_request_batch.id %>
      <% if local_assigns[:info_request] %>
        <%= hidden_field_tag :info_request_id, info_request.id %>
      <% end %>

      <p>
        <label class="form_label" for="extension_duration">
          <%= _('Keep private for a further:') %>
        </label>
        <%= select_tag :extension_duration,
                       options_for_select(
                         embargo_extension_options(example_embargo)),
                       class: 'js-embargo-duration' %>
        <%= submit_tag _("Update"),
                     class: "embargo__submit js-embargo-submit",
                     data: {
                       confirm: _("This will update the privacy for all " \
                                  "of the requests in this batch. " \
                                  "Are you sure?")
                     } %>
      </p>
    <% end %>
    <%= button_to _("Publish requests"),
                  destroy_batch_alaveteli_pro_embargoes_path(
                    info_request_batch_id: info_request_batch.id),
                  method: :post,
                  data: {
                    confirm: _("This will publish all of the requests in " \
                               "this batch. Are you sure?")
                  } %>
  </div>
</div>
<% end %>
