<div id="info-request-batch-<%= info_request_batch.id %>"
     class="request batch-request">
  <label class="request__title houdini-label" for="houdini-batch-expand-<%= info_request_batch.id %>">
    <% if info_request_batch.embargo_duration.present? %>
      <span class="embargo-indicator embargo-indicator--small">
        <%= _("Private") %>
      </span>
    <% end %>
    <%= _( info_request_batch.title) %>
    <i class="icon icon--downarrow"></i>
  </label>
  <input class="houdini-input"
         type="checkbox"
         id="houdini-batch-expand-<%= info_request_batch.id %>"/>
  <div class="houdini-target batch-request__requests">
    <% if info_request_batch.info_requests.empty? %>
      <%= render partial: 'alaveteli_pro/info_request_batches/public_body',
                 collection: info_request_batch.public_bodies %>
    <% else %>
      <%= render partial: 'alaveteli_pro/info_request_batches/info_request',
                collection: info_request_batch.info_requests %>
    <% end %>
    <div class="show-all-batch-link">
      <%= link_to n_('Show {{count}} request in detail</span>',
                     'Show {{count}} requests in detail</span>',
                     info_request_batch.public_bodies.count,
                     batch_request_title: info_request_batch.title,
                     count: info_request_batch.public_bodies.count),
                            info_request_batch_path(info_request_batch) %>
    </div>
  </div>
  <%= render partial: 'alaveteli_pro/info_request_batches/progress_bar',
             locals: { phases: info_request_batch.request_phases_summary,
                       batch: info_request_batch } %>

  <div class="request__meta">

    <div class="request__recipient">
      <span class="request__meta__label"><%= _('Request to') %></span>
      <p>
        <%= render partial: 'alaveteli_pro/info_request_batches/authority_list',
                   locals: { public_bodies: info_request_batch.public_bodies } %>
      </p>
    </div>

    <div class="request__created">
      <span class="request__meta__label"><%= _('Created') %></span>
      <p><%= info_request_batch.created_at.strftime('%d-%m-%Y') %></p>
    </div>

    <div class="request__updated">
      <span class="request__meta__label"><%= _('Updated') %></span>
      <p><%= info_request_batch.updated_at.strftime('%d-%m-%Y') %></p>
    </div>

    <div class="request__status">
      <span class="request__meta__label"><%= _('Sent') %></span>
      <p>
        <span class="phase-icon phase-icon--time"></span>
        <% if info_request_batch.sent_at %>
          <%= I18n.l(info_request_batch.sent_at, format: '%d-%m-%Y - %H:%M %p') %>
        <% else %>
          <%= _('Pending') %>
        <% end %>
      </p>
    </div>

  </div> <!-- .request__meta -->

  <div class="request__download">

    <% if feature_enabled?(:info_request_batch_zip_download, current_user) %>
    <%= link_to alaveteli_pro_info_request_batch_batch_download_path(
                  info_request_batch_id: info_request_batch,
                  format: :zip) do %>
        <i class="download-icon"></i>
        <%= _('ZIP') %>
    <% end %>
    <% end %>

    <%= link_to alaveteli_pro_info_request_batch_batch_download_path(
                  info_request_batch_id: info_request_batch,
                  format: :csv) do %>
        <i class="download-icon"></i>
        <%= _('CSV') %>
    <% end %>

  </div> <!-- .request__download -->

</div> <!-- .request -->
