<div class="correspondence box" id="outgoing-0">
  <p class="preview_to">
    <span class="to_public_body_label"><%= _('To') %></span>
    <%= render partial: 'alaveteli_pro/info_request_batches/authority_list_with_link',
               locals: { batch: batch, draft: draft } %>


  </p>
  <p class="preview_subject">
    <strong><%= _('Subject') %></strong> <%= batch.title %>
  </p>

  <div class="correspondence_text">
    <p><%= simple_format(outgoing_message.get_body_for_html_display) %></p>
  </div>
</div>

<p>
  <%= form_for([:alaveteli_pro, batch]) do |f| %>
    <%= hidden_field_tag :draft_id, draft.id %>

    <% if @info_request_batch.existing_batch %>
      <div class="errorExplanation" id="errorExplanation">
        <p>
          <%=
            _('<strong>You have already sent this request</strong> to some ' \
              'authorities in this batch on {{date}}.',
              date: simple_date(@info_request_batch.existing_batch.created_at))
           %>
        </p>
        <p>
          <%=
            _('You can view the ' \
              '<a href="{{existing_batch_url}}">existing batch</a>, ' \
              '<a href="{{edit_batch_url}}">edit your request</a>, or ignore ' \
              'this warning by confirming you want to proceed anyway.',
              existing_batch_url: info_request_batch_path(
                @info_request_batch.existing_batch
              ),
              edit_batch_url: new_alaveteli_pro_info_request_batch_path(
                draft_id: draft.id
              ))
           %>
        </p>
        <p>
          <%=
            _('Please remember that our ' \
              '<a href="{{terms_url}}">terms and conditions</a> include ' \
              '<strong>making responsible requests</strong>.',
              terms_url: pro_page_path(id: 'legal'))
          %>
        </p>

        <%= label_tag :ignore_existing_batch do %>
          <%= check_box_tag :ignore_existing_batch %>
          <%= _('Send this batch anyway?') %>
        <% end %>
      </div>
    <% end %>

    <%= submit_tag n_('Send {{count}} requests',
                      'Send {{count}} requests',
                      batch.public_bodies.size,
                      :count => batch.public_bodies.size),
                   :data => { :disable_with => _("Sending...") },
                   :id => 'submit_button' %>
    <%= link_to _("Edit your request"),
                new_alaveteli_pro_info_request_batch_path(:draft_id => draft.id) %>
  <% end %>
</p>
