<%= f.error_messages %>

<div class="well">
  <% if @note.notable %>
    Applies to <%= both_links(@note.notable) %>
    <%= f.hidden_field :notable_id %>
    <%= f.hidden_field :notable_type %>
  <% else %>
    Applies to objects tagged with <%= render_tag @note.notable_tag %>
    <%= f.hidden_field :notable_tag %>
  <% end %>
</div>

<% f.translated_fields do |t| %>
  <%= render partial: 'locale_fields', locals: { t: t } %>
<% end %>
