<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1><%= @title = 'Edit note' %></h1>
    </div>
  </div>
</div>

<%= form_for [:admin, @note], html: { class: 'form form-horizontal' } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class="form-actions">
    <%= submit_tag 'Save', class: 'btn btn-success' %>
  </div>
<% end %>

<%= form_tag [:admin, @note], class: 'form form-inline', method: 'delete' do %>
  <%= submit_tag 'Destroy note',
                 class: 'btn btn-danger',
                 data: { confirm: 'Are you sure? This is irreversible.' } %>
  (this is permanent!)
<% end %>
