<%= f.error_messages %>

<!--[form:announcement]-->

<div id="div-locales">
  <ul class="locales nav nav-tabs">
    <% @announcement.ordered_translations.each do |translation| %>
      <li>
        <a href="#div-locale-<%= translation.locale.to_s %>" data-toggle="tab" >
          <%= locale_name(translation.locale.to_s) || translation.locale.to_s %>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @announcement.ordered_translations.each do |translation| %>
      <% if AlaveteliLocalization.default_locale?(translation.locale) %>
        <%= fields_for('announcement', @announcement) do |t| %>
          <%= render partial: 'locale_fields', locals: { t: t, locale: translation.locale } %>
        <% end %>
      <% else %>
        <%= f.fields_for(:translations, translation, child_index: translation.locale) do |t| %>
          <%= render partial: 'locale_fields', locals: { t: t, locale: translation.locale } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="control-group">
  <label for="announcement_visibility" class="control-label">Visibility</label>
  <div class="controls">
    <div class="inline-elements">
      <label for="announcement_visibility_everyone" class="inline-element">
        <%= f.radio_button :visibility, 'everyone' %>
        <strong>everyone</strong> all users see the announcement as a site-wide popup
      </label>
      <label for="announcement_visibility_pro" class="inline-element">
        <%= f.radio_button :visibility, 'pro' %>
        <strong>pro</strong> users see the announcement on the pro dashboard
      </label>
      <label for="announcement_visibility_admin" class="inline-element">
        <%= f.radio_button :visibility, 'admin' %>
        <strong>admin</strong> users see the announcement on the admin summary
      </label>
      <label for="announcement_visibility_pro_admin" class="inline-element">
        <%= f.radio_button :visibility, 'pro_admin' %>
        <strong>pro_admin</strong> users see the announcement on the admin summary
      </label>
    </div>
  </div>
</div>
