<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1><%= @title %></h1>
    </div>
  </div>
</div>

<%= form_tag admin_change_request_path(@change_request), method: 'put', class: 'form form-horizontal' do %>
  <%= render partial: 'admin_public_body_change_requests/response' %>

  <div class="form-actions">
    <%= link_to 'Close', admin_change_request_path(@change_request),
                  method: :put,
                  accesskey: 'c',
                  class: 'btn' %>

    <%= submit_tag 'Close and respond',
                   accesskey: 'r',
                   class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <%= render partial: 'admin_general/change_request_summary' %>
  </div>
</div>
