<div id="other_recipients" class="box other_recipients">
  <%= _("Don't want to address your message to {{person_or_body}}?  " \
        "You can also write to:",
        person_or_body: name_for_followup) %>

  <ul>
    <% @info_request.
         who_can_followup_to(incoming_message).each do |name, email, id|  %>
      <% if id.nil? && incoming_message.valid_to_reply_to? %>
        <li>
          <%= link_to(_('the main FOI contact address for {{public_body}}',
                        public_body: name),
                      new_request_followup_path(request_id: @info_request.id)) %>
        </li>
      <% else %>
        <% if id.present? %>
          <% if @info_request.public_body.request_email == email %>
            <li>
              <%= link_to(_('the main FOI contact address for {{public_body}}',
                            public_body: name),
                          new_request_followup_path(request_id: @info_request.id)) %>
            </li>
          <% else %>
            <li>
              <%= link_to name,
                          new_request_incoming_followup_path(
                            request_id: @info_request.id,
                            incoming_message_id: id) %>
            </li>
          <% end %>
        <% else %>
          <li>
            <%= link_to(_('the main FOI contact address for {{public_body}}',
                          public_body: name),
                        new_request_followup_path(request_id: @info_request.id)) %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
