<%= form_for @foi_attachment, url: admin_foi_attachment_replacements_path(@foi_attachment), method: :post, class: 'form form-inline' do |f| %>
  <fieldset class="form-horizontal">
    <legend>Replacement</legend>

      <div class="controls">
        <div class="help-block">
          <p>
            A replacement attachment can be uploaded to provide an alternative
            version that appears to users of the site. Once a replacement is
            added, the original will only be available to admins. This may be
            used to upload a version that fixes formatting errors, or apply
            redactions that are difficult to do via censor rules, for example.
          </p>

          <p>
            <strong>Uploading a replacement will automatically enable locking
            </strong> for this attachment.
          </p>
        </div>

        <% if @foi_attachment.replaced? %>
          <div class="help-block">
            <span class="text-warning">
              Attachment has been <strong>replaced</strong>.
            </span>
          </div>
        <% end %>
      </div>

      <div class="control-group">
        <%= f.label :replacement_file, class: 'control-label' %>

        <div class="controls">
          <%= f.file_field :replacement_file %>
        </div>
      </div>

      <% if @foi_attachment.main_body_part? %>
        <div class="control-group">
          <%= f.label :replacement_body, class: 'control-label' %>

          <div class="controls">
            <%= f.text_area :replacement_body, rows: 20, class: 'span9' %>
          </div>
        </div>
      <% else %>
        <div class="control-group">
          <%= f.label :replaced_filename, class: 'control-label' %>

          <div class="controls">
            <%= f.text_field :replaced_filename %>
          </div>
        </div>
      <% end %>
  </fieldset>

  <div class="form-actions">
    <div class="input-prepend">
      <%= f.submit 'Upload replacement', class: 'btn btn-warning' %>
      <%= text_field_tag :reason, nil, placeholder: 'Reason', required: true, class: 'input-xlarge' %>
    </div>

    <p class="help-inline">
      Private (e.g. GDPR case reference)
    </p>
  </div>
<% end %>
