<%= render partial: 'admin/foi_attachments/intro', locals: {
  info_request: @info_request,
  incoming_message: @incoming_message,
  foi_attachment: @foi_attachment
} %>

<table class="table table-striped table-condensed">
  <tbody>
    <% @foi_attachment.for_admin_column do |name, value| %>
      <tr>
        <td>
          <b><%= name.humanize %></b>
        </td>
        <td>
          <%= admin_value(value) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for @foi_attachment, url: admin_foi_attachment_prominence_path(@foi_attachment), class: 'form form-inline' do |f| %>
  <fieldset class="form-horizontal">
    <legend>Prominence</legend>

    <div class="control-group">
      <%= f.label :prominence, class: 'control-label' %>

      <div class="controls">
        <%= f.select :prominence, FoiAttachment.prominence_states %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :prominence_reason, 'Reason for prominence', class: 'control-label' %>

      <div class="controls">
        <%= f.text_area :prominence_reason, rows: 5, class: 'span6' %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit 'Update Prominence', class: 'btn btn-success' %>
  </div>
<% end %>

<%= form_for @foi_attachment, url: admin_foi_attachment_masks_path(@foi_attachment), method: :post, class: 'form form-inline' do |f| %>
  <fieldset class="form-horizontal">
    <legend>Masking</legend>

    <div class="controls">
      <div class="help-block">
        <p>
          Masking is the application of Text Masks and Censor Rules. When an
          attachment is masked it means that the cached copy of the attachment
          has been created with all applicable redaction rules applied.
        </p>

        <p>
          Attachments are masked when first viewed by a user. Admins can force
          masking to happen from here.
        </p>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit 'Mask now', disabled: @foi_attachment.masked?, class: 'btn' %>

    <% if @foi_attachment.masked? %>
      <span class="help-inline">
        Already masked.
      </span>
    <% end %>
  </div>
<% end %>

<% if @foi_attachment.unlocked? %>
  <%= render partial: 'admin/foi_attachments/locks/lock_form',
             locals: { foi_attachment: @foi_attachment } %>
<% else %>
  <%= render partial: 'admin/foi_attachments/locks/unlock_form',
             locals: { foi_attachment: @foi_attachment } %>
<% end %>

<%= form_for @foi_attachment, url: admin_foi_attachment_replacements_path(@foi_attachment), method: :post, class: 'form form-inline' do |f| %>
  <fieldset class="form-horizontal">
    <legend>Replacement</legend>

      <div class="controls">
        <div class="help-block">
          <p>
            A replacement attachment can be uploaded to provide an alternative
            version that appears to users of the site. Once a replacement is
            added, the original will only be available to admins. This may be
            used to upload a version that fixes formatting errors, or apply
            redactions that are difficult to do via censor rules, for example.
          </p>

          <p>
            <strong>Uploading a replacement will automatically enable locking
            </strong> for this attachment.
          </p>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :replacement_file, class: 'control-label' %>

        <div class="controls">
          <%= f.file_field :replacement_file %>
        </div>
      </div>

      <% if @foi_attachment.main_body_part? %>
        <div class="control-group">
          <%= f.label :replacement_body, class: 'control-label' %>

          <div class="controls">
            <%= f.text_area :replacement_body, rows: 20, class: 'span9' %>
          </div>
        </div>
      <% else %>
        <div class="control-group">
          <%= f.label :replaced_filename, class: 'control-label' %>

          <div class="controls">
            <%= f.text_field :replaced_filename %>
          </div>
        </div>
      <% end %>

      <div class="control-group">
        <%= f.label :replaced_reason, class: 'control-label' %>

        <div class="controls">
          <%= f.text_field :replaced_reason %>
          <span class="help-inline">
            Private reason why attachment as been replaced, such as GDPR case reference
          </span>
        </div>
      </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit 'Upload Replacement', class: 'btn btn-warning' %>
  </div>
<% end %>

<% if @foi_attachment.main_body_part? %>
  <hr />
  <h2>Unmasked message body (quotes unfolded):</h2>

  <blockquote>
    <div class="well well-small">
      <%= simple_format(@foi_attachment.unmasked_body) %>
    </div>
  </blockquote>
<% end %>
