<table class="table table-striped table-condensed">
  <tbody>
    <tr>
      <th>Batch page:</th>
      <td><%= link_to info_request_batch_url(info_request_batch), info_request_batch_path(info_request_batch) %></td>
    </tr>
    <% info_request_batch.for_admin_column do |name, value| %>
      <tr>
        <td>
          <b><%= name.humanize %></b>
        </td>

        <td>
          <% if name == 'body' %>
            <% truncated_value = truncate(h(value&.squish), length: 100, omission: '') { link_to '…', '#', title: 'Show more', class: 'toggle-hidden' } %>
            <%= simple_format(truncated_value) %>
            <div style="display:none;"><%= simple_format(value&.truncate(1000)) %></div>
          <% else %>
            <%= admin_value(value) %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>
        <b>Created by</b>
      </td>

      <td>
        <%= both_links(info_request_batch.user) %>
      </td>
    </tr>
  </tbody>
</table>

