<% cancelled = subscription.cancel_at_period_end %>
<% css_class = cancelled ? 'cancelled' : 'active' %>
<div class="cancel-subscription__status">
  <% if cancelled %>
  <p>
    <%= _('Your subscription has been cancelled, your access to ' \
          '{{pro_site_name}} will end on <strong>{{date}}</strong>.',
          pro_site_name: AlaveteliConfiguration.pro_site_name,
          date: simple_date(Time.zone.at(subscription.current_period_end),
                            format: :text)) %>
    <button class="button-unstyled js-control-cancel-subscription__message">
      <%= _('Details') %>
    </button>
  </p>
  <% else %>
  <p>
    <button class="button-secondary js-control-cancel-subscription__message">
      <%= _('Cancel your subscription') %>
    </button>
  </p>
  <% end %>
</div>



<div class="cancel-subscription__message <%= css_class %> js-cancel-subscription__message" id="cancel-subscription">
  <p>
    <%= _('Subscription cancellations are applied at the end of the ' \
          'current billing period (<strong>{{date}}</strong>).',
          date: simple_date(Time.zone.at(subscription.current_period_end),
                            format: :text)) %>
    <%= _('Until that date you will continue to have full access to ' \
          '{{pro_site_name}}.',
          pro_site_name: AlaveteliConfiguration.pro_site_name) %>
  </p>

  <% if cancelled %>
    <p><%= _('When the current billing period ends:') %></p>
  <% else %>
    <p><%= _('When you cancel your account:') %></p>
  <% end %>
    <ul>
      <li>
        <%= _("You'll lose access to any requests you still have in " \
              "draft.") %>
      </li>
      <li>
        <%= _("You won't be able to access {{pro_site_name}} tools, " \
              "including the dashboard and embargoes.",
              pro_site_name: AlaveteliConfiguration.pro_site_name) %>
      </li>
      <li>
        <%= _("You will still be able to see any requests which are " \
              "currently under an embargo, but you won't be able to add or " \
              "extend embargoes. These requests will be published when the " \
              "embargo ends.") %>
      </li>
      <li>
        <%= _("You can re-subscribe at any time and full access to these " \
              "features will be restored.") %>
      </li>
    </ul>
  <% unless cancelled %>
    <%= link_to _('I understand and still want to cancel'),
                subscription_path(subscription.id),
                method: :delete,
                data: { confirm: _('Are you sure?') },
                class: "button" %>
  <% end %>
</div>
