<li>
  <%= card.brand %>
  <%= card.last4 %>
  <%= card.exp_month %>/<%= card.exp_year %>
  <%= card_default_message(card.id, @customer.default_source) %>
  <%= card_expiry_message(card.exp_month, card.exp_year) %>
</li>
