<div class="settings__item">
  <div class="settings__item__primary">
    <p class="card-desc">
      <%= _('<strong>{{brand}}</strong> ending in {{last4}}, expiry ' \
            '{{exp_month}}/{{exp_year}}',
            brand: card.brand,
            last4: card.last4,
            exp_month: card.exp_month,
            exp_year: card.exp_year) %>
    </p>

    <%= card_expiry_message(card.exp_month, card.exp_year) %>
  </div>

  <div class="settings__item__primary">
    <%= form_tag(payment_method_path, id: 'js-stripe-update-form', class: 'stripe-form', method: :put) do %>
      <div id="card-element"></div>

      <%= submit_tag _('Update Card Details'), id: 'js-stripe-submit', disabled: true, data: { disable_with: 'Processing...' } %>
      <p id="card-errors"></p>

      <noscript>
        <div id="error">
          <p>
            <%= _('Updating your payment card requires your browser to have ' \
                  'JavaScript enabled.') %>
          </p>
        </div>
      </noscript>
    <% end %>
  </div>
</div>
