<div class="settings__item">
  <div class="settings__item__primary">
    <span class="card-desc">
      <%= _('<strong>{{brand}}</strong> ending in {{last4}}, expiry ' \
            '{{exp_month}}/{{exp_year}}',
            brand: card.brand,
            last4: card.last4,
            exp_month: card.exp_month,
            exp_year: card.exp_year)
        %>
    </span>

    <%= card_expiry_message(card.exp_month, card.exp_year) %>
  </div>

  <div class="settings__item__secondary">
    <%= form_tag(update_subscription_payment_path) do %>
      <%= hidden_field_tag 'old_card_id', card.id %>

      <%= stripe_button(
        label: _('Update Card Details'),
        panel_label: _('Update Card Details')
      ) %>

      <noscript>
        <div id="error">
          <p>
            <%= _('Updating your payment card requires your browser to have ' \
                  'JavaScript enabled.') %>
          </p>
        </div>
      </noscript>
    <% end %>
  </div>
</div>
