<li>
  <%= card.brand %>
  <%= card.last4 %>
  <%= card.exp_month %>/<%= card.exp_year %>
  <% if @customer.sources.count > 1 %>
    <%= card_default_message(card.id, @customer.default_source) %>
  <% end %>
  <%= card_expiry_message(card.exp_month, card.exp_year) %>
</li>
