<li class='subscription__list__item'>
  <%= subscription.plan.name %><br>
  Amount:
  <%= number_to_currency(subscription_amount(subscription) / 100.0,
                         unit: '£') %>
  <% if discount_applied?(subscription) %>
    <%= _('(with <b>{{discount_name}}</b> discount applied)',
          :discount_name => subscription.discount.coupon.id) %>
  <% end %>
  <br>
  Billed: <%= billing_frequency(subscription.plan.interval) %><br>
  Subscription created on
  <%= simple_date(
        Time.at(subscription.created),
        :format => :text) %><br>
  <% if subscription.cancel_at_period_end %>
    Your subscription will end on
    <%= simple_date(
          Time.at(subscription.current_period_end),
          :format => :text) %>
  <% else %>
     Your next payment will be taken on
     <%= simple_date(
           Time.at(subscription.current_period_end),
           :format => :text) %>
  <% end %>
</li>
