
<div class="plan-overview">
  <div class="plan-overview__desc">
    <%= subscription.price.product.name %>
  </div>

  <div class="plan-overview__amount">
    <%= format_currency(subscription.price.unit_amount_with_tax) %>
    <%= billing_frequency(subscription.price) %>
    <% if subscription.discounted? %>
      <br>
      <%= _('<strong>{{discounted_amount}}</strong> with discount ' \
            '<strong>{{discount_name}}</strong> applied',
            discount_name: subscription.discount_name,
            discounted_amount: format_currency(
              subscription.discounted_amount_with_tax
            )) %>
    <% end %>
  </div>
</div>

<div>
  <h4><%= _('Billing') %></h4>

  <table class="settings__table">
    <tr>
      <th scope="row">
        <%= _('Subscription began') %>
      </th>
      <td>
        <%= _('{{date}}',
              date: simple_date(Time.zone.at(subscription.created),
                                :format => :text)) %>
      </td>
    </tr>

    <% if subscription.cancel_at_period_end %>
      <tr>
        <th scope="row">
          <%= _('Subscription ends') %>
        </th>
        <td>
          <%= _('{{date}}',
                date: simple_date(Time.zone.at(subscription.current_period_end),
                                  :format => :text)) %>
        </td>
      </tr>
    <% else %>
      <tr>
        <th scope="row">
          <%= _('Next payment') %>
        </th>
        <td>
          <%= _('{{date}}',
                date: simple_date(Time.zone.at(subscription.current_period_end),
                                  :format => :text)) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="cancel-sub-section">
  <h4><%= _('Cancel subscription') %></h4>
  <div class="settings__item">
    <%= render 'cancel_subscription', subscription: subscription %>
  </div>
</div>
