<li class='subscription__list__item'>
  <%= subscription.plan.name %><br>
  Amount: <%= number_to_currency(subscription.plan.amount * 1.2 / 100.0) %><br>
  Billed: <%= billing_frequency(subscription.plan.interval) %><br>
  <% if subscription.cancel_at_period_end %>
    Your subscription will end on
    <%= simple_date(
          Time.at(subscription.current_period_end),
          :format => :text) %>
  <% else %>
     Your next payment will be taken on
     <%= simple_date(
           Time.at(subscription.current_period_end),
           :format => :text) %>
  <% end %>
</li>
