<% content_for :javascript_head do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    AlaveteliPro.stripe_publishable_key = '<%= AlaveteliConfiguration.stripe_publishable_key %>';
    AlaveteliPro.stripe_local = '<%= stripe_locale %>';
  <% end %>

  <%= javascript_include_tag 'alaveteli_pro/stripe' %>
<% end %>

<div class="inner-canvas settings">

  <div class="inner-canvas-header">
    <div class="row">
      <h1><%= _("Settings") %></h1>
    </div>
  </div>

  <div class="inner-canvas-body">
    <div class="row">
      <div class="settings-left-column">
        <%= render partial: 'alaveteli_pro/general/log_in_bar' %>
      </div>
      <div class="settings-right-column">
        <h2><%= _('Account') %></h2>
        <div class="settings-section">
          <h3><%= _('Your current subscription') %></h3>

          <%= render partial: 'subscription',
                     locals: { subscription: @subscriptions.first } %>
        </div>

        <div class="settings-section">
          <h3><%= _('Your payment details') %></h3>
          <% if @customer.default_source %>
            <%= render partial: 'card', locals: { card: @card } %>
          <% else %>
            <%= render partial: 'add_card' %>
          <% end %>
        </div>

        <% if @referral = AlaveteliPro::Coupon.referral %>
          <div class="settings-section">
            <h3><%= _('Refer a friend') %></h3>
            <p class="settings__item">
              <%= _('Share the code {{discount_code}} with a friend to give ' \
                    'them {{discount_terms}} on signup.',
                    discount_code: content_tag(:strong, @referral.to_param),
                    discount_terms: @referral.terms) %>
            </p>
          </div>
        <% end %>

      </div>  <!-- .settings-right-column -->

    </div>  <!-- .row -->

  </div>  <!-- .inner-canvas-body -->

</div>  <!-- .inner-canvas -->
