<div class="inner-canvas settings">

  <div class="inner-canvas-header">
    <div class="row">
      <h1><%= _("Settings") %></h1>
    </div>
  </div>

  <div class="inner-canvas-body">
    <div class="row">
      <div class="settings-left-column">
      </div>
      <div class="settings-right-column">
        <h2><%= _('Account') %></h2>
        <div class="settings-section">
          <h3><%= _('Your current subscription') %></h3>

          <%= render partial: 'subscription',
                     locals: { subscription: @subscriptions.first } %>
        </div>

        <div class="settings-section">
          <h3><%= _('Your payment details') %></h3>
          <% if @customer.default_source %>
            <%= render partial: 'card', locals: { card: @card } %>
          <% elsif @subscriptions.first.free? %>
            <%= _("Your subscription level is free so you don't need a card") %>
          <% end %>
        </div>

      </div>  <!-- .settings-right-column -->

    </div>  <!-- .row -->

  </div>  <!-- .inner-canvas-body -->

</div>  <!-- .inner-canvas -->
