<%= error_messages_for 'admin_user' %>

<!--[form:admin_user]-->

<div class="control-group">
  <label for="admin_user_name" class="control-label">Name</label>
  <div class="controls">
    <%= text_field 'admin_user', 'name', :class => "span3" %>
    <div class="help-block">
      will change URL name and break URLs; unlike authorities, there is no history; you will need to rebuild the search index afterwards
    </div>
  </div>
</div>

<div class="control-group">
  <label for="admin_user_email" class="control-label">Email</label>
  <div class="controls">
    <%= text_field 'admin_user', 'email', :class => "span3"  %>
    <div class="help-block">
      <strong>you must</strong> first validate this
    </div>
  </div>
</div>

<div class="control-group">
  <label for="admin_level" class="control-label">Admin level</label>
  <div class="controls">
    <%= text_field 'admin_user', 'admin_level', :class => "span3" %>
    <div class="help-block">
      <strong>none</strong> or <strong>super</strong>; this is for admin features and links which are in the site proper
    </div>
  </div>
</div>

<div class="control-group">
  <label for="ban_text" class="control-label">Ban text</label>
  <div class="controls">
    <%= text_area 'admin_user', 'ban_text', :class => "span6", :rows => 3  %>
    <div class="help-block">
      if not blank will stop the
      user from filing new requests, making annotations or messaging other users;
      the text is shown in public on the user's page and when they try to do a
      forbidden action; write in the second person (you); see
      <%= link_to 'banned users', banned_admin_users_path %> for examples</small>
    </div>
  </div>
</div>

<div class="control-group">
  <label for="about_me" class="control-label">About me</label>
  <div class="controls">
    <%= text_area 'admin_user', 'about_me', :class => "span6", :rows => 3  %>
    <div class="help-block">
      user's own text on their profile, format like comments
    </div>
  </div>
</div>
<div class="control-group">
  <label for="admin_user_no_limit" class="control-label">No rate limit</label>
  <div class="controls">
    <%= check_box 'admin_user', 'no_limit' %>
    <div class="help-block">
      disable the limit on daily requests
    </div>
  </div>
</div>
<div class="control-group">
  <label for="admin_user_can_make_batch_requests" class="control-label">Can make batch requests</label>
  <div class="controls">
    <%= check_box 'admin_user', 'can_make_batch_requests' %>
    <div class="help-block">
      allows the user to send a request to multiple authorities at once
    </div>
  </div>
</div>
