<div class="accordion" id="users">
<% users.each do |user| %>
  <div class="accordion-group">
    <div class="accordion-heading accordion-toggle">
      <span class="item-title">
        <a href="#user_<%= user.id %>" data-toggle="collapse" data-parent="requests"><%= chevron_right %></a>

        <%= both_links(user) %>

        <%= link_to("(#{ h(user.email) })", "mailto:#{ h(user.email) }") %>

        <span class="user-labels">
          <%= user_labels(user) %>
        </span>
      </span>
      <span class="item-metadata">
        updated <%= admin_date(user.updated_at, ago: false) %>
    </span>
    </div>
    <div id="user_<%= user.id %>" class="accordion-body collapse">
      <table class="table table-striped table-condensed">
        <tbody>
          <% if user.banned? %>
            <tr>
              <td><b>Ban text</b></td>
              <td><%= h user.ban_text %></td>
            </tr>
          <% end %>

          <% user.for_admin_column do |name, value| %>
            <tr>
              <td><b><%= h name %></b></td>
              <td>
                <%= admin_value(value) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="span12 text-right">
          <%= form_tag admin_users_account_suspensions_path(user_id: user.id, suspension_reason: 'Banned for spamming'), class: 'form form-inline' do %>
            <% disabled = user.suspended? %>
            <% submit_class = %w(btn btn-danger) %>
            <% submit_class << 'disabled' if disabled %>
            <%= submit_tag 'Ban for spamming', class: submit_class, disabled: disabled %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= will_paginate(users, :class => "paginator") %>

