<div class="accordion" id="users">
<% users.each do |user| %>
  <div class="accordion-group">
    <div class="accordion-heading accordion-toggle">
      <span class="item-title">
        <a href="#user_<%= user.id %>" data-toggle="collapse" data-parent="requests"><%= chevron_right %></a>
        <span class="user-labels">
          <%= user_labels(user) %>
        </span>
        <%= link_to(user.name, admin_user_path(user)) %>
        <%= link_to("(#{ h(user.email) })", "mailto:#{ h(user.email) }") %>
      </span>
      <span class="item-metadata">
        updated <%= I18n.l(user.updated_at, :format => "%e %B %Y %H:%M:%S") %>
    </span>
    </div>
    <div id="user_<%= user.id %>" class="accordion-body collapse">
      <table class="table table-striped table-condensed">
        <tbody>
          <% if banned_column %>
            <tr>
              <td><b>Ban text</b></td>
              <td><%= h user.ban_text %></td>
            </tr>
          <% end %>

          <% user.for_admin_column do |name, value, type|%>
            <tr>
              <td><b><%= h name %></b></td>
              <td>
                <% if type == 'datetime' %>
                  <%= I18n.l(value, :format => "%e %B %Y %H:%M:%S") %>
                  (<%= _('{{length_of_time}} ago', :length_of_time => time_ago_in_words(value)) %>)
                <% else %>
                  <%= h value %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="span12 text-right">
          <%= form_tag admin_users_account_suspensions_path(user_id: user.id, suspension_reason: 'Banned for spamming'), class: 'form form-inline' do %>
            <% disabled = user.suspended? %>
            <% submit_class = %w(btn btn-danger) %>
            <% submit_class << 'disabled' if disabled %>
            <%= submit_tag 'Ban for spamming', class: submit_class, disabled: disabled %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= will_paginate(users, :class => "paginator") %>

