<h1><%=@title%></h1>

<%= form_tag admin_user_path(@admin_user), :method => 'put', :class => "form form-horizontal" do %>
  <%= render :partial => 'form' %>
  <div class="form-actions">
    <%= submit_tag 'Save', :accesskey => 's', :class => "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Show', admin_user_path(@admin_user), :class => "btn" %>
<%= link_to 'List all', admin_users_path, :class => "btn" %>
