<% @title = _('Listing users') %>

<h1><%=@title%></h1>

<%= form_tag({}, :method => "get", :class => "form form-search") do %>
  <%= text_field_tag 'query', params[:query], { :size => 30, :class => "input-large search-query"} %>
  <%= submit_tag "Search", :class => "btn" %> (substring search, names and emails)
  <%= link_to 'Banned users', banned_admin_users_path, :class => "btn btn-info" %>
<% end %>

<%= render :partial => 'user_table', :locals => { :users => @admin_users, :banned_column => false } %>
