<% if @public_body.errors.any? %>
  <ul>
    <% @public_body.errors.each do |attr, message| %>
      <% unless attr.to_s.starts_with?('translation') %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% @public_body.ordered_translations.each do |translation| %>
  <% if translation.errors.any? %>
    <%= locale_name(translation.locale.to_s) || translation.locale.to_s %>
    <ul>
      <% translation.errors.each do |attr, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<!--[form:public_body]-->

<div id="div-locales">
  <ul class="locales nav nav-tabs">
    <% @public_body.ordered_translations.each do |translation| %>
      <li>
        <a href="#div-locale-<%= translation.locale.to_s %>" data-toggle="tab">
          <%= locale_name(translation.locale.to_s) || translation.locale.to_s %>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @public_body.ordered_translations.each do |translation| %>
      <% if translation.locale.to_s == I18n.default_locale.to_s %>
        <%= fields_for('public_body', @public_body) do |t| %>
          <%= render :partial => 'locale_fields', :locals => { :t => t, :locale => translation.locale } %>
        <% end %>
      <% else %>
        <%= f.fields_for(:translations, translation, :child_index => translation.locale) do |t| %>
          <%= render :partial => 'locale_fields' , :locals => { :t => t, :locale => translation.locale } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<h3>Common Fields</h3>
<div class="control-group">
  <label for="public_body_tag_string" class="control-label"><%=_("Tags")%></label>
  <div class="controls">
    <%= f.text_field :tag_string, :class => "span4" %>
    <p class="help-block">space separated; see list of tags on the right; also <strong>not_apply</strong> if FOI and EIR no longer apply to authority, <strong>eir_only</strong> if EIR but not FOI applies to authority, <strong>defunct</strong> if the authority no longer exists; charity:NUMBER if a registered charity</p>
  </div>
</div>
<div class="control-group">
  <label for="public_body_home_page" class="control-label"><%=_("Home page")%></label>
  <div class="controls">
    <%= f.text_field :home_page, :class => "span4"  %>
    <p class="help-block">(of whole authority, not just their FOI page; set to <strong>blank</strong> (empty string) to guess it from the email)</p>
  </div>
</div>
<div class="control-group">
  <label for="public_body_disclosure_log" class="control-label"><%=_("Disclosure log URL")%></label>
  <div class="controls">
    <%= f.text_field :disclosure_log, :size => 60, :class => "span4" %>
  </div>
</div>
<div class="control-group">
  <label for="public_body_last_edit_comment" class="control-label"><strong>Comment</strong> for this edit</label>
  <div class="controls">
    <%= f.text_area :last_edit_comment, :rows => 3, :class => "span6"  %></p>
  <p class="help-block">put URL or other source of new info</p>
  </div>
</div>
<% if @change_request %>
  <%= render :partial => 'admin_public_body_change_requests/response' %>

<% end %>
<!--[eoform:public_body]-->
