<%= error_messages_for 'public_body' %>

<!--[form:public_body]-->

<div id="div-locales">
  <ul class="locales nav nav-tabs">
  <% I18n.available_locales.each_with_index do |locale, i| %>
    <li><a href="#div-locale-<%=locale.to_s%>" data-toggle="tab" ><%=locale_name(locale.to_s) || _("Default locale")%></a></li>
  <% end %>
  </ul>
  <div class="tab-content">
<% I18n.available_locales.each do |locale| %>
    <% context = public_body_form_object(@public_body, locale) %>

    <%= fields_for context[:prefix], context[:object] do |t| %>
    <div class="tab-pane" id="div-locale-<%=locale.to_s%>">
      <div class="control-group">
        <%= t.hidden_field :locale, :value => locale.to_s %>
        <label for="<%= form_tag_id(t.object_name, :name, locale) %>" class="control-label">Name</label>
        <div class="controls">
          <%= t.text_field :name, :id => form_tag_id(t.object_name, :name, locale), :class => "span4" %>
        </div>
      </div>
      <div class="control-group">
        <label for="<%= form_tag_id(t.object_name, :short_name, locale) %>", class="control-label"><%=_("Short name")%></label>
        <div class="controls">
          <%= t.text_field :short_name, :id => form_tag_id(t.object_name, :short_name, locale), :class => "span2"  %>
          <p class="help-block"><%=_("Only put in abbreviations which are really used, otherwise leave blank. Short or long name is used in the URL – don't worry about breaking URLs through renaming, as the history is used to redirect")%></p>
        </div>
      </div>
      <div class="control-group">
        <label for="<%= form_tag_id(t.object_name, :request_email, locale) %>" class="control-label"><%=_("Request email")%></label>
        <div class="controls">
          <%= t.text_field :request_email, :id => form_tag_id(t.object_name, :request_email, locale), :class => "span3" %>
          <p class="help-block"><%=_("set to <strong>blank</strong> (empty string) if can't find an address; these emails are <strong>public</strong> as anyone can view with a CAPTCHA")%></p>
        </div>
      </div>
      <div class="control-group">
        <label for="<%= form_tag_id(t.object_name, :publication_scheme, locale) %>" class="control-label"><%=_("Publication scheme URL")%></label>
        <div class="controls">
          <%= t.text_field :publication_scheme, :size => 60, :id => form_tag_id(t.object_name, :publication_scheme, locale), :class => "span3" %>
        </div>
      </div>
      <div class="control-group">
        <label for="<%= form_tag_id(t.object_name, :notes, locale) %>" class="control-label"><%=_("Public notes")%></label>
        <div class="controls">
          <%= t.text_area :notes, :rows => 3, :id => form_tag_id(t.object_name, :notes, locale), :class => "span6" %>
          <p class="help-block">
            HTML, for users to consider when making FOI requests to the authority
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
  </div>
</div>

<h3>Common Fields</h3>
<div class="control-group">
  <label for="public_body_tag_string" class="control-label"><%=_("Tags")%></label>
  <div class="controls">
    <%= f.text_field :tag_string, :class => "span4" %>
    <p class="help-block">space separated; see list of tags on the right; also <strong>not_apply</strong> if FOI and EIR no longer apply to authority, <strong>eir_only</strong> if EIR but not FOI applies to authority, <strong>defunct</strong> if the authority no longer exists; charity:NUMBER if a registered charity</p>
  </div>
</div>
<div class="control-group">
  <label for="public_body_home_page" class="control-label"><%=_("Home page")%></label>
  <div class="controls">
    <%= f.text_field :home_page, :class => "span4"  %>
    <p class="help-block">(of whole authority, not just their FOI page; set to <strong>blank</strong> (empty string) to guess it from the email)</p>
  </div>
</div>
<div class="control-group">
  <label for="public_body_disclosure_log" class="control-label"><%=_("Disclosure log URL")%></label>
  <div class="controls">
    <%= f.text_field :disclosure_log, :size => 60, :class => "span4" %>
  </div>
</div>
<div class="control-group">
  <label for="public_body_last_edit_comment" class="control-label"><strong>Comment</strong> for this edit</label>
  <div class="controls">
    <%= f.text_area :last_edit_comment, :rows => 3, :class => "span6"  %></p>
    <p class="help-block">put URL or other source of new info</p>
  </div>
</div>
<% if @change_request %>
  <%= render :partial => 'admin_public_body_change_requests/response' %>

<% end %>
<!--[eoform:public_body]-->
