
<div class="tab-pane" id="div-locale-<%=locale.to_s%>">
  <div class="control-group">
    <%= t.hidden_field :locale, :value => locale.to_s %>
    <%= t.label :name, 'Name', :class => 'control-label' %>
    <div class="controls">
      <%= t.text_field :name, :class => "span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= t.label :short_name, 'Short name', :class => 'control-label' %>
    <div class="controls">
      <%= t.text_field :short_name, :class => "span2"  %>
      <p class="help-block">
        <%=_("Only put in abbreviations which are really used, otherwise leave blank. Short or long name is used in the URL – don't worry about breaking URLs through renaming, as the history is used to redirect")%>
      </p>
    </div>
  </div>

  <div class="control-group">
    <%= t.label :request_email, 'Request email', :class => 'control-label' %>
    <div class="controls">
      <%= t.text_field :request_email, :class => "span3" %>
      <p class="help-block">
        <%=_("set to <strong>blank</strong> (empty string) if can't find an address; these emails are <strong>public</strong> as anyone can view with a CAPTCHA")%>
      </p>
    </div>
  </div>

  <div class="control-group">
    <%= t.label :publication_scheme, 'Publication scheme URL', :class => 'control-label' %>
    <div class="controls">
      <%= t.text_field :publication_scheme, :size => 60, :class => "span3" %>
    </div>
  </div>

  <div class="control-group">
    <%= t.label :notes, 'Public notes', :class => 'control-label' %>
    <div class="controls">
      <%= t.text_area :notes, :rows => 3, :class => "span6" %>
      <p class="help-block">
        HTML, for users to consider when making FOI requests to the authority
      </p>
    </div>
  </div>

</div>

