<% for t in body.tags %>
    <% if t.value %>
        <%= link_to(h(t.name), main_url(list_public_bodies_url(:tag => t.name, :only_path => true))) %>:<%= link_to(h(t.value), main_url(list_public_bodies_url(:tag => t.name_and_value, :only_path => true))) %>
    <% else %>
        <%= link_to(h(t.name), main_url(list_public_bodies_url(:tag => t.name, :only_path => true))) %>
    <% end %>
    (<a href="<%= admin_url('body/list') %>?query=<%= h(t.name)%>">admin</a>)
<% end %>



