<h1><%=@title%></h1>

<div class="row">
  <div class="span8">
    <div id="public_body_form">
      <%= form_for @public_body, :url => admin_body_path(@public_body),  :method => 'put', :html => { :class => "form form-horizontal" } do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <div class="form-actions">
          <%= f.submit 'Save', :accesskey => 's', :class => "btn btn-success" %></p>
        </div>
      <% end %>

      <div class="row">
        <div class="span8">
          <div class="well">
            <%= link_to 'Show', admin_body_path(@public_body), :class => "btn" %>
            <%= link_to 'List all', admin_bodies_path, :class => "btn" %>
          </div>
        </div>
      </div>

      <% if @public_body.info_requests.empty? %>
        <%= form_tag(admin_body_path(@public_body), :class => "form form-inline", :method => 'delete') do %>
          <%= submit_tag _("Destroy {{name}}", :name => @public_body.name), :class => "btn btn-danger" %> (this is permanent!)
        <% end %>
      <% end %>
    </div>

  </div>
  <div class="span4">
    <%= render :partial => 'tag_help' %>
  </div>
</div>
