<% @title = 'New public authority' %>

<h1><%=@title%></h1>
<div class="row">
  <div class="span8">
    <div id="public_body_form">
      <%= form_for @public_body, :as => :public_body, :url => admin_bodies_path, :html => {:class => "form form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>


        <div class="form-actions">
          <%= f.submit "Create", :class => "btn btn-success"  %>
        </div>
      <% end %>
      <div class="row">
        <div class="span8 well">
          <%= link_to 'List all', admin_bodies_path, :class => "btn" %>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <% if @change_request %>
      <h3>Change Request</h3>
      <%= render partial: 'admin_general/change_request_summary' %>
    <% end %>

    <% if @public_body.ordered_translations.many? %>
      <div class="alert alert-info">
        <i class="icon-info-sign"></i>
        Make sure you add the request email for <em>all</em> locales.
      </div>
    <% end %>

    <%= render :partial => 'tag_help' %>
  </div>
</div>
