<h1><%= @title %></h1>

<%= form_tag({}, method: :get, class: 'form form-search') do %>
  <div class="input-append">
    <%= text_field_tag 'query', params[:query], size: 30, class: 'input-large search-query' %>
    <%= submit_tag 'Search', class: 'btn' %>
  </div>

  <span class="help-inline">(substring search, body)</span>
<% end %>

<%= render partial: 'admin_request/some_annotations' ,
           locals: { comments: @comments } %>

<%= will_paginate(@comments) %>
