<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-gb">
    <head>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" >
      <title><%= site_name %> admin<%= @title ? ":" : "" %> <%=@title%></title>
      
      <%= javascript_include_tag 'jquery.js', 'jquery-ui.min' %>

      <%= stylesheet_link_tag 'admin-theme/jquery-ui-1.8.15.custom.css', :rel => 'stylesheet'%>
      <%= stylesheet_link_tag 'admin', :title => "Main", :rel => "stylesheet"  %>
    </head>
    <body class="admin">

    <p>
    <strong><%= link_to 'Alaveteli', main_url('/') %> admin:</strong> 
    <%= link_to 'Summary', admin_url("") %>
    | <%= link_to 'Timeline', admin_url("timeline") %>
    | <%= link_to 'Stats', admin_url("stats") %>
    | <%= link_to 'Debug', admin_url("debug") %>
    <strong>View:</strong>
    <%= link_to 'Authorities', admin_url("body/list") %>
    | <%= link_to 'Requests', admin_url("request/list") %>
    | <%= link_to 'Users', admin_url("user/list") %>
    | <%= link_to 'Tracks', admin_url("track/list") %>
    </p>
    <%= render :partial => 'general/locale_switcher' %>

    <% if flash[:error] %>
        <p id="error"><%= flash[:error] %></p>
    <% end %>

    <% if flash[:notice] %>
        <p id="notice"><%= flash[:notice] %></p>
    <% end %>

    <%= yield  %>
    
    </body>
</html>
