<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <title>
      <% if @title %>
        <%=@title%> - <%= site_name %>
      <% else %>
        <%= site_name %> - <%= _('Make and browse Freedom of Information (FOI) requests') %>
      <% end %>
    </title>

    <%= render :partial => 'layouts/favicon' %>

    <%= render :partial => 'general/stylesheet_includes' %>
    <% if is_admin? %>
      <%= stylesheet_link_tag "admin", :title => "Main", :rel => "stylesheet" %>
    <% end %>

    <% if @feed_autodetect %>
      <% for feed in @feed_autodetect %>
        <link rel="alternate" type="application/atom+xml" title="<%=h feed[:title] %>" href="<%=h feed[:url]%>">
        <% if feed[:has_json] %>
          <link rel="alternate" type="application/json" title="JSON version of <%=h feed[:title] %>" href="<%=h feed[:url]%>.json">
        <% end %>
      <% end %>
    <% end %>
    <% if @has_json %>
      <link rel="alternate" type="application/json" title="JSON version of this page" href="<%=h url_for(request.params.merge(:format => 'json')) %>">
    <% end %>
    <% if @no_crawl %>
      <meta name="robots" content="noindex, nofollow">
    <% end %>
    <% if AlaveteliConfiguration::responsive_styling || params[:responsive] %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% end %>
    <%= render :partial => 'general/opengraph_tags' %>
    <%= render :partial => 'general/before_head_end' %>
  </head>
  <body class="<%= 'front' if params[:action] == 'frontpage' %>">
    <% if is_admin? %>
      <%= render :partial => 'admin_general/admin_navbar' %>
    <% end %>
    <div class="entirebody">
      <a href="#content" class="show-with-keyboard-focus-only skip-to-link" tabindex="0">Skip to content</a>
      <% popup_banner = render(:partial => "general/popup_banner").strip %>
      <% if popup_banner.present? and  ! @render_to_file %>
        <div id="everypage" class="popup">
          <span class="popup-content">
            <%= raw popup_banner %>
          </span>
          <span class="popup-close"><a href="#top" ><%= _('Close') %></a></span>
        </div>
      <% end %>
      <div id="other-country-notice" class="popup">
        <span class="popup-content">
        </span>
        <span class="popup-close"><a href="#top" ><%= _('Close') %></a></span>
      </div>
      <% if AlaveteliConfiguration::responsive_styling || params[:responsive] %>
        <%= render :partial => 'general/responsive_header' %>
      <% else %>
        <%= render :partial => 'general/header' %>
      <% end %>
      <div id="wrapper">
        <div id="content" role="main">
          <% unless params[:action] == 'frontpage' %>
            <% if flash[:notice] %>
              <div id="notice"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:error] %>
              <div id="error"><%= flash[:error] %></div>
            <% end %>
          <% end %>

          <div id="<%= controller.controller_name + "_" + controller.action_name %>" class="controller_<%= controller.controller_name %>">
            <%= yield :layout %>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
      <% if AlaveteliConfiguration::responsive_styling || params[:responsive] %>
        <%= render :partial => 'general/responsive_footer' %>
      <% else %>
        <%= render :partial => 'general/footer' %>
      <% end %>

    </div>
    <%
        unless AlaveteliConfiguration::ga_code.empty? || (@user && @user.super?) %>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= AlaveteliConfiguration::ga_code %>', 'auto');
      <% if content_for? :ga_pageview %>
        <%= content_for :ga_pageview %>
      <% else %>
        ga('send', 'pageview');
      <% end %>
      </script>
    <% end %>

    <%= javascript_include_tag "application" %>
    <% if is_admin? %>
      <%= javascript_include_tag "bootstrap-dropdown" %>
    <% end %>
    <% if AlaveteliConfiguration::force_registration_on_new_request && !@user %>
      <%= javascript_include_tag 'fancybox.js' %>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#make-request-link").fancybox({
            'modal': false,
            'width': 950,
            'height': 400,
            'type': 'iframe',
            'href': '/<%= FastGettext.locale %>/profile/sign_in?modal=1',
            'onClosed': function() {
              // modal_signin_successful variable set by modal dialog box
              if (typeof modal_signin_successful != 'undefined' ) {
                window.location.href = '<%= select_authority_url %>';
              }
            }
          });
        });
      </script>
    <% end %>
    <%= content_for :javascript %>

    <%= render :partial => 'general/before_body_end' %>

    <a href="#content" class="show-with-keyboard-focus-only skip-to-link">
      <%= _('Back to content') %>
    </a>
  </body>
</html>
