<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
    <head>
        <meta charset="utf-8">
        <title>
        <% if @title %>
            <%=@title%> - <%= site_name %>
        <% else %>
            <%= site_name %> - <%= _('Make and browse Freedom of Information (FOI) requests') %>
        <% end %>
        </title>

        <script type="text/javascript" src="/javascripts/jquery.js"></script>

        <%= stylesheet_link_tag 'main', :title => "Main", :rel => "stylesheet" %>
        <%= stylesheet_link_tag 'fonts', :rel => "stylesheet" %>
        <%= stylesheet_link_tag 'theme', :rel => "stylesheet" %>
        <!--[if LT IE 7]>
        <style type="text/css">@import url("/stylesheets/ie6.css");</style>
        <![endif]-->
        <%= stylesheet_link_tag 'custom', :title => "Main", :rel => "stylesheet"  %>
    </head>
    <body>
        <div class="entirebody">
            <div id="content">
                <% if flash[:notice] %>
                    <div id="notice"><%= flash[:notice] %></div>
                <% end %>
                <% if flash[:error] %>
                    <div id="error"><%= flash[:error] %></div>
                <% end %>

                <div id="<%= controller.controller_name + "_" + controller.action_name %>" class="controller_<%= controller.controller_name %>">
                <%= yield :layout %>
                </div>
            </div>
        </div>
    </body>
</html>
