<!DOCTYPE html>
<html lang="<%= AlaveteliLocalization.html_lang %>">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <title>
      <% if @title %>
        <%=@title%> - <%= site_name %>
      <% else %>
        <%= site_name %> - <%= _('Make and browse Freedom of Information (FOI) requests') %>
      <% end %>
    </title>

    <%= javascript_include_tag "application" %>

    <%= render :partial => 'general/responsive_stylesheets' %>
    <%= render :partial => 'layouts/favicon' %>
  </head>
  <body>
    <div class="entirebody">
      <div id="content">
        <% if flash[:notice] %>
          <div id="notice"><%= render_flash(flash[:notice]) %></div>
        <% end %>
        <% if flash[:error] %>
          <div id="error"><%= render_flash(flash[:error]) %></div>
        <% end %>

        <div id="<%= controller.controller_name + "_" + controller.action_name %>" class="controller_<%= controller.controller_name %>">
          <%= yield :layout %>
        </div>
      </div>
    </div>
  </body>
</html>
